{% extends "crud/item_base.html" %}
{% block crud_title %}
    {% if instance.request_type == 'volunteer'%}
        {% trans %}Edit Volunteer Request{% endtrans %}
    {% else %}
        {% trans %}Edit Requester Account Request{% endtrans %}
    {% endif %}
{% endblock %}

{% block actions %}
    <a class="btn pull-right" style="margin-right: 6px;" href="#ApprovalForm" role="button" data-toggle="modal">
        <i class="icon-key"></i>
        {% trans %}Set Permissions{% endtrans %}
    </a>
{% endblock %}

{% block after_js %}
{{ super() }}

{{ modal_macros.render_modal(approval_form, uri_for('account_request_approval', account_request_key=instance.key.urlsafe()), "ApprovalForm", _("Set Permissions"), _("Submit")) }}
{% endblock %}
