<ul class="nav navbar-nav navbar-right">
  
  {# user drop-down #}
  {% if user.is_authenticated() %}          
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-user"></i>
        {{ user.display_name }}
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li class="{% if url('profile') in request.path %}active{% endif %}">
          <a href="{{ url('profile') }}">
            <i class="fa fa-user"></i>
            {% trans %}Profile{% endtrans %}
          </a>
        </li>
        {% if user.is_staff or user.is_superuser %}
          <li>
            <a href="{{ url('admin:index') }}">
              <i class="fa fa-gears"></i>
              {% trans %}Admin{% endtrans %}
            </a>
          </li>
          <li class="{% if url('statistics') in request.path %}active{% endif %}">
            <a href="{{ url('statistics') }}">
              <i class="fa fa-signal"></i>
              {% trans %}Statistics{% endtrans %}
            </a>
          </li>
        {% endif %}
        <li>
          <a href="{{ url('logout') }}">
            <i class="fa fa-sign-out"></i>
            {% trans %}Sign out{% endtrans %}
          </a>
        </li>
      </ul>
    </li>
  {% else %}
    <li>
      <a href="{{ url('login') }}">
        <i class="fa fa-sign-in"></i>
        {% trans %}Sign In{% endtrans %}
      </a>
    </li>
  {% endif %}

  {# language chooser #}
  <li class="dropdown">
    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
      <i class="fa fa-language"></i>
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu" role="menu">
      {% for locale in LANGUAGES %}
        <li {% if LANGUAGE_LC == locale.0 %}class="active"{% endif %}>
          <a href="{{url('account_set_language', locale.0)}}?go=/">
            {{ locale.1 }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </li>
</ul>
