<ul class="nav navbar-nav">
  <li>
    {% if user.is_authenticated() %}
      <a href="https://data.occrp.org/api/1/sessions/login">
        <i class="fa fa-search"></i> {% trans %}Search{% endtrans %}
      </a>
    {% else %}
      <a href="https://data.occrp.org">
        <i class="fa fa-search"></i> {% trans %}Search{% endtrans %}
      </a>
    {% endif %}
  </li>
  <li class="{% if url('databases:index') in request.path %}active{% endif %}">
    <a href="{{ url('databases:index') }}">
      <i class="fa fa-database"></i> {% trans %}External Databases{% endtrans %}
    </a>
  </li>
  {% if user.is_authenticated() %}
    <li class="{% if url('tickets_home') in request.path %}active{% endif %}">
      <a id="nav-id-spa" href="{{ url('tickets_home') }}">
        <i class="fa fa-comments-o"></i>
        {% trans %}Research Requests{% endtrans %}
      </a>
    </li>
  {% else %}
    <li>
      <a href="{{ url('login') }}?next={{ url('tickets_home') }}">
        <i class="fa fa-comments-o"></i>
        {% trans %}Research Requests{% endtrans %}</a>
    </li>
  {% endif %}
</ul>
