{% macro render_radiofield(field) %}
  {% for value, label in field.field.choices %}
    <label class="radio">
      <input type="radio" name="{{ field.html_name }}" {% if field.value() == value %}checked="checked"{% endif %}
           id="{{ field.auto_id }}-{{ loop.index }}" value="{{ value }}">
      {{ label }}
    </label>
  {% endfor %}
{% endmacro %}

{% macro render_datefield(field) %}
  <div class="input-group">
    <input class="form-control" name="{{ field.html_name }}"
           id="{{ field.auto_id }}" {% if field.value() %}value="{{ field.value() }}"{% endif %}>
    <span class="add-on"><i class="fa fa-calendar"></i></span>
  </div>
{% endmacro %}

{% macro render_text(field, type='text') %}
  <input type="{{type}}" class="form-control" name="{{ field.html_name }}"
          id="{{ field.auto_id }}" {% if field.value() %}value="{{ field.value() }}"{% endif %}>
{% endmacro %}

{% macro render_captcha(field) %}
  {{ field }}
{% endmacro %}

{% macro render_select(field) %}
  <select class="form-control" name="{{ field.html_name }}"
          id="{{ field.auto_id }}">
    {{ field.field.widget.render_options([field.value()]) | safe }}
  </select>
{% endmacro %}

{% macro render_classedtextareafield(field) %}
  <textarea class="{{ field.css_class }}"
      {% if field.placeholder %}placeholder="{{ field.placeholder }}"{% endif %}
      name="{{ field.name }}" id="{{ field.name }}" rows="{{ field.rows }}">{{ field.value if field.value else '' }}</textarea>
{% endmacro %}

{% macro render_errors(field) %}
  {% if field.errors %}
    <span class="help-block">
      {% for error in field.errors %}
        {{ error }}
      {% endfor %}
    </span>
  {% endif %}
{% endmacro %}

{% macro render_helptext(field) %}
  {% if field.help_text %}
    <span class="help-block">
      {{ field.help_text|safe }}
    </span>
  {% endif %}
{% endmacro %}

{% macro render_field(field) %}
  {% if field.type == 'HiddenField' %}
    {{ field }}
  {% elif field.type == 'HiddenKeyField' %}
    {{ render_hiddenkeyfield(field) }}
  {% else %}
    <div class="form-group {% if field.errors %}has-error{% endif %}">
      {% if field.name != "" %}
      <label class="col-sm-3 control-label" for="{{ field.auto_id }}">
        {{ get_verbose_or_field_name(field) }}{% if field.field.required %}*{% endif %}
      </label>
      {% endif %}
      <div class="col-sm-9">
        {% if get_field_type(field) == 'RadioField' or get_field_type(field) == 'RadioSelect'  %}
          {{ render_radiofield(field) }}
        {% elif get_field_type(field) == 'DateField' or get_field_type(field) == 'DateInput' %}
          {{ render_datefield(field) }}
        {% elif get_field_type(field) == 'TextInput' %}
          {{ render_text(field) }}
        {% elif get_field_type(field) == 'CaptchaTextInput' %}
          {{ render_captcha(field) }}
        {% elif get_field_type(field) == 'PasswordInput' %}
          {{ render_text(field, type='password') }}
        {% elif get_field_type(field) == 'EmailInput' %}
          {{ render_text(field, type='email') }}
        {% elif get_field_type(field) == 'Select' %}
          {{ render_select(field) }}
        {% elif get_field_type(field) == 'ClassedTextAreaField' %}
          {{ render_classedtextareafield(field) }}
        {% else %}
          {{ get_field_type(field) }}
          {{ field }}
        {% endif %}
        {% if field.errors %}
          {{ render_errors(field) }}
        {% else %}
          {{ render_helptext(field) }}
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endmacro %}

{% macro render_submit(submit_title="Save", class="btn-default") %}
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <button type="submit" class="btn {{ class }}">{{ submit_title }}</button>
    </div>
  </div>
{% endmacro %}

{% macro render_form_fragment(form) %}
  {% if form.Meta and form.Meta.fields %}
    {# Render all fields in a defined order #}
    {% for name in form.fields %}
      {{ render_field(form[name]) }}
    {% endfor %}
  {% else %}
    {# Render all fields in the order that they were added #}
    {% for field in form %}
      {{ render_field(field) }}
    {% endfor %}
  {% endif %}
{% endmacro %}

{% macro render_form(form, submit_class="btn-default", submit_title="Save",
           class="form-horizontal") %}
  <form method="POST" class="{{ class }}">
    {{ render_form_fragment(form) }}

    {% if submit_title %}
      {{ render_submit(submit_title, submit_class) }}
    {% endif %}
  </form>
{% endmacro %}
