{% extends 'mail/mail_simple.jinja' %}

{% block simple_title %}
    {% trans %}Your Account Request was approved{% endtrans %}
{% endblock %}

{% block simple_body %}
    <p>{% trans name=request.display_name %}Dear {{ name }},{% endtrans %}</p>
    <p>{% trans %}Your ID registration is complete! Just login in with the Gmail account that you used to register to get started.{% endtrans %}</p>
    <p><a href="{{ uri_for('request', _full=True) }}">{% trans %}Click here to submit a research request.{% endtrans %}</a></p>

		<p>{%trans%}You registered with the Google account {% endtrans %}<b>{{request.email}}.</b>

    <p>{% trans %}Good luck with your investigation.{% endtrans %}</p>
{% endblock %}
