{% extends 'mail/mail_simple.jinja' %}

{% block simple_title %}
    {% trans %}Your Account Request was rejected{% endtrans %}
{% endblock %}

{% block simple_body %}
    <p>{% trans name=request.display_name %}Dear {{ name }},{% endtrans %}</p>
    <p>{% trans %}I am sorry but we could not register you at this time.{% endtrans %}</p>
    <p>{% trans %}Thank you,{% endtrans %}</p>
{% endblock %}
