{% extends 'mail/mail_simple.jinja' %}

{% block simple_title %}
    {% trans %}Your Account Type has changed{% endtrans %}
{% endblock %}

{% block simple_body %}
    <p>{% trans name=request.display_name %}Dear {{ name }},{% endtrans %}</p>
    <p>{% trans account_type=user_profile.requester_type_verbose %}Please be advised your account status has changed. Your new account type is: {{ account_type }}{% endtrans %}</p>
    <p>{% trans %}If you do not think this is the correct account type for you, please contact the research desk:{% endtrans %} <a href="mailto:research@occrp.org">research@occrp.org</a></p>
    <p>{% trans %}Thank you,{% endtrans %}</p>
{% endblock %}
