*.py[cod]
env/
build/
dist/
static/.webassets-cache/
static/bower_components/
static_out/
*.egg-info/
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.mo
*.pot
*.log
*.log.*
.DS_Store

pyenv/
static/CACHE
bower_components/**
static/bower_components/**
!static/bower_components/README.md
node_modules/

db.sqlite3
*.env
