version: '3'

services:
  postgres:
    image: postgres:11.6-alpine
    volumes:
      - ".build/data/postgres:/var/lib/postgresql/data"
      - ".build/logs/postgres:/var/log"
    environment:
      POSTGRES_PASSWORD: ''
  api:
    restart: always
    environment:
      - DJANGO_SECRET_KEY=local
      - MEDIA_ROOT=/tmp
    image: id/api
    build: ./
    command: >
      sh -c "pip install -r requirements-testing.txt &&
             python manage.py runserver 0.0.0.0:8080"
    volumes:
      - ./:/id
    ports:
      - "8080:8080"
    depends_on:
      - postgres
  web:
    image: nginx:1.17.8-alpine
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "8000:8000"
    depends_on:
      - api
