# ID configuration template for Docker.

# See: https://django-configurations.readthedocs.io/en/stable/
DJANGO_CONFIGURATION=Production

# This is usually set during the build process, but you can overwrite it.
# See the README.md on building the Docker image. Defaults to `0.0.0-x`.
# ID_VERSION=

# See: https://docs.djangoproject.com/en/2.0/ref/settings/#secret-key
DJANGO_SECRET_KEY=

# See: http://django-configurations.readthedocs.io/en/stable/values/#url-based-values
DATABASE_URL=postgresql://<DB_USERNAME>:<DB_PASSWORD>@<DB_HOSTNAME>/<DB_NAME>
QUEUE_DATABASE_URL=postgresql://<DB_USERNAME>:<DB_PASSWORD>@<DB_HOSTNAME>/<DB_NAME>

# See: https://docs.djangoproject.com/en/2.0/ref/settings/#media-root
# Defaults to the OS temporary directory path.
MEDIA_ROOT=/data

# See: https://docs.djangoproject.com/en/2.0/ref/settings/#debug
# DJANGO_DEBUG=true

# Mailer configuration. Default to the `console` backend.
# See: https://pypi.python.org/pypi/dj-email-url/
# EMAIL_URL=smtp://user@domain.com:pass@smtp.example.com:465/?ssl=True
ID_DEFAULT_FROM_EMAIL=from@your.org

# Keycloack is the default authentication backend.
# To change it, provide a list via `DJANGO_AUTHENTICATION_BACKENDS`.
# See: http://python-social-auth.readthedocs.io/en/latest/configuration/settings.html#authentication-backends

# Keycloack backend settings.
# See: http://python-social-auth.readthedocs.io/en/latest/configuration/settings.html#settings-name
# SOCIAL_AUTH_KEYCLOAK_BASE=https://sso.key.cloak/auth/realms/test/
# SOCIAL_AUTH_KEYCLOAK_KEY=
# SOCIAL_AUTH_KEYCLOAK_SECRET=

# Google oAuth2 backend is also supported, just update the `DJANGO_AUTHENTICATION_BACKENDS`.
# See: https://python-social-auth.readthedocs.io/en/latest/backends/google.html#google-oauth2
# SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=
# SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=

# CORS settings. Defaults to only `localhost:8000`.
# See: https://github.com/ottoyiu/django-cors-headers/#configuration
# DJANGO_CORS_ORIGIN_WHITELIST=
# DJANGO_CORS_ORIGIN_ALLOW_ALL=False

# See: https://docs.sentry.io/quickstart/#configure-the-dsn
# Sentry/Raven configuration URL. Disabled by default.
# SENTRY_DSN=
