# adapt and place this file in the ID2 directory for deployment,
# as <hostname>.env, before running the fabric script.

ID_ENVIRONMENT=production
ID_SECRET_KEY=
ID_DATABASE_URL=postgresql://id2:@postgres/id2
ID_DOCUMENT_PATH=/data
# ID_EMERGENCY=Website is broken. Go figure.

ID_KEYCLOAK_REALM=
ID_KEYCLOAK_KEY=
ID_KEYCLOAK_SECRET=

ID_EMAIL_USER=id@occrp.org
# ID_EMAIL_PASSWORD=
# ID_EMAIL_RECIPIENT=

ID_SENTRY_DSN=
