
ID_ENVIRONMENT=production
ID_SECRET_KEY=banana
ID_DATABASE_URL=postgresql://fl:fl@localhost/id2
ID_DOCUMENT_PATH=/id/data
# ID_EMERGENCY=Website is broken. Go figure.
ID_GOOGLE_OAUTH2_KEY=
ID_GOOGLE_OAUTH2_SECRET=

# ID_EMAIL_USER=id@occrp.org
ID_EMAIL_PASSWORD=
# ID_EMAIL_RECIPIENT=tech@occrp.org
