Django==1.10.1
Jinja2==2.8
Babel==2.3.4
pycountry
mock
python-magic
django-compressor==2.1
django-registration-redux==1.4
requests>=2.11
gunicorn
django_select2==5.8.9
djangorestframework==3.4.6
oauth2client==3.0.0
google-api-python-client
rules==1.1.1
python-social-auth==0.2.21
psycopg2
django-simple-captcha
django-oauth-toolkit
oauth2_provider
dj-database-url
