Django==1.7.11
Jinja2==2.7
Babel==0.9.6
pycountry
transifex-client==0.10
mock==1.0.1
python-magic
elasticsearch
django-jinja==1.4.1
django-compressor==1.6
django-registration-redux
pyes
requests>=2.8.0
neo4django
flup
mysql
django_select2<5
djangorestframework==3.2.4
oauth2client
google-api-python-client
rules
python-social-auth>=0.2.13
psycopg2
jsonfield
pillow
django-simple-captcha
textract
unidecode
rarfile
django-oauth-toolkit
oauth2_provider
