Django==1.7.5
Jinja2==2.7
Babel==0.9.6
pycountry
transifex-client==0.10
mock==1.0.1
python-magic
elasticsearch
django-jinja
django-registration-redux
pyes
requests
neo4django
flup
mysql
django_select2
djangorestframework
oauth2client
google-api-python-client
rules
