{% extends "base.jinja" %}
{% block content %}

<h1>{% trans %}Welcome to Investigative Dashboard{% endtrans %}</h1>
<div><p>{% trans %}You are now successfully registered. Now you can sign in.{% endtrans %}</p></div>

<a href="{{url('login')}}">{% trans %}Sign in{% endtrans %}</a>

{% endblock %}
