{% extends "base.jinja" %}

{% block content %}
<h1>{% trans %}Verification successful!{%endtrans%}</h1>
<div>
    <p>
        {% trans %}Congratulations, you're fully registered.{%endtrans%}.
        <a href="/accounts/login/">{% trans %}Now sign in!{%endtrans%}</a>
    </p>
</div>
{% endblock %}
