{% extends "base.html" %}

{% block content %}
    <div class="span12">
        <div class="page-header">
            <h1>{% trans %}Sign in to Investigative Dashboard{% endtrans %}</h1>
            {% if next %}
            <div class="alert alert-info">{% trans %}You must sign in to continue.{% endtrans %}</div>
            {% endif %}
        </div>

        <div class="row">
            <div class="span4 well">
                <form action="/accounts/login/" method="POST">
                    {%csrf_token%}
                    {% if next %}<input type="hidden" name="next" value="{{next}}"/>{% endif %}
                    <fieldset>
                        {{form.as_table()}}
                        <label></label>
                        <input class="btn btn-primary" type="submit" value="{% trans %}Sign in{% endtrans %}"/>

                        <div style="float:right;">
                            <a href="/accounts/register/" class="btn">{% trans %}Register{% endtrans %}</a>
                            <a href="/accounts/password/reset/" class="btn">{% trans %}Lost password{% endtrans %}</a>
                        </div>
                    </fieldset>
                </form>
            </div>

            <div class="span4 well">
                <a href="{{ google_login_url }}" class="btn">
                    <i class="icon-google-plus"></i> {% trans %}Sign in with Google{% endtrans %}
                </a>
            </div>

            <div class="span4">
            </div>

        </div>
    </div>
{% endblock %}
