{% extends "base.jinja" %}
{% block body_class %}splash has-full-page-header{% endblock %}

{% block before_content %}
    <link rel="stylesheet" href="{{ static('css/podaci.css') }}"/>
    <div class="page-header full-page-header">
        <h2 class="primary-highlight">{% trans %}Sign in to ID{% endtrans %}</h2>
    </div>
{% endblock %}

{% block content %}

    <div class="login-form span12 material-form-container">
        <div class="material-form md-whiteframe-z1">
            {% if next %}<p class="alert alert-info">{% trans %}You must sign in to continue.{% endtrans %}</p>{% endif %}
            <form action="/accounts/login/" method="POST">
                {%csrf_token%}
                {% if next %}<input type="hidden" name="next" value="{{next}}"/>{% endif %}
                <fieldset>
                    <table>
                        {{form.as_table()}}
                    </table>
                    <div class="buttons-container">
                        <label></label>
                        <input class="btn btn-primary" type="submit" value="{% trans %}Sign in{% endtrans %}"/>
                        <a href="/accounts/password/reset/" class="btn">{% trans %}Lost password{% endtrans %}</a>
                    </div>

                </fieldset>
            </form>
            <div class="section-container"><span class="before">{% trans %}or{% endtrans %}</span>
            {% if DEBUG %}
                <p class="info">{% trans %}If you registered with your Google account, you can use it to sign in. Most users should sign in using the standard method.{% endtrans %}</p>
                <a href="{{ url("social:begin", "google-oauth2") }}" class="btn">
                    <i class="fa fa-google-plus"></i> {% trans %}Sign in with Google{% endtrans %}
                </a>
            {% else %}
                <p class="info">{% trans %}Google login is temporarily disabled. We are working hard to enable it as soon as possible. Thank you for your understanding.{% endtrans %}</p>
            {% endif %}
            </div>
            <div class="section-container"><span class="before">{% trans %}or{% endtrans %}</span>
                <p class="info">{% trans %}Don't have an account yet? Please consider registering.{% endtrans %}</p>
                <a href="/accounts/register/" class="btn">{% trans %}Register{% endtrans %}</a>
            </div>
        </div>
    </div>
{% endblock %}
