{% extends "base.jinja" %}
{% block content %}

<h1>{% trans %}Signed out!{% endtrans %}</h1>

<p>{% trans %}Thank you for using Investigative Dashboard. Come again soon!{% endtrans %}</p>

{% endblock %}
