{% extends "base.jinja" %}
{% load i18n %}

{% block content %}
<h1>{% trans %}Password reset{% endtrans %}</h1>

<p>{% trans %}Password reset successfully{% endtrans %}</p>

<p><a href="{{url('login')}}">{% trans %}Sign in{% endtrans %}</a></p>

{% endblock %}
