{% extends "base.jinja" %}

{% block content %}
<h1>{% trans %}Password reset{% endtrans %}</h1>
<form method="post" action=".">
  {% csrf_token %}
  {{ form.as_table() }}
  <input type="submit" value="{% trans 'Send password' %}" />
</form>
{% endblock %}
