{% extends "base.jinja" %}

{% block content %}

<h1>{% trans %}Choose a new password{% endtrans %}</h1>

{% if validlink %}

<form method="post" action="">
  {{ csrf_input }}
  {{ form.as_table() }}

  <input type="submit" value="{% trans %}Save password{% endtrans %}" />
</form>

{% else %}

<p>{% trans %}Password reset failed{% endtrans %}</p>

{% endif %}

{% endblock %}
