{% extends "base.jinja" %}

{% block body_class %}splash has-full-page-header{% endblock %}

{% block before_content %}
    <link rel="stylesheet" href="{{ static('css/podaci.css') }}"/>
    <div class="page-header full-page-header">
        <h2 class="primary-highlight">{% if editing_self %}{% trans %}Your profile{% endtrans %}{% else %}{% trans %}Profile for user {% endtrans %}{{profile.email}}{% endif %}</h2>
    </div>
{% endblock %}

{% block content %}

<div class="profile-container material-form-container">
    <div class="tabpanel">
        <form action="/accounts/profile/" method="POST">
        {%csrf_token%}
        <ul class="nav nav-tabs" role="tablist">
            <li role="profile" class="active"><a href="#basics" aria-controls="basics" role="tab" data-toggle="tab" class="material-form-tab md-whiteframe-z2">{% trans %}Basics{% endtrans %}</a></li>
            <li role="profile"><a href="#details" aria-controls="details" role="tab" data-toggle="tab" class="material-form-tab md-whiteframe-z2">{% trans %}Details{% endtrans %}</a></li>
            {% if user.is_superuser %}
            <li role="profile"><a href="#permissions" aria-controls="permissions" role="tab" data-toggle="tab" class="material-form-tab md-whiteframe-z2">{% trans %}Permissions{% endtrans %}</a></li>
            {% endif %}
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active material-form md-whiteframe-z1" id="basics">
                {{ form_macros.render_form_fragment(form_basics) }}
            </div>
            <div role="tabpanel" class="tab-pane material-form md-whiteframe-z1" id="details">
                {{ form_macros.render_form_fragment(form_details) }}
            </div>
            {% if user.is_superuser %}
            <div role="tabpanel" class="tab-pane material-form md-whiteframe-z1" id="permissions">
                {{ form_macros.render_form_fragment(form_admin) }}
            </div>
            {% endif %}
        </div>

        <label></label><input class="material-form-submit btn primary md-whiteframe-z2" type="submit" value="{% trans %}Save{% endtrans %}"/>
        </form>
    </div>
</div>

{% endblock %}
