{% if is_paginated or page_obj %}
  <div id="pager" class="pager">
    {% if page_obj.has_previous() %}
    <a href="?page=1"><img src="/static/img/tablesorter/first.png" class="first"/></a>
    <a href="?page={{page_obj.previous_page_number()}}"><img src="/static/img/tablesorter/prev.png" class="prev"/></a>
    {% endif %}
    {{page_obj.start_index()}}-{{page_obj.end_index()}} of {{paginator.count}}
    {% if page_obj.has_next() %}
    <a href="?page={{page_obj.next_page_number()}}"><img src="/static/img/tablesorter/next.png" class="next"/></a>
    <a href="?page={{paginator.num_pages}}"><img src="/static/img/tablesorter/last.png" class="last"/></a>
    {% endif %}
  </div>
{% endif %}
