<h2 class="text-center">
    {% trans -%}
        Which type of access would you like to apply for?
    {%- endtrans %}
</h2>
<div class="row-fluid"><div class="span8 offset2">{% trans %}You currently do not have access to some parts of Investigative Dashboard, because your account has not been verified. In order to get access, please tell us whether you want to be an information requester, or a volunteer researcher.{% endtrans %}</div></div>

<br>

<div class="span12">
    <div class="row-fluid">
        <div class="span4 offset2 material-form md-whiteframe-z1 splash-item">
            <h1 class="huge secondary-highlight"><i class="fa fa-question"></i></h1>
            <h3>{% trans %}Information Requester{% endtrans %}</h3>
            {% if is_requester %}
            <p>{% trans %}You are already an information requester!{% endtrans %}</p>
            {% elif requested_requester %}
            <p>{% trans %}You have requested permission to make information requests. Your application will be reviewed soon, and you will be notified.{% endtrans %}</p>
            {% else %}
            <p>{% trans %}Take advantage of our database of knowledge to find out more information about companies, individuals, or the relationships between them.{% endtrans %}</p>
            <div class="button-holder">
                <a href="{{ url('request_access_create') }}?access_type=requester" class="btn btn-large">{% trans %}Be a Requester{% endtrans %}</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
