
{% import "macros/forms.html" as form_macros with context %}

<form action="{{ form_action }}" class="form-horizontal" method="POST">
    <h4>{% trans %}Relationship{% endtrans %}</h4>
    {{ form_macros.render_form_fragment(relationship_form) }}

    <h4>
        {% if right_type == 'company' %}{% trans %}New Company{% endtrans %}
        {% elif right_type == 'person' %}{% trans %}New Person{% endtrans %}
        {% elif right_type == 'location' %}{% trans %}New Location{% endtrans %}
        {% endif %}
    </h4>
    {{ form_macros.render_form_fragment(right_form) }}
</form>