{% import 'macros/macros.jinja' as macros %}

{% macro addrelationship_links(instance, right_type, rel_type, label) %}
<div class="relationshiplinks">
<a href="#location-modal" data-modal-url="{{ uri_for('inline_relationship') }}?left={{ instance.key.urlsafe() }}&right_type={{right_type}}">
                    <i class="fa fa-map-pin"></i> {% trans %}Add New {% endtrans %}{{ label }}
    </a>

    &nbsp;    &nbsp;    &nbsp;    &nbsp;    &nbsp;

                    <a href="#existing-modal" data-modal-url="{{ uri_for('relationship_add') }}?left={{ instance.key.urlsafe() }}&fragment=true">
                    <i class="fa fa-map-pin"></i> {% trans %}Add Existing {% endtrans %}{{ label }}</a>
</div>
{% endmacro %}


{% macro location(instance, label, reltype) %}
<h2>{{ label }}</h2>

{% if instance.get_by_reltype(reltype) %}
    <table class="table table-striped table-bordered {{ extra_class }}">
        <thead>
            <tr>
                <th>{% trans %}Location{% endtrans %}</th>
                <th>{% trans %}Start Date{% endtrans %}</th>
                <th>{% trans %}End Date{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for rel in instance.get_by_reltype(reltype) %}
                <tr>
		  <td>
                        <a href="{{ uri_for('%s_edit' % (rel.right.kind().lower()), obj_id=rel.right.urlsafe()) }}">
		    {{ rel.right.get() }}</a></td>
		  <td>{{ rel.start or '' }}</td>
		  <td>{{ rel.end or '' }}</td>
		</tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {{ addrelationship_links(instance, 'location', reltype, label) }}

{% endmacro %}


{% macro directors(instance) %}
<h2>{% trans %}Directors{% endtrans %}</h2>

{% if instance.get_by_reltype('director') %}
    <table class="table table-striped table-bordered {{ extra_class }}">
       <thead>
            <tr>
                <th>{% trans %}Name{% endtrans %}</th>
                <th>{% trans %}Start Date{% endtrans %}</th>
                <th>{% trans %}End Date{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for rel in instance.get_by_reltype('director') %}
                <tr>
		  <td>
                        <a href="{{ uri_for('%s_edit' % (rel.right.kind().lower()), obj_id=rel.right.urlsafe()) }}">
		    {{ rel.right.get() }}</a></td>
		  <td>{{ rel.start or '' }}</td>
		  <td>{{ rel.end or '' }}</td>
		</tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {{ addrelationship_links(instance, 'person', 'director', 'Director') }}


{% endmacro %}


{% macro shareholders(instance) %}
<h2>{% trans %}Shareholders{% endtrans %}</h2>

{% if instance.get_by_reltype('shareholder') %}
    <table class="table table-striped table-bordered {{ extra_class }}">
       <thead>
            <tr>
                <th>{% trans %}Name{% endtrans %}</th>
                <th>{% trans %}Start Date{% endtrans %}</th>
                <th>{% trans %}End Date{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for rel in instance.get_by_reltype('shareholder') %}
                <tr>
		  <td>
                        <a href="{{ uri_for('%s_edit' % (rel.right.kind().lower()), obj_id=rel.right.urlsafe()) }}">
		    {{ rel.right.get() }}</a></td>
		  <td>{{ rel.start or '' }}</td>
		  <td>{{ rel.end or '' }}</td>
		</tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {{ addrelationship_links(instance, 'person', 'shareholder', 'Shareholder') }}


{% endmacro %}


{% if instance.kind == 'Company' %}
    {{ location(instance, 'Registered Office', 'registered') }}
    {{ directors(instance) }}
    {{ shareholders(instance) }}

{% elif instance.kind == 'Person' %}
    {{ location(instance, 'Home Address', 'home') }}
{% endif %}


<div class="pull-right">
    <div class="btn-group">
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-plus"></i>
            {% trans %}Create{% endtrans %}
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="#company-modal" data-modal-url="{{ uri_for('inline_relationship') }}?left={{ instance.key.urlsafe() }}&right_type=company">
                    <i class="fa fa-building"></i> {% trans %}With New Company{% endtrans %}
                </a>
            </li>
            <li>
                <a href="#person-modal" data-modal-url="{{ uri_for('inline_relationship') }}?left={{ instance.key.urlsafe() }}&right_type=person">
                    <i class="fa fa-group"></i> {% trans %}With New Person{% endtrans %}
                </a>
            </li>
            <li>
                <a href="#location-modal" data-modal-url="{{ uri_for('inline_relationship') }}?left={{ instance.key.urlsafe() }}&right_type=location">
                    <i class="fa fa-pushpin"></i> {% trans %}With New Location{% endtrans %}
                </a>
	    </li>
            <li>
                <a href="#existing-modal" data-modal-url="{{ uri_for('relationship_add') }}?left={{ instance.key.urlsafe() }}&fragment=true">
                    <i class="fa fa-globe"></i> {% trans %}With Existing Entity{% endtrans %}
                </a>
            </li>
        </ul>
    </div>
</div>


<h2>{% trans %}All Relationships{% endtrans %}</h2>



{% if rels %}
    <table class="table table-striped table-bordered {{ extra_class }}">
        <thead>
            <tr>
                <th>{% trans %}Entity{% endtrans %}</th>
                <th>{% trans %}Relationship{% endtrans %}</th>
                <th>{% trans %}Entity{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for rel in rels %}
                <tr>
                    <td>
                        <a href="{{ uri_for('%s_edit' % (rel.right.kind().lower()), obj_id=rel.right.urlsafe()) }}">
                            {{ rel.right_name }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ uri_for('relationship_edit', obj_id=rel.key.urlsafe()) }}">
                            <i class="fa fa-pencil"></i>
                            {% trans type=rel.type_display() %}is a {{ type }} of{% endtrans %}
                        </a>
                    </td>
                    <td>
                        <a href="{{ uri_for('%s_edit' % (rel.left.kind().lower()), obj_id=rel.left.urlsafe()) }}">
                            {{ rel.left_name }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% else %}
    <div class="alert alert-block alert-warning">
        {% trans %}No entries found.{% endtrans %}
    </div>
{% endif %}
