<md-dialog aria-label="Mango (Fruit)">
  <form name="projectNewForm">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>New Project</h2>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <md-content layout-padding layout="column" layout-sm="column">
        <md-input-container>
            <label>Title</label>
            <input required name="projectTitle" ng-model="project.title">
            <div ng-messages="projectNewForm.projectTitle.$error">
                <div ng-message="required">You must supply a project name.</div>
            </div>
        </md-input-container>
        <md-input-container>
            <label>Description</label>
            <input ng-model="project.description" md-maxlength="200">
        </md-input-container>
    </md-content>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="cancel()" class="md-primary">
        Cancel
    </md-button>
    <md-button ng-click="create()" class="md-primary">
        Create
    </md-button>
  </div>
  </form>
</md-dialog>
