{% extends "base.jinja" %}

{% block content %}
    <link rel="stylesheet" href="{{ static('css/podaci.css') }}"/>
    <div class="row">
    	{% block podaci_content %}{% endblock %}
    </div>
    {% include "podaci/partials/_podaci_upload_modal.jinja" %}
    {% include "podaci/partials/_podaci_edit_tags.jinja" %}
    {% include "podaci/partials/_podaci_create_collection.jinja" %}
    {% include "podaci/partials/_podaci_file_details.jinja" %}
{% endblock %}

{% block after_js %}
	<script type="text/javascript" src="{{ static('bower_components/blueimp-file-upload/js/vendor/jquery.ui.widget.js')}}"></script>
	<script type="text/javascript" src="{{ static('bower_components/blueimp-file-upload/js/jquery.fileupload.js') }}"></script>
	<script type="text/javascript" src="{{ static('bower_components/blueimp-file-upload/js/jquery.iframe-transport.js') }}"></script>
	<script type="text/javascript" src="{{ static('js/id2/id2.podaci.jquery.js') }}"></script>
{% endblock %}
