{% extends "crud/item_base.jinja" %}
{% block crud_title %}{% trans %}Edit Company{% endtrans %}{% endblock %}

{% macro registered_offices(instance) %}
<h2>{% trans %}Registered Offices{% endtrans %}</h2>

{% if instance.addresses %}
    <table class="table table-striped table-bordered {{ extra_class }}">
        <thead>
            <tr>
                <th>{% trans %}Entity{% endtrans %}</th>
                <th>{% trans %}Relationship{% endtrans %}</th>
                <th>{% trans %}Entity{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for rel in instance.addresses %}
                <tr>
		  <td>{{ rel.right.get() }}</td>
		  <td>{{ rel.start }}</td>
		  <td>{{ rel.end }}</td>
		</tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endmacro %}


{% block post_form_content %}
    {{ macro.render_table(rels, rel_fields, request, no_rels) }}

{% endblock %}

