@import "../bower_components/roboto-fontface/css/roboto-fontface.css";
@import "../bower_components/select2/dist/css/select2.css";
@import "die/bootstrap-2.3.2.css";
@import "die/bootstrap-responsive.css";
@import "die/bootstrap-classes.css";
@import "die/bootstrap-datepicker.css";

/** General **/
html,
body {
  margin: 0;
  height: 100%;
}
#wrap {
  min-height: 100%;
  position: relative;
}
#content {
  padding-bottom: 60px;
}
#content {
  margin-top: 40px;
}
#main {
  margin-bottom: 40px;
}
a > [class^="icon-"],
a > [class*=" icon-"] {
  display: inline-block;
  width: 16px;
  text-align: center;
}
.empty {
  font-weight: normal;
}
.id-spinner {
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
  padding: 0 5px 0 5px;
}
.modal-body {
  min-height: 40px;
}
/** Typography **/
.primary-highlight {
  color: #f31d35;
  font-size: 45px;
  text-shadow: 1px 1px 5px #fff, -1px -1px 0px #CB182C;
}
/* if using primary highlight directly on an h2 */
h2.primary-highlight {
}
.secondary-highlight {
  color: #00cad1;
}
.yell {
  text-transform: uppercase;
  font-weight: 500;
}
.soft {
  color: #999999;
}
h4 {
  font-size: 20px;
  font-weight: 300;
}
h1.huge {
  font-size: 88px;
  margin-top: 25px;
}
/** Input heights **/
input[type="text"],
input[type="email"],
input[type="password"] {
  height: 26px;
  line-height: 26px;
  /* for i.e. */

}
.form-horizontal .control-label,
.controls > .radio:first-child,
.controls > .checkbox:first-child {
  padding-top: 7px;
}
.input-append .add-on,
.input-prepend .add-on {
  padding: 7px 5px;
  height: 20px;
}
/** Select2 overrides **/
.select2-container .select2-choice {
  border-radius: 0;
  line-height: 34px;
  height: 34px;
}
.select2-container .select2-choice div {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.select2-container .select2-choice div b {
  background-position: 0 4px;
}
.select2-choice,
.select2-choices,
.select2-search-choice,
.select2-drop {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
  border: 1px solid #aaa;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.select2-results .select2-highlighted {
  background: #00cad1;
}
.select2-container-multi .select2-choices .select2-search-choice {
  padding: 6px 5px 7px 18px;
  margin: 5px 0 3px 5px;
}
.select2-search-choice-close {
  top: 7px;
}
/** Datepicker overrides **/
.datepicker .day.active,
.datepicker .day.active:hover {
  background-image: none;
  background-color: #00cad1 !important;
}
/** Alerts **/
.alert-icon {
  float: left;
}
.alert-content {
  margin-left: 23px;
}
/** Headers **/
.logo-holder {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -112px;
}
@media (max-width:979px) {
  .logo-holder {
    z-index: 1;
    top: 0;
  }
}
span.highlight {
  background: #FEB;
}
.popup {
  padding-top: 20px;
}
.sharing {
  line-height: 40px;
  margin: 10px 0 10px;
}
.full-page-header {
  min-height: 115px;
  background: #f7f9f8;
  padding: 30px 0 15px;
  margin: 0 0 30px;
}
.full-page-header .container {
  padding: 0 20px;
}
.full-page-header h2 {
  font-weight: 300;
  display: inline-block;
  max-width: 725px;
}
.has-full-page-header #main {
  margin-top: 30px;
}
.has-full-page-header #content {
  margin-top: 0;
}
.has-full-page-header .alert:first-child {
  /*margin-top: 40px; */
}
.header-buttons {
  margin-top: 24px;
}
/** Footer **/
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background: #3a4953;
  border-top: 4px solid #331715;
  color: #fff;
}
#footer .container {
  height: 100%;
  line-height: 54px;
}
#footer small {
  color: #aaa;
}
#footer small a {
  color: #fff;
}
#footer #occrp-logo {
  margin-left: 16px;
}
@media (max-width:767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding: 0 20px;
  }
}
/** Splash **/
.splash .full-page-header {
  text-align: center;
  background: url('/static/img/splash_bg1.jpg') #f6f7f5;
  background-size: 100%;
  box-shadow: inset 0px -4px 9px #ccc;
}
.splash .btn {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.14), 0px 4px 5px 0px rgba(0, 0, 0, 0.098), 0px 1px 10px 0px rgba(0, 0, 0, 0.082);
}
.splash-item {
  max-width:27%;
  min-width:20%;
  display: inline-block;
  background: #eee;
  position: relative;
  margin: 20px;
  margin-bottom: 40px;
  text-align: center;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.14), 0px 2px 2px 0px rgba(0, 0, 0, 0.098), 0px 1px 5px 0px rgba(0, 0, 0, 0.082);
}
.splash-item .btn {
  position: absolute;
  width: 170px;
  left: 50%;
  margin-left: -100px;
  bottom: -16px;
  padding: 12px 16px;
}
.splash-item .btn i {
  padding-right: 5px;
}
.splash-item .desc {
  font-size: 20px;
  font-weight: 300;
  line-height: 26px;
  margin: 20px 0;
  padding: 24px;
  padding-top: 5px;
}
/** Tables **/
.crud-list {
  table-layout: fixed;
}
.crud-list th,
.crud-list td {
  word-wrap: break-word;
}
.table {
  border-collapse: collapse;
}
.table td,
.table th {
  border: 1px solid #ddd !important;
  padding: 10px;
}
.table th {
  background-color: #f7f9f8;
  color: #999999;
  font-weight: 400;
}
.table td {
  background-color: transparent !important;
}
/** Admin **/
.admin-nav a {
  white-space: nowrap;
}
dd.disabled a {
  color: #CCC;
}
.relationshiplinks {
  padding-bottom: 20px;
}
/** Search **/

.nav.nav-tabs li.active a {
  background-color: #3a4953;
}
.nav.nav-tabs li.active a:after {
  position: absolute;
  top: 100%;
  border: solid transparent;
  border-color: #3a4953 transparent transparent transparent;
  content: " ";
  height: 0;
  width: 0;
  border-width: 10px 12px 0 12px;
  left: 50%;
  margin-left: -12px;
}
.nav.nav-tabs li a {
  background-color: #9eafbb;
  position: relative;
  color: #fff;
  padding: 10px 16px;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.nav.nav-tabs li a:hover {
  background-color: #647e8f;
  border: none;
  color: #fff;
}
.nav.nav-tabs li a:hover:after {
  border-color: #647e8f transparent transparent transparent;
}

.search {
  margin-top: 20px;
}

.search input {
  line-height: 32px;
  height: 32px;
  font-size: 18px;
  font-weight: 300;
}

.search ul.provider-list {
    list-style-type: none;
    margin-top: 0;
}

.search ul.provider-list li {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #9eafbb;
    min-height: 1.5em;
}

.search ul.provider-list li.title {
    font-weight: bolder;
    background-color: #3a4953;
    color: white;
    text-transform: uppercase;
    padding-left: 1em;
}

.search ul.provider-list li input[type=checkbox] {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: -0.1em;
}

.search ul.provider-list li .status {
    float: right;
    color: #ba0a1e;
    font-weight: bolder;
    margin-right: 1em;
    margin-top: 0.3em;
}

/** Attach files **/
.selected-files {
  margin-top: 10px;
}
.selected-files li {
  margin: 2px 0;
}
.selected-files li span {
  padding-left: 8px;
}
.selected-files li img {
  margin-top: -3px;
}
table.list-files a img {
  margin-right: 5px;
}
table.list-files .spinner {
  top: 11px !important;
  left: 10px !important;
}
dd.list-files .spinner {
  height: 36px;
}
.picker {
  z-index: 1060;
}
.picker.modal-dialog.picker-dialog {
  z-index: 1061;
}
#s2id_drive_shared_users {
  width: 300px !important;
}
/** External databases **/
p.preserve_whitespace {
  white-space: pre-wrap;
  word-wrap: break-word;
}
.superscript {
  vertical-align: super;
  font-size: 10px;
}
form.ext-db-filter {
  margin-top: 7px !important;
}
div.ext-db {
  box-sizing: border-box;
  margin-bottom: 20px;
}
div.ext-db div.db-title {
  border-bottom: 1px solid #DFDFDF;
  padding-bottom: 5px;
}
div.ext-db div.db-title div {
  margin-left: 2px;
}
div.ext-db div.db-title i {
  margin-left: 3px;
}
div.ext-db div.db-title a {
  font-size: 1.2em;
}
div.ext-db ul {
  list-style-type: none;
  margin: 7px 0;
  color: #383f49;
}
div.ext-db .well {
  height: 100%;
  box-sizing: border-box;
  margin-bottom: 0;
}
div.ext-db p {
  font-size: 0.85em;
  color: #555555;
}
/** Request / ticket details **/
.summary .icon {
  line-height: 60px;
  vertical-align: top;
  font-size: 32px;
  margin-right: 16px;
}
.summary .yell {
  white-space: nowrap;
}
.summary h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.status-container {
  display: inline-block;
  padding-right: 15px;
}
.status-container h5 {
  margin: 0;
}
.status-container h5:nth-child(2) {
  margin-bottom: -16px;
}
div.well > dl {
  margin: 0;
}
.request dl {
  margin-bottom: 50px;
}
.important-info-wrapper {
  margin-bottom: 50px;
}
.important-info {
  margin-bottom: 20px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.important-info h4 {
  font-weight: 400;
  margin-top: 0;
}
.important-info h5 {
  margin-bottom: 0;
}
.important-info i {
  width: 44px;
  text-align: center;
  line-height: 60px;
}
.important-info .icon-calendar {
  font-size: 25px;
}
.important-info .icon-map-marker {
  font-size: 34px;
}
dt {
  color: #777;
  font-weight: normal;
  line-height: 26px;
  font-size: 14px;
}
dd {
  line-height: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  margin-left: 0;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
  padding-bottom: 14px;
}
.request-details h3 {
  margin-top: 0;
}
.request-details .request-update {
  position: relative;
  padding: 5px 20px;
  background: #f7f9f8;
  margin-bottom: 10px;
}
.request-details .request-update i.icon-caret-right {
  position: absolute;
  left: 0;
  top: 15px;
  font-size: 20px;
}
.request-details p {
  white-space: pre-wrap;
  word-wrap: break-word;
}
.request-detail {
  margin-bottom: 20px;
}
.request-detail h5 {
  margin: 0;
}
.request-charges {
  font-weight: 400;
}
.request-charges .reconciled {
  text-decoration: line-through;
  color: #bbb;
}
.request-charges .money {
  text-align: right;
  padding-right: 10px;
}
.update-close {
  color: #df382c;
}
.update-cancel {
  color: #df382c;
}
.update-reopen {
  color: #eca918;
}
.update-open {
  color: #38b44a;
}
.update-flag {
  color: #0075f1;
}
.discussion {
  margin-bottom: 20px;
}
/** Form validation **/
.validation-marker {
  display: inline-block;
  margin-left: 10px;
}
.validation-marker i {
  font-size: 28px;
  line-height: 36px;
  vertical-align: middle;
}
.validation-marker i.icon-warning-sign {
  color: #efb73e;
}
.validation-marker i.icon-ok-sign {
  color: #38b44a;
}
/** Forms **/
.header-form form {
  margin-top: 25px;
}
.header-form button {
  margin-left: 10px;
}
.controls ul {
  list-style: none;
  margin: 0;
}
.controls ul li {
  margin: 8px 0;
}
.controls ul li input {
  margin: 0 3px 0 0;
}
.controls ul li label {
  display: inline;
  margin-bottom: 0;
}
/** Form widgets **/
.multiwidgetcontainer .widget {
  margin-bottom: 5px;
}
.multiwidgetcontainer input,
.multiwidgetcontainer .select2-container {
  margin-right: 10px;
}
/** About Us Page **/
ul.advisory_committee {
  margin-left: 0;
}
ul.advisory_committee li {
  list-style: none;
  padding: 0;
  margin-left: 0;
  margin-bottom: 10px;
}
/** Aliases **/
.errorlist {
  color: #597180;
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  vertical-align: middle;
  padding-left: 5px;
}
.errorlist li {
  display: block;
}
.requestform li {
  display: block;
}

/** Angular Material-ish classes
 *
 * inspired by:
 * https://material.angularjs.org/latest/#/demo/material.components.whiteframe
 * https://github.com/angular/material/blob/v0.10.1/LICENSE
 */
.md-whiteframe-z1 {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.14), 0px 2px 2px 0px rgba(0, 0, 0, 0.098), 0px 1px 5px 0px rgba(0, 0, 0, 0.082);
}

.md-whiteframe-z2 {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.14), 0px 4px 5px 0px rgba(0, 0, 0, 0.098), 0px 1px 10px 0px rgba(0, 0, 0, 0.082);
}

.md-whiteframe-z3 {
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.14), 0px 6px 10px 0px rgba(0, 0, 0, 0.098), 0px 1px 18px 0px rgba(0, 0, 0, 0.082);
}

.md-whiteframe-z4 {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.14), 0px 8px 10px 1px rgba(0, 0, 0, 0.098), 0px 3px 14px 2px rgba(0, 0, 0, 0.082);
}

.md-whiteframe-z5 {
    box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.14), 0px 16px 24px 2px rgba(0, 0, 0, 0.098), 0px 6px 30px 5px rgba(0, 0, 0, 0.082);
}

.material-form-container {
    margin-top:-80px
}

.material-form {
    background: #f7f9f8;
    text-align:left;
    width:auto;
    margin-left:auto;
    margin-right:auto;
    padding:2em;
    max-width:1024px;
    border-radius:5px;
}

.material-form-submit {
    margin:auto;
    position:relative;
    display:block;
    width:40% !important;
    max-width:200px !important;
    margin-top:-28px;
}

/** Your Profile **/
.profile-container ul.nav {
    text-align:center;
    margin-bottom:-8px;
    border-bottom:none;
}

.profile-container .nav-tabs > li {
    display:inline-block;
    float:none;
}

.profile-container .nav-tabs > li > a:focus {
    color:#fff;
}

.profile-container .nav-tabs > li > a:focus {
    border:none;
}

.profile-container .tab-content {
    text-align:center;
    overflow:visible;
    text-align:center;
}

.profile-container .tab-content .tab-pane .control-group {
    display:flex;
    padding:0px 20px;
}

.profile-container .tab-content .tab-pane .control-group > .control-label {
    flex:1;
    width:30%;
    padding-top:1em;
}

.profile-container .tab-content .tab-pane .control-group > .controls {
    flex:2;
    width:70%;
    padding:5px 10px;
}

.profile-container .tab-content .tab-pane .control-group > .controls > * {
    width:100%;
}

/* select2 fix */
.profile-container .tab-content .tab-pane .control-group > .controls > .select2-hidden-accessible {
    width:1px;
}

.profile-container .tab-content .tab-pane.active {
    display:inline-block;
}

/** Registration Form **/

.registration-form fieldset {
    display: block;
    text-align:center;
}

.registration-form table {
    display: inline-block;
    text-align:left;
}

.registration-form th {
    vertical-align: top;
}

.registration-form th label {
    line-height:300%;
}

.registration-form th, .registration-form td {
    padding:0em 0.5em;
}

.registration-form td {
    display:flex;
    flex-direction:column-reverse;
}

.registration-form td[colspan] {
    display:table-cell
}

.registration-form td[colspan] .errorlist {
    text-align:center;
    padding:0em 0.5em 1em 0.5em;
    display:block;
}

.registration-form td .errorlist {
    flex:auto;
    color:#F31D35;
    padding-bottom:0.5em;
    padding-left:0em;
    margin-left:0em;
}

.registration-form td .errorlist li {
    text-indent:0.2em;
}

.registration-form td input {
    flex:1;
}

/** Registration Complete **/
.registration-complete {
    text-align:center;
}

.registration-complete .material-form {
    display:inline-block;
    padding-bottom:4em;
}

/** Login Form **/

.login-form {
    text-align:center;
}

.login-form .material-form {
    display:inline-block;
    text-align:left;
    max-width:30em;
}

.login-form td .errorlist {
    flex:auto;
    color:#F31D35;
    padding-bottom:0.5em;
    padding-left:0em;
    margin-left:0em;
}

.login-form table {
    width:100%;
}

.login-form table th, .login-form table td {
    display:table-cell;
}

.login-form table td {
    text-align:right;
}

.login-form table td * {
    text-align:center;
}

.login-form table td input {
    width:70%;
    min-width:10em;
}

.login-form .login-alternative {
    text-align:center;
    margin-top:2.5em;
    border-top: solid 1px #ddd;
}

.login-form .login-alternative .before {
    position:relative;
    top:-0.55em;
    color:#eee;
    font-size:150%;
    text-shadow:-1px -1px 0px #ddd, 1px 1px 0px #fff;
    background:#f7f9f8;
    padding:0em 0.3em;
}

.login-form .login-alternative .info {
    display:block;
}

.login-form .buttons-container {
    text-align:center;
}
