
.notification-badge {
    position: absolute;
    left:22px;
    top: 32px;
}

ul.notifications {

}

ul.notifications li {
    display: block;
    width: 400px;
    min-height: 32px;
    padding: 7px;
    cursor: pointer;
}

ul.notifications li i {
    display: block;
    float: left;
    font-size: 28px;
    width: 32px;
    text-align: center;
}

ul.notifications li.unseen {
    background-color: #e9e9e9;
}

ul.notifications li:hover {
    background-color: #ddd;
}

ul.notifications li.top {
    border-bottom: 1px solid #ccc;
    height: 20px;
    font-size: 90%;
    text-align: right;
}

ul.notifications li.top:hover {
    background-color: #fff;
}

ul.notifications li a {
    display: inline;
}

.notifications li a:hover {
    background: inherit;
    color: #f00;
    text-decoration: underline;
}

.notification_text {
    padding-left: 4px;
}

.notification_time {
    font-size: 80%;
    text-align: right;
}
