.search-results {
    text-align: center;
}

.document-search-result {
    display:      block;
    max-width:    100%;
    margin:       6px;
    padding:      3px;
    text-align:   left;
    padding-bottom: 18px;
    margin-bottom: 17px;
    border:        1px solid #fff;
    border-bottom: 1px solid #ddd;
}

.document-search-result h4 {
}

.document-search-result em {
    font-weight: bold;
    background-color: #ff0;
}

.image-search-result {
    display:    inline-block;
    width:      250px;
    margin:     6px;
    padding:    3px;
    background: #eee;
    border:     1px solid #ddd;
}

.image-search-result > a {
    width: 250px;
    height: 250px;
    display: block;
    overflow: hidden;
    object-fit:cover;
    object-position:50% 50%;
}

.image-search-result a:hover {
  overflow: visible;
}

.image-search-caption {
  font-size:90%;
    font-size: 90%;
    display: block;
    line-height: 1;
    height: 3.1em;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom:0.3em;
    margin-top:0.6em
}

.image-search-link {
  display:block;
  height:1em;
  margin-top:0.3em;
  margin-bottom:0.3em;
}

.image-search-date {
    color: #ccc;
    font-variant: small-caps;
    font-size:80%;
    font-style:italic;
    text-align: left;
    float: left;
}

.search-origin {
    color: #ccc;
    font-variant: small-caps;
    text-align: right;
    float: right;
}

.search-tags {

}

.search-tags .search-tag {
  background: #eee;
  border:     1px solid #ccc;
  padding:    2px;
  margin:     4px;
}

.image-search-origin .provider {
  background: #4d6f93;
  padding: 0.1em 0.5em;
  border-radius: 0.2em;
  color: white;
  font-size:90%;
  font-weight:bold;
  font-variant:normal;
}

.image-search-form {
    display:flex;
    flex-direction:row;
    align-items: stretch;
}

.image-search-form > .image-search-inputs-container {
    margin-right:1em;
    min-width:299px;
}

.image-search-form > .image-search-inputs-container > table input,
.image-search-form > .image-search-inputs-container > table button {
    width:100%;
}


.image-search-form > .image-search-inputs-container input[type=date],
.image-search-form > .image-search-inputs-container input[type=time],
.image-search-form > .image-search-inputs-container input[type=number] {
    padding: 3px 1px;
    border: solid 1px #a9a9a9;
    margin-bottom: 0px;
}

.image-search-form > .image-search-inputs-container input[type=date] {
    width:60%;
    min-width:130px;
}
.image-search-form > .image-search-inputs-container input[type=time] {
    width:25%;
    min-width:75px;
    margin-left:1%;
}

.image-search-form > .image-search-inputs-container input[type=range] {
    padding: 3px 2px;
    border: solid 1px #a9a9a9;
}

.image-search-form > .image-search-inputs-container th {
    text-align:right;
}

.image-search-form > .image-search-map-container {
    flex-grow:100;
    margin-left:1em;
    margin-top:1em;
}

.image-search-form > .image-search-inputs-container input:invalid {
  background:#ffeeee;
  border-color:#ddbbbb;
  color:#664444;
}

/**
  * FIXME this needs to be moved to and merged with tooltips.css
  */
.image-search-form > .image-search-inputs-container input[name=radius_root]::before {
  top: -0.4em;
  left: 101%;
  right:auto;
  padding:0.3em 1em 1em 1em;
  font-weight:normal;
  z-index:200;
}

/**
  * FIXME this needs to be moved to and merged with tooltips.css
  */
.image-search-form > .image-search-inputs-container input[name=radius_root]::after {
  top: 0.9em;
  left: 101%;
  right:auto;
  border-right: solid 0.4em rgba(6, 6, 6, 0);
  border-left: none;
  border-top: solid 0.3em transparent !important;
  border-bottom: solid 0.3em transparent;
  transition:background-color 0.3s ease-out, border-right-color 0.3s ease-out;
  -moz-transition:background-color 0.3s ease-out, border-right-color 0.3s ease-out;
  -webkit-transition:background-color 0.3s ease-out, border-right-color 0.3s ease-out;
  z-index:200;
}

.image-search-form > .image-search-inputs-container input[name=radius_root]:hover::after {
  border-right-color:rgba(6,6,6,1);
  border-top-color:transparent !important;
}

.ol-map-id2 {
  top:0.5em;
  right:0.5em;
}

.ol-map-id2-results {
  width:256px;
  overflow-y:scroll;
  float:right;
  height:310px;
  margin-top:2em;
}

.ol-map-id2-results-close,
.ol-map-id2-results-stats {
  display:block;
  font-size:70%;
  font-weight:900;
  position:absolute;
  top:3em;
}

.ol-map-id2-results-stats {
  left:0.3em;
  color:#7b98bc;
}

.ol-map-id2-results-close {
  right:0.3em;
  color:white;
  background-color:rgba(0,60,136,.5);
  border-radius:0.5em;
  padding:0em 0.5em;
  cursor:pointer;
}

.ol-map-id2-results-close:hover {
  background-color:#7b98bc;
}

.ol-map-id2-results:empty {
  display:none;
}

.ol-map-id2-results:empty + .ol-map-id2-results-stats,
.ol-map-id2-results:empty + .ol-map-id2-results-stats + .ol-map-id2-results-close {
  display:none;
}

.ol-map-id2-results .ol-id2-map-search-result {
  display:block;
  background-position: left top;
  background-repeat: no-repeat;
  padding-left:20px;
  font-size:80%;
  font-weight:bold;
  text-decoration:none;
  color:#3a4953;
  background-color:rgba(220, 220, 220, 0.5);
  margin-bottom:2px;
  border-radius:0.3em;
  cursor:pointer;
}

.ol-map-id2-results .ol-id2-map-search-result:hover {
  background-color:rgba(220, 220, 255, 0.9);
}

.ol-map-id2-results .ol-id2-map-search-result .latlon {
  font-size:70%;
  display:block;
}

.ol-map-id2-results .ol-id2-map-search-result .latlon > * {
  font-style:italic;
}

.ol-map-id2-controls {
  display:block;
  display:flex;
  flex-direction:row;
  align-items: center;
}

/* searchbox and center-on-selection button */
.ol-map-id2-controls input {
  flex-grow:100;
  width:200px;
  height:16px;
  line-height:16px;
  padding:2px 2px;
  margin-bottom:0px;
  transition:width 0.5s ease-out;
}

.ol-map-id2-controls input:focus {
  width:400px;
}

.ol-map-id2-controls .ol-map-search-button {
  margin-right:0.25em;
}


/**
  * FIXME this needs to be moved to and merged with tooltips.css
  */
.ol-map-id2-controls button::before {
  top: auto;
  bottom: -190%;
  right: 0px;
  left: auto;
  padding:1em 1em 0.3em 1em;
  font-weight:normal;
}

/**
  * FIXME this needs to be moved to and merged with tooltips.css
  */
.ol-map-id2-controls button::after {
  top: auto;
  bottom: -0.5em;
  right: 0.5em;
  left:auto;
  border-bottom: solid 0.4em rgba(6, 6, 6, 0);
  border-top: none;
  border-right: solid 0.3em transparent !important;
  border-left: solid 0.3em transparent;
  transition:background-color 0.3s ease-out, border-bottom-color 0.3s ease-out;
  -moz-transition:background-color 0.3s ease-out, border-bottom-color 0.3s ease-out;
  -webkit-transition:background-color 0.3s ease-out, border-bottom-color 0.3s ease-out;
}

/**
  * FIXME this needs to be moved to and merged with tooltips.css
  */
.ol-map-id2-controls button:hover::after {
  border-bottom-color:rgba(6,6,6,1);
  border-top-color:transparent !important;
}

.ol-map-id2-controls button {
  opacity:1;
  transition:opacity 0.7s ease-in;
  -moz-transition:opacity 0.7s ease-in;
  -webkit-transition:opacity 0.7s ease-in;
}

.ol-map-id2-controls button[disabled] {
  opacity:0;
}


.image-search-inputs-container table {
  max-width:300px;
}

.image-search-inputs-container th[colspan] {
  padding-top:0.5em;
  text-align:left;
  border-bottom: solid 1px #888;
}

.image-search-inputs-container td.instructions {
  font-size:80%;
  font-style:italic;
}

.map {
  height: 100%;
  width: 100%;
}

td.search-providers div {
  display:flex;
  flex-direction:row;
  width:100%;
  justify-content:center;
}

td.search-providers input[type=checkbox] {
  display:none;
}

td.search-providers label {
  display:block;
  margin:0.1em;
}

td.search-providers label span {
  display:block;
  background:gray;
  color:white;
  opacity:0.5;
  transition:opacity 0.5s ease-in-out;
  -moz-transition:opacity 0.5s ease-in-out;
  -webkit-transition:opacity 0.5s ease-in-out;
  padding:0.1em 0.5em;
  font-size:80%;
  font-weight:bold;
}

.provider i.fa {
  margin-right:0.5em;
  margin-top:-0.2em;
}

td.search-providers div input:checked + span {
  opacity:1.0
}

td.search-providers div input[value=VKontakte] + span,
.provider.VKontakte {
  background:#4d6f93;
}

td.search-providers div input[value=Instagram] + span,
.provider.Instagram {
  background:#305f87;
}

td.search-providers div input[value=YouTube] + span,
.provider.YouTube {
  background:#c3191e;
}

#search_form .well {
  display:flex;
  flex-direction:row;
  width:80%;
  justify-content:center;
  align-content: stretch;
}
