{% macro render(db, aspect) %}
  <div class="database-detail">
    {% if user.is_staff or user.is_superuser %}
      <div class="controls pull-right">
        <a href="{{ url('admin:databases_externaldatabase_change', db.pk) }}"
           class="btn btn-xs btn-default">
          <i class="fa fa-pencil-square" aria-hidden="true"></i>
          Edit
        </a>
        <a href="{{ url('admin:databases_externaldatabase_delete', db.pk) }}"
           class="btn btn-xs btn-default">
          <i class="fa fa-trash" aria-hidden="true"></i>
          Delete
        </a>
      </div>
    {% endif %}

    <h4 class="database-title">
      {{ aspect }}:
      <a href="{{ db.url }}" target="_blank">
        {{ db.agency }}
      </a>
    </h4>
    {% if db.notes %}
      <p class="database-notes">
        {{db.notes}}
      </p>
    {% endif %}
    <div class="database-criteria">  
      {% if db.paid %}
        <i class="fa fa-fw fa-dollar"></i>
        {% trans %}Paid Database{% endtrans %}
      {% endif %}
      {% if db.registration_required %}
        <i class="fa fa-fw fa-edit"></i>
        {% trans %}Registration Required{% endtrans %}
      {% endif %}
      {% if db.government_db %}
        <i class="fa fa-fw fa-building"></i>
        {% trans %}Government Database{% endtrans %}
      {% endif %}
    </div>
  </div>
{% endmacro %}
