{% extends "base.jinja" %}

{% block content %}
    <div class="span12">
        <div ng-controller="ID2PodaciCtrl"
             ng-include="'/static/html/podaci/manager.html'">
        </div>
    </div>
{% endblock %}
