{% extends "base.jinja" %}

{% block content %}
    <h1>{% trans %}Oops!{% endtrans %}</h1>
    <p>{% trans %}We hit a snag: the database server isn't responding correctly. Try again in a moment or two.{% endtrans %}</p>
{% endblock %}
