{% extends "admin_base.jinja" %}

{% block admin_content %}
<div class='page-header'>
    <h1>{% block crud_title %}External Databases{% endblock %}</h1>
</div>

<div class="row">
	<div class="span4 well">
		<p>{% trans %}Here you can administrate registration of external database resources.{% endtrans %}</p>
	</div>
	<div class="span4">
		{%- if action == 'create' -%}
		<form action="{{ url('admin_external_database') }}" method="POST">
		{%- elif action == 'update' -%}
		<form action="{{ url('admin_external_database') }}{{ pk }}/save" method="POST">
		{%- elif action == 'delete' -%}
		<form action="{{ url('admin_external_database') }}{{ pk }}/delete" method="POST">
		{%- endif -%}

		{% csrf_token %}

		{%- if action == 'create' or action == 'update' -%}
		<table>
		{{form.as_table()}}
		</table>
		{%- else -%}
		<p>Are you sure you want to delete <em>{{ obj_info.agency }}</em> ?</p>
		{%- endif -%}

		{%- if action == 'create' -%}
		<input type="submit" class="btn btn-primary" value="Add"/>
		{%- elif action == 'update' -%}
		<input type="submit" class="btn btn-primary" value="Save"/>
		{%- else -%}
		<input type="submit" class="btn btn-primary" value="Delete"/>
		{%- endif -%}

	</div>
</form>

</div>

<h2>{% trans %}All external databases{% endtrans %}</h2>
<table class="table table-border">
<thead>
	<tr>
		<th>{{ _("Agency") }}</th>
		<th>{{ _("URL") }}</th>
		<th>Actions</th>
	</tr>
</thead>
<tbody>
	{% for i in object_list %}
	<tr>
		<td>{{i.agency}}</td>
		<td>{{i.url}}</td>
		<td>
<a href="/admin/external_database/{{i.pk}}">{% trans %}Edit{% endtrans %}</a>

<a href="/admin/external_database/{{i.pk}}/delete">{% trans %}Delete{% endtrans %}</a>

</td>

	</tr>
	{% else %}
	<tr>
		<td colspan="3"><div style="margin: 3em; text-align: center;">{{ _("No external databases defined") }}</div></td>
	{% endfor %}
</tbody>
</table>

    
{% endblock %}
