{% extends "base.jinja" %}
{% block body_class %}splash has-full-page-header{% endblock %}

{% block before_content %}
    <link rel="stylesheet" href="{{ static('css/podaci.css') }}"/>
    <div class="page-header full-page-header">
        <h2 class="primary-highlight">{% trans %}Feedback{% endtrans %}</h2>
    </div>
{% endblock %}
{% block content %}

{% set feedback_text = 'We value your feedback -- help us improve Investigative Dashboard!' %}
{% include "partials/_feedback_form.jinja" with context %}

{% endblock %}
