{% extends "admin_base.jinja" %}

{% block admin_content %}
    <div class='page-header'>
        <h1>{% block crud_title %}Statistics{% endblock %}</h1>
    </div>


<ul class="statistics_boards">
  <li>{% trans %}{{tickets_opened}} research requests ({{tickets_people}} about people, {{tickets_company}} about companies, {{tickets_other}} about other topics{% endtrans %}</li>
  <li>{% trans %}{{tickets_closed}} research requests completed, {{tickets_in_progress}} still in progress{% endtrans %}</li>
  <li>{% trans %}{{accounts_approved}} accounts ({{accounts_user}} requesters, {{accounts_volunteer}} volunteers, {{accounts_staff}} staff, {{accounts_admin}} admin){% endtrans %}</li>
  <li>{% trans %}{{accreq_total}} account requests ({{accreq_approved}} approved, {{accreq_rejected}} rejected, {{accreq_outstanding}} outstanding){% endtrans %}</li>
</ul>	

 
    
{% endblock %}