{% extends "admin_base.jinja" %}

{% block admin_content %}
    <div class='page-header'>
        <h1>{% block crud_title %}Statistics{% endblock %}</h1>
       	<p>Investigative Dashboard version {{version}}.</p>

    </div>
<div>
<h2>Basic Statistics</h2>
<ul class="statistics_boards">
  <li>{% trans %}{{tickets_opened}} research requests ({{tickets_people}} about people, {{tickets_company}} about companies, {{tickets_other}} about other topics{% endtrans %}</li>
  <li>{% trans %}{{tickets_closed}} research requests completed, {{tickets_in_progress}} still in progress{% endtrans %}</li>
  <li>{% trans %}{{accounts_approved}} accounts ({{accounts_user}} requesters, {{accounts_volunteer}} volunteers, {{accounts_staff}} staff, {{accounts_admin}} admin){% endtrans %}</li>
  <li>{% trans %}{{accreq_total}} account requests ({{accreq_approved}} approved, {{accreq_rejected}} rejected, {{accreq_outstanding}} outstanding){% endtrans %}</li>
</ul>
</div>

<div>
	<h2>Search</h2>
	<table class="table table-border">
	<thead>
		<tr>
			<th>Type</th>
			<th>Searches</th>
			<th>Results found</th>
		</tr>
	</thead>
	<tbody>
		{% for search in searches %}
		<tr>
			<td>{{search.type}}</td>
			<td>{{search.count}}</td>
			<td>{{search.results}}</td>
		</tr>
		{% endfor %}
	</tbody>
	</table>
</div>

<div>
	<h2>Networks</h2>

	<table class="table table-border">
	<thead>
		<tr>
			<th>Name</th>
			<th>Members</th>
			<th>Total costs incurred</th>
		</tr>
	</thead>
	<tbody>
		{% for network in networks %}
		<tr>
			<td>{{network.short_name}}</td>
			<td>{{network.members.count()}}</td>
			<td>{{network.get_payment_total()}} USD</td>
		</tr>
		{% endfor %}
		<tr>
			<td>{% trans %}Unaffiliated{% endtrans %}</td>
			<td>{{unaffiliated_users_count}}</td>
			<td>{{unaffiliated_costs_total}} USD</td>
		</tr>
	</tbody>
	</table>
</div>

{% endblock %}
