{% extends "admin_base.jinja" %}

{% block admin_content %}
    <div class='page-header'>
        <h1>{% block crud_title %}Statistics{% endblock %}</h1>
    </div>


<ul class="statistics_boards">
  <li>{{tickets_opened}} research requests ({{tickets_people}} about people, {{tickets_company}} about companies, {{tickets_other}} about other topics</li>
  <li>{{tickets_closed}} research requests completed, {{tickets_in_progress}} still in progress</li>
  <li>{{accounts_approved}} accounts ({{accounts_user}} requesters, {{accounts_volunteer}} volunteers, {{accounts_staff}} staff, {{accounts_admin}} admin)</li>
  <li>{{accreq_total}} account requests ({{accreq_approved}} approved, {{accreq_rejected}} rejected, {{accreq_outstanding}} outstanding)</li>
</ul>	

 
    
{% endblock %}