{% extends "admin_base.jinja" %}
{% block admin_content %}

<h2>Podaci status</h2>
<table class="table table-border">
<tr><th>Files</th><td>{{podaci_files}}</td></tr>
<tr><th>Tags</th><td>{{podaci_tags}}</td></tr>
<tr><th>Collections</th><td>{{podaci_collections}}</td></tr>
<tr><th>Total size</th><td>{{podaci_size|filesizeformat}}</td></tr>
<tr><th>Root</th><td>{{podaci_data_root}}</td></tr>
<tr><th>Data sharding</th><td>{{podaci_data_sharding}}</td></tr>
<tr><th>Main index</th><td>{{podaci_index}}</td></tr>
</table>

<h2>Osoba status</h2>
N/A

{% endblock %}
