{% extends "layout/default.jinja" %}

{% block title %}{% trans %}Choose a new password{% endtrans %}{% endblock %}
{% block header_icon %}unlock-alt{% endblock %}

{% block inner_content %}  
  {% if validlink %}
    <div class="col-md-6">
      <form method="POST" class="form-horizontal">
        {{ csrf_input }}
        {{ forms.render_form_fragment(form) }}
        {{ forms.render_submit(submit_title="Send password") }}
      </form>
    </div>
  {% else %}
    <div class="col-md-12">
      <div class="alert alert-danger">
        {% trans %}Password reset failed. Did you already use this password reset link?{% endtrans %}
      </div>
    </div>
  {% endif %}
{% endblock %}
