{% extends "layout/default.jinja" %}

{% block title %}{% trans %}Password reset{% endtrans %}{% endblock %}
{% block header_icon %}unlock-alt{% endblock %}

{% block inner_content %}  
  <div class="col-md-12">
    <div class="alert alert-success">
      {% trans %}An email with password reset instructions has been sent.{% endtrans %}
    </div>
  </div>
{% endblock %}
