{% extends "layout/default.jinja" %}

{% block title %}{% trans %}Password reset{% endtrans %}{% endblock %}
{% block header_icon %}unlock-alt{% endblock %}

{% block inner_content %}  
  <div class="col-md-6">
    <form method="POST" class="form-horizontal">
      {{ csrf_input }}
      {{ forms.render_form_fragment(form) }}
      {{ forms.render_submit(submit_title="Send password") }}
    </form>
  </div>
{% endblock %}
