{% extends "layout/default.jinja" %}

{% block title %}{% trans %}Password reset{% endtrans %}{% endblock %}
{% block header_icon %}unlock-alt{% endblock %}

{% block inner_content %}
  <div class="col-md-12">
    <div class="alert alert-success">
      {% trans %}Password reset successfully{% endtrans %}
      <a href="{{ url('login') }}" class="alert-link">
        {% trans %}Sign in...{% endtrans %}
      </a>
    </div>
  </div>
{% endblock %}
