{% extends "layout/default.jinja" %}

{% block title %}Your profile{% endblock %}

{% block before_content %}
  <div class="page-header full-page-header">
    <h2 class="primary-highlight">
      {% trans %}Your profile{% endtrans %}
    </h2>
  </div>
{% endblock %}

{% block content %}
  <div class="profile-container material-form-container">
    <form action="{{ url('profile') }}" method="POST">
    {{ csrf_input }}

    <label></label>
    <input class="material-form-submit btn primary md-whiteframe-z2"
           type="submit" value="{% trans %}Save{% endtrans %}"/>
    </form>
  </div>
{% endblock %}
