{% extends "layout/default.jinja" %}

{% block title %}Change your settings{% endblock %}
{% block header_icon %}user{% endblock %}

{% block inner_content %}  
  <div class="col-md-6">
    <form action="{{ url('profile') }}" method="POST" class="form-horizontal">
      {{ csrf_input }}
      {{ forms.render_form_fragment(form) }}
      {{ forms.render_submit() }}
    </form>
  </div>
{% endblock %}
