{% extends "layout/default.jinja" %}

{% block title %}Change your settings{% endblock %}

{% block content %}
  <div class="id-page-header">
    <h2>
      <i class="fa fa-user" aria-hidden="true"></i>
      {{ self.title() }}
    </h2>
    <div class="clearfix"></div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <form action="{{ url('profile') }}" method="POST" class="form-horizontal">
          {{ csrf_input }}
          {{ forms.render_form_fragment(form) }}
          {{ forms.render_submit() }}
        </form>
      </div>
    </div>
  </div>
{% endblock %}
