{% extends "layout/default.jinja" %}

{% block title %}{% trans %}Register{% endtrans %}{% endblock %}
{% block header_icon %}user{% endblock %}

{% block inner_content %}  
  <div class="col-md-12">
    <div class="alert alert-success">
      <strong>
        {% trans %}Registration successful{% endtrans %}
      </strong>
      {% trans %}We just sent you a verification e-mail.{% endtrans %}
      <a href="{{ url('login') }}" class="alert-link">
        {% trans %}Sign in...{% endtrans %}
      </a>
    </div>
  </div>
{% endblock %}
