{% extends "layout/default.jinja" %}
{% block title %}System statistics{% endblock %}
{% block header_icon %}cog{% endblock %}

{% block inner_content %}
  <div class="col-md-6">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>{% trans %}Networks{% endtrans %}</th>
          <th class="numeric">{% trans %}Members{% endtrans %}</th>
          <th class="numeric">{% trans %}Total costs incurred{% endtrans %}</th>
        </tr>
      </thead>
      <tbody>
        {% for network in networks %}
        <tr>
          <td>{{network.short_name}}</td>
          <td class="numeric">{{network.members.count() | intcomma}}</td>
          <td class="numeric">{{network.get_payment_total() | intcomma}} USD</td>
        </tr>
        {% endfor %}
        <tr>
          <td>{% trans %}Unaffiliated{% endtrans %}</td>
          <td class="numeric">{{unaffiliated_users_count | intcomma}}</td>
          <td class="numeric">{{unaffiliated_costs_total | intcomma}} USD</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <div class="alert alert-info">
      <p>
      <strong>
        {% trans %}Investigative Dashboard v.{{version}}{% endtrans %}
      </strong>  
      </p>
      <ul>
        <li>
        {% trans %}{{tickets_opened}} research requests ({{tickets_people}} about people, {{tickets_company}} about companies, {{tickets_other}} about other topics){% endtrans %}
        </li>
        <li>
        {% trans %}{{tickets_closed}} research requests completed, {{tickets_in_progress}} still in progress{% endtrans %}
        </li>
        <li>
        {% trans %}{{accounts}} accounts ({{accounts_staff}} staff, {{accounts_admin}} admin){% endtrans %}
        </li>
      </ul>
    </div>
  </div>
  
{% endblock %}
