{% extends "layout/default.jinja" %}
{% block title %}System statistics{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-offset-3 col-md-6">
        <div class='page-header'>
          <h1>
            {% trans %}Statistics{% endtrans %}
            <small>
              {% trans %}Investigative Dashboard v.{{version}}{% endtrans %}
            </small>
          </h1>
        </div>        
        <ul class="statistics_boards">
          <li>
          {% trans %}{{tickets_opened}} research requests ({{tickets_people}} about people, {{tickets_company}} about companies, {{tickets_other}} about other topics){% endtrans %}
          </li>
          <li>
          {% trans %}{{tickets_closed}} research requests completed, {{tickets_in_progress}} still in progress{% endtrans %}
          </li>
          <li>
          {% trans %}{{accounts}} accounts ({{accounts_staff}} staff, {{accounts_admin}} admin){% endtrans %}
          </li>
        </ul>

        <h3>{% trans %}Networks{% endtrans %}</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>{% trans %}Name{% endtrans %}</th>
              <th class="numeric">{% trans %}Members{% endtrans %}</th>
              <th class="numeric">{% trans %}Total costs incurred{% endtrans %}</th>
            </tr>
          </thead>
          <tbody>
            {% for network in networks %}
            <tr>
              <td>{{network.short_name}}</td>
              <td class="numeric">{{network.members.count()}}</td>
              <td class="numeric">{{network.get_payment_total()}} USD</td>
            </tr>
            {% endfor %}
            <tr>
              <td>{% trans %}Unaffiliated{% endtrans %}</td>
              <td class="numeric">{{unaffiliated_users_count}}</td>
              <td class="numeric">{{unaffiliated_costs_total}} USD</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
