{% import "macros/forms.jinja" as form_macros with context %}

{% if not_allowed %}{% trans %}Not Allowed{% endtrans %}{% endif %}

<form action="{{ form_action }}" class="form-horizontal" method="POST"{% if enctype != "" and enctype is defined %} enctype="{{enctype}}"{% endif %}>
	<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf }}">
    {% for field in form %}
        {{ form_macros.render_field(field) }}
    {% endfor %}
</form>
