{% macro modal_shell(modal_id, title, submit_text, dynamic_body=False, use_ajax_submit=False, extra_text="", cancel_text=False) %}
    <div class="modal hide fade" id="{{ modal_id }}" role="dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>{{ title }}</h3>
        </div>
        <div class="modal-body">
            <div class="modal-alerts"></div>
            <div class="modal-content">{{ caller() }}</div>
        </div>
        <div class="modal-footer">
            {% if cancel_text %}
            <a href="#" class="btn" data-dismiss="modal">{{ cancel_text }}</a>
            {% endif %}
            <a href="#" class="btn btn-primary submit">{{ submit_text }}</a>
        </div>
        {% if not dynamic_body %}
            <script type="text/javascript">
                FormRegistry.register("{{ modal_id }}"{%if use_ajax_submit %}, true{% endif %});
            </script>
        {% endif %}
    </div>
{% endmacro %}

{% macro render_modal(form, form_action, modal_id, title, submit_text, enctype, csrf, use_ajax_submit=False, extra_text="", cancel_text=False) %}
    {% call modal_shell(modal_id, title, submit_text, False, use_ajax_submit, extra_text, cancel_text) %}
        {% include 'modals/form_basic.jinja' %}
    {% endcall %}
{% endmacro %}

{% macro render_dynamic_modal(modal_id, title, submit_text, use_ajax_submit=False) %}
    {% call modal_shell(modal_id, title, submit_text, True, use_ajax_submit) %}{% endcall %}
{% endmacro %}

{% macro render_html_modal(modal_id, title, submit_text, content) %}

    <div class="modal hide fade" id="info-box-viewer" role="dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Search Help</h3>
        </div>
        <div class="modal-body">
            <div class="modal-alerts"></div>
            <div class="modal-content">
	      To search, type your query into the search box
	    </div>
        </div>
	<div class="modal-footer">
            <a href="#" id="info-box-close" class="btn btn-primary submit">{{ submit_text }}</a>
        </div>
    </div>

{% endmacro %}
