{% extends "error_base.jinja" %}

{% block page_header %}
    {% trans %}Bad Request{% endtrans %}
{% endblock %}

{% block error_content %}
    {% trans %}This request does not seem to be correct. If you believe this is an error on our side, please contact an administrator.{% endtrans %}
{% endblock %}
