{% extends "error_base.jinja" %}

{% block page_header %}
    {% trans %}Permission Denied{% endtrans %}
{% endblock %}

{% block error_content %}
    {% trans %}You do not have permission to access this feature or content. If you believe this is an error, please contact an administrator.{% endtrans %}
{% endblock %}
