{% extends "error_base.jinja" %}

{% block page_header %}
    {% trans %}Permission Denied{% endtrans %}
{% endblock %}

{% block error_content %}
    {% if not user.is_authenticated() %}
        <p>{% trans %}You must log in to use this feature.{% endtrans %}</p>
    {% else %}
        <p>{% trans %}Sorry, but you don't have access to this part of Investigative Dashboard.{% endtrans %}</p>
    {% endif %}
{% endblock %}

{% block error_details %}
    {% if not user.is_authenticated() %}
        <div style="text-align: center; margin-bottom: 20px;">
            <a href="{{url('login')}}" class="btn btn-primary button-x-large"><i class="fa fa-sign-in"></i> Sign in</a>
            <a href="{{url('registration_register')}}" class="btn button-x-large"><i class="fa fa-pencil-square-o"></i> Register</a>
        </div>

        <p style="text-align: center; font-size: 120%;">{% trans %}This part of Investigative Dashboard is only for registered users. In order to use it, register and log in to the system.{% endtrans %}</p>
    {% else %}
        <div style="text-align: center; margin-bottom: 20px;">
            <a href="{{url('request_access_create')}}" class="btn btn-primary button-x-large"><i class="fa fa-star"></i> Request permissions</a>
        </div>

        <p style="text-align: center; font-size: 120%;">{% trans %}Elevated privileges are required for access to this part of Investigative Dashboard.{% endtrans %}</p>
        <p style="text-align: center; font-size: 120%;">{% trans %}You can apply for extra access rights, and they will be reviewed on a case-by-case basis.{% endtrans %}</p>
    {% endif %}
{% endblock %}
