{% extends "error_base.jinja" %}

{% block page_header %}
    {% trans %}Application Error{% endtrans %}
{% endblock %}

{% block error_content %}
    {% trans %}There was an error in the application. This error has been recorded and should be addressed soon.{% endtrans %}
{% endblock %}