
{% extends "tickets/request_admin_base.jinja" %}

{% block ticket_title %}{% trans %}Unassigned Tickets{% endtrans %}{% endblock %}
{% block ticket_description %}{% trans %}View new tickets that need responders assigned to them.{% endtrans %}{% endblock %}
