{% extends "tickets/request_admin_base.jinja" %}

{% block ticket_title %}{% trans %}Tickets with Deadlines{% endtrans %}{% endblock %}
{% block ticket_description %}{% trans %}View open tickets ordered by upcoming deadlines. {% endtrans %}{% endblock %}
