{% extends "tickets/request_admin_base.jinja" %}

{% block ticket_title %}{% trans %}Tickets History{% endtrans %}{% endblock %}
{% block ticket_description %}{% trans %}A simple list of closed, resolved or cancelled tickets. {% endtrans %}{% endblock %}
