{% extends "tickets/request_charges_base.jinja" %}

{% block pre_title %}
<div class="pull-right header-form">
    <form action="" method="GET" class="form-search">
        <button class="btn pull-right" type="submit">{% trans %}Filter{% endtrans %}</button>
        {{ form_macros.render_select2field(filter_form.user) }}
    </form>
</div>
{% endblock %}

{% block ticket_title %}{% trans %}Customer Charges{% endtrans %}{% endblock %}
{% block ticket_description %}{% trans %}View all logged charges against an individual customer.{% endtrans %}{% endblock %}
