<div class="panel panel-default">
  <div class="panel-body">
    <p>
      {% trans %}Didn't find what you were looking for?{% endtrans %}
    </p>
    <p>
      <a href="{{ url('tickets_home') }}/new" class="btn btn-primary">
        <i class="fa fa-comments-o"></i>
        {% trans %}Submit a research request{% endtrans %}
      </a>
    </p>
  </div>
</div>
