<!DOCTYPE html>
<html lang="{{LANGUAGE_LC}}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes"> 
  <title>{% block title %}{% endblock %} - {{ID_SITE_NAME}}</title>

  {% assets "style" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="shortcut icon" href="{{ ID_FAVICON_URL }}">
  <meta name="robots" content="index, follow">
  <link rel="home" href="{{ url('home') }}">
</head>
<body>
  <div id="page">
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ url('home') }}">
            <img alt="{{ID_SITE_NAME}}" src="https://cdn.occrp.org/common/logo/occrp_logo_mobile.png">
          </a>
          <a class="navbar-brand" href="{{ url('home') }}">
            {{ID_SITE_NAME}}
          </a>
        </div>
      </div>
    </nav>

    <div id="content">
      {% block content %}{% endblock %}
    </div>
  </div>

  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <p class="pull-right">
            {{ID_SITE_NAME}} v.{{ID_VERSION}}
          </p>
        </div>
      </div>
    </div>
  </footer>

  {% assets "script" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
</body>
</html>
