<!DOCTYPE html>
<html lang="{{LANGUAGE_LC}}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
  <title>{% block title %}{% endblock %} - {{ID_SITE_NAME}}</title>

  <link rel="shortcut icon" href="{{ ID_FAVICON_URL }}">
  <meta name="robots" content="index, follow">
  <link rel="home" href="{{ url('home') }}">

  {% block head_extra %}
  {% endblock %}
</head>
<body>
  <script>
    var ajax = new XMLHttpRequest();
    ajax.open('GET', '/assets/symbols.svg', true);
    ajax.send();
    ajax.onload = function(e) {
      if (this.status === 404) {
        return;
      }
      var div = document.createElement('div');
      div.innerHTML = ajax.responseText;
      document.body.insertBefore(div, document.body.childNodes[0]);
    };
  </script>
  {% include 'includes/nav.jinja' %}

  {% block content %}
  {% endblock %}

  {% include 'includes/footer.jinja' %}
  {% assets "script" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
  <script type="text/javascript">
    var navLink = document.getElementById('nav-id-spa');
    navLink.addEventListener('click', function (e) {
      e.preventDefault();
      IdFrontend.__container__.lookup('router:main').transitionTo('index');
    });
  </script>
</body>
</html>
