<ul class="dropdown-menu" role="menu">
    <li><a class="podaci_btn_select_all">Select all</a></li>
    <li><a class="podaci_btn_select_none">Select none</a></li>
    <li><a class="podaci_btn_select_invert">Invert selection</a></li>
</ul>