<ul class="dropdown-menu" role="menu">
    <li><a class="podaci_edit_tags">Edit tags</a></li>
    <li><a class="podaci_open_in_overview">Open in Overview</a></li>
    <li><a class="FIXME podaci_selection_users_edit">Edit users</a></li>
    <li><a class="FIXME podaci_selection_make_public">Make public</a></li>
    <li><a class="podaci_selection_download_zip">Download as Zip</a></li>
    <li><a class="FIXME podaci_selection_delete">Delete</a></li>
</ul>
