{# <div class="pull-right btn-group" role="group">
    <button id="podaci-list-mode-icons" class="btn"><i class="fa fa-folder-open"></i></button>
    <button id="podaci-list-mode-list" class="btn"><i class="fa fa-list"></i></button>
</div> #}
