<ul class="dropdown-menu" role="menu">
    <li><a class="podaci_btn_select_all">{% trans %}Select all{% endtrans %}</a></li>
    <li><a class="podaci_btn_select_none">{% trans %}Select none{% endtrans %}</a></li>
    <li><a class="podaci_btn_select_invert">{% trans %}Invert selection{% endtrans %}</a></li>
</ul>