<div class="modal" id="podaci_add_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Attach a file</h4>
      </div>
      <div class="modal-body">
        <div id="podaci_upload_dropzone">
        	<form id="podaci_upload_files_form" action="/podaci/file/create" method="POST" enctype="multipart/form-data">
        		{% csrf_token %}
                <input type="file" class="podaci_upload_files" name="files[]" multiple />
            </form>
            <div class="podaci_upload_progress progress">
                <div class="progress-bar progress-bar-success"></div>
            </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
