<li><a class="podaci_edit_tags">{% trans %}Edit tags{% endtrans %}</a></li>
<li><a class="FIXME podaci_open_in_overview">{% trans %}Open in Overview{% endtrans %}</a></li>
<li><a class="FIXME podaci_selection_users_edit">{% trans %}Edit users{% endtrans %}</a></li>
<li><a class="FIXME podaci_selection_make_public">{% trans %}Make public{% endtrans %}</a></li>
<li><a class="podaci_selection_download_zip">{% trans %}Download as Zip{% endtrans %}</a></li>
<li><a class="FIXME podaci_selection_delete">{% trans %}Delete{% endtrans %}</a></li>
