<div class="modal" id="file-modal" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{% trans %}File:{% endtrans %} <span id="file-modal-filename"></span></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <form class="form-horizontal">
            <div class="span4">
                <div class="control-group">
                  <label class="control-label" for="title">Title</label>
                  <div class="controls">
                    <input type="text" id="file-title" placeholder="Title">
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="title">File name</label>
                  <div class="controls">
                    <input type="text" id="file-name" placeholder="File name"
                        disabled>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="title">Uploaded</label>
                  <div class="controls">
                    <input type="text" id="file-date" disabled>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="file-tags">Tags</label>
                  <div class="controls">
                    <select id="file-tags" multiple="true"></select>
                  </div>
                </div>
              </div>
              <div class="span4">
                <div class="control-group">
                  <label class="control-label" for="file-users-read">Readers</label>
                  <div class="controls">
                    <select id="file-users-read" multiple="true"></select>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="file-users-write">Writers</label>
                  <div class="controls">
                    <select id="file-users-write" multiple="true"></select>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="staff_read"></label>
                  <div class="controls">
                    <label class="checkbox">
                      <input type="checkbox" id="file-staff-read">
                      All staff can read
                    </label>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="public_read"></label>
                  <div class="controls">
                    <label class="checkbox">
                      <input type="checkbox" id="file-public-read">
                      Public
                    </label>
                  </div>
                </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <a class="btn" id="file-download-link">
            <i class="fa fa-download"></i>
            Download
        </a>
        <button type="button" class="btn" id="file-save-link">Save</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
