<div id="podaci-file-list-container">
    <div class="dropzone-to-be">
        <p>{% trans %}You can drop files here to upload them to ID.{% endtrans %}</p>
    </div>
    <div id="podaci-file-list"></div>
</div>
