{% extends "base.jinja" %}

{% block sidenav %}{% endblock %}

{% block content %}
	<div class="span12">
		<ul class="nav nav-tabs">
			{% for type in search_types %}
				<li role="presentation" {% if type.0 in request.path %}class="active"{% endif %}>
					<a href="/search/{{type.0}}/"><i class="fa fa-{{type.0}}"></i> {{type.1}}</a>
				</li>
			{% endfor %}
		</ul>

		<h2>{% block search_title %}{% endblock %}</h2>

		{% block search_form %}{% endblock %}

		<div class="search-results" id="search_results">
		</div>
	</div>
{% endblock %}
