<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    <title>{{ title }} </title>
        <style type="text/css">
            body, html
            {
                margin: 0; padding: 0; height: 100%; overflow: hidden;
            }
            #header
            {
                position:absolute; left: 0; top: 0; right: 0; height: 90px; background: #3a4953;
            }
            #content
            {
                position:absolute; left: 0; right: 0; bottom: 0; top: 90px; background: blue; height: expression(document.body.clientHeight-90);
            }
        </style>
    </head>
    <body>
    <div id="header">
     <div class="logo-holder">
        <a href="/"><img src="{{ static_url }}img/id-logo.png" alt="" /></a>
            <h3>{{ title }}</h3>
        </div>
     </div>	
     <div id="content">
            <iframe width="100%" height="100%" src="{{ url }}" />
     </div>
    </body>
  </body> </html>