{% set icon_classes = {
                'company': 'building',
                'person': 'user',
                'location': 'pushpin'}
%}
{% macro search_result_entity(entity) %}
                    {% if entity %}
                    {% set kind = entity.key.kind().lower() %}
                    <tr>
                        <td>
                            <div class="result">
                                {% if is_superuser %}
                                    <div class="pull-right">
                                        <h4><a class="fade-content" href="{{ uri_for("%s_edit" % entity.key.kind().lower(), obj_id=entity.key.id()) }}">
                                                <i class="fa fa-pencil"></i>
                                        </a></h4>
                                    </div>
                                {% endif %}
                                <div>
                                    <h4><a href="javascript:void(0)"
                                                class="entity-view"
                                                data-url="{{ uri_for('entity_view') }}"
                                                data-key="{{ entity.key.urlsafe() }}">
                                            <i class="fa fa-{{ icon_classes[kind] }}"></i> {{ entity }}</a></h4>
                                    {% if entity.summary %}
                                    <table class="table table-bordered">
                                        <tr>
                                            {% for name, value in entity.summary %}
                                                <td>
                                                    <strong>{{ name }}:</strong> {{ value }}
                                                </td>
                                            {% endfor %}
                                        </tr>
                                    </table>
                                    {% endif %}
                                </div>

                            </div>
                        </td>
                    </tr>
                    {% endif %}

{% endmacro %}

{% macro search_result_document(result) %}
                <tr>
                    <td>
                        <div>
                            <h4><a href="{{ result.alternateLink }}" target="_blank"><img src="{{ result.iconLink }}" /> {{ result.title }}</a></h4>
                        </div>
                    </td>
                </tr>
{% endmacro %}

{% macro search_result_opencorp_companies(result) %}
                <tr>
                    <td>
                        <div>
                            <h4><a href="{{ result.url }}" target="_blank"><img src="{{ None  }}" /> {{ result.name }}</a></h4>
			  <p> {{ result.address}}
			  </p>

                        </div>
                    </td>
                </tr>
{% endmacro %}


{% macro search_result_elastic(result) %}
                <tr>
                    <td>
                        <div class="es_result">
                            <h4><a href="{{ result.fields.url }}" target="_blank">
			  <img src="{{ static_url }}img/icons/32px/{{ result.fields.url.rsplit('.')[-1]}}.png"/> {{ result.fields.title }}</a></h4>
			  <p>
8			  {% if 'highlight' in result %}
			  {{ result.highlight.text|join(' ... ')|safe }} </p>
			  {% endif %}
			  <div class="tags">
			    Tags:
			  <span class="tags_title">
			    {% for tag in result.fields.tags %}
			      <a href="#" data-tag="{{tag}}" class="tag_link">{{ tag }}</a> *
			    {% endfor %}
			  </div>
                        </div>
                    </td>
                </tr>
{% endmacro %}


{% macro result_header_block(search_result_list) %}
 <tr>
   <th>
     <h3>{{ search_result_list.result_type.capitalize() }}: {{search_result_list.result_count}} results </h3>
   </th>
   <th><a href="#" data-searchprovider="{{search_result_list.result_type }}" class="more_from_provider">More from this source...</a></th>
</tr>
{% endmacro %}

{% macro handler_result_block(search_result_list, show_header_row=False) %}

{% if show_header_row %}
{{ result_header_block(search_result_list) }}
{% endif %}

{% if search_result_list.result_type == 'documents' %}
  {% for result in search_result_list.results %}
    {{ search_result_document(result) }}
  {% endfor %}
{% elif search_result_list.result_type == 'entities' %}
  {% for result in search_result_list.results %}
    {{ search_result_entity(result) }}
  {% endfor %}
{% elif search_result_list.result_type == 'elasticsearch' %}
  {% for result in search_result_list.results %}
    {{ search_result_elastic(result) }}
  {% endfor %}
{% elif search_result_list.result_type == 'Companies from OpenCorporates' %}
  {% for result in search_result_list.results %}
    {{ search_result_opencorp_companies(result) }}
  {% endfor %}
{% endif %}

{% endmacro %}
