{% extends "search/base.jinja" %}

{% block search_title %}Document Search{% endblock %}
{% block search_form %}
    <form id="search_form" class="search form-inline" data-type="document">
        <div class="form-group well">
            <input class="search-query" type="text" placeholder="{% trans %}Enter your terms...{% endtrans %}"
                   name="q" id="q"{% if form.query.data %} value="{{ form.query.data }}"{% endif %}/>
            <button class="btn btn-large btn-primary" id="search_submit"><i class="fa fa-search"></i> {% trans %}Search{% endtrans %}</button>
        </div>
        <div id="searching_notice" class="hide" role="alert">Searching... <i class="fa fa-spinner fa-pulse"></i></div>
    </form>
{% endblock %}
