{% extends "base.jinja" %}

{% block content %}
    <h1>Image Search</h1>

    <style>
    .search-results {
        text-align: center;
    }

    .image-search-result {
        display:    inline-block;
        width:      250px;
        margin:     6px;
        padding:    3px;
        background: #eee;
        border:     1px solid #ddd;
    }

    .image-search-result img {
        width:      250px;
        max-height: 400px;
    }

    .image-search-caption {

    }
    
    .image-search-date {
        color: #ccc;
        font-variant: small-caps;
        text-align: left;
        float: left;
    }

    .image-search-origin {
        color: #ccc;
        font-variant: small-caps;
        text-align: right;
        float: right;
    }
    
    .image-search-form {
        display:flex;
        flex-direction:row;
        align-items: center;
    }
    
    .image-search-form > .image-search-inputs-container {
        margin-right:1em;
        min-width:299px;
    }
    
    .image-search-form > .image-search-inputs-container > table input {
        width:100%;
    }
    
    
    .image-search-form > .image-search-inputs-container input[type=datetime-local] {
        padding: 3px 1px;
        border: solid 1px #a9a9a9;
        margin-bottom: 0px;
    }
    
    .image-search-form > .image-search-inputs-container input[type=range] {
        padding: 3px 2px;
        border: solid 1px #a9a9a9;
    }
    
    .image-search-form > .image-search-inputs-container th {
        text-align:right;
    }
    
    .image-search-form > .image-search-map-container {
        flex-grow:100;
        margin-left:1em;
    }

    #searching_notice {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        font-size: 150%;
        text-align: center;
        vertical-align: middle;
        background-color: #eee;
        opacity: 0.9;
    }
    
    *[data-tooltip] {
        position:relative;
    }

    *[data-tooltip]::before,
    *[data-tooltip]::after {
        position:absolute;
        opacity:0.8;
        visibility:hidden;
        font-size:80%;
        font-family:sans-serif;
        transition-duration:0s;
        -moz-transition-duration:0s;
        -webkit-transition-duration:0s;
          
    }

    *[data-tooltip]::before {
        content:attr(data-tooltip);
        top:-3.1em;
        left:1em;
        height:1.5em;
        min-width:10em;
        max-width:20em;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
        padding:0.5em 0.7em 0.7em 0.7em;
        display:block;
        border-radius:0.3em;
        text-align:center;
        
        color:white;
        background-color:rgba(6,6,6,0);
    }

    *[data-tooltip]::after {
        content:" ";
        background:transparent;
        width:1px;
        height:1px;
        border:solid 0.4em rgba(6, 6, 6, 0);
        display:block;
        border-bottom:none;
        border-left:solid 0.3em transparent;
        border-right:solid 0.3em transparent;
        top:-0.9ex;
        left:50%;
        margin-left:-0.3em;
    }

    *[data-tooltip]:hover::before,
    *[data-tooltip]:hover::after {
        border-top-color:rgba(6,6,6,1);
        visibility:visible;
        transition:background-color 0.3s ease-out, border-top-color 0.3s ease-out;
        -moz-transition:background-color 0.3s ease-out, border-top-color 0.3s ease-out;
        -webkit-transition:background-color 0.3s ease-out, border-top-color 0.3s ease-out;
    }

    *[data-tooltip]:hover::before {
        background-color:rgba(6,6,6,1);
    }
    </style>
    <link rel="stylesheet" href="{{ static('css/ol.css') }}" type="text/css">
    <style>
      .map {
        height: 400px;
        width: 100%;
      }
    </style>
    <script src="{{ static('js/ol.js') }}" type="text/javascript"></script>

    <div class="row well">
        <form name="image_search_form" id="image_search_form" class="image-search-form">
        <div class="image-search-inputs-container">
            <table>
                <tr><th colspan="2"><input class="input-large" name="q" placeholder="Search"/></th></tr>
                <tr><th>Latitude:</th><td><input name="lat"/></td></tr>
                <tr><th>Longitude:</th><td><input name="lon"/></td></tr>
                <tr><th>Search radius:</th><td><input name="radius" type="range" min="10" max="50000" data-tooltip="Radius (in meters)"/></td></tr>
                <tr><th>Start date:</th><td><input name="startdate" type="datetime-local"/></td></tr>
                <tr><th>End date:</th><td><input name="enddate" type="datetime-local"/></td></tr>
            </table>
            <input id="image_search_submit" class="btn btn-primary pull-right" type="button" value="Search"/>
        </div>
        <div class="image-search-map-container">
            <div id="map" class="map"></div>
            <script type="text/javascript">
              var map = new ol.Map({
                target: 'map',
                layers: [
                  new ol.layer.Tile({
                    source: new ol.source.MapQuest({"layer":"osm"})
                  })
                ],
                view: new ol.View({
                  center: ol.proj.transform([28.80, 47.00], 'EPSG:4326', 'EPSG:3857'),
                  zoom: 4
                })
              });
              
              /* vector source and layer for our range circle */
              var vectorSource = new ol.source.Vector({
                projection: 'EPSG:4326'
              });
              var vectorLayer = new ol.layer.Vector({
                source: vectorSource
              });
              map.addLayer(vectorLayer);
              
              /* the circle */
              var circle = false
              var circleFeature = false
              
              function setCircle() {
                var radius = ($('input[name=radius]').val() / ol.proj.METERS_PER_UNIT.m) * 2;
                
                var lon = $('input[name=lon]').val() * 1
                var lat = $('input[name=lat]').val() * 1
                
                circle = new ol.geom.Circle(
                  ol.proj.transform([lon, lat], 'EPSG:4326', 'EPSG:3857'), radius, 'XY'
                )
                if (circleFeature != false) {
                  vectorSource.removeFeature(circleFeature)
                }
                circleFeature = new ol.Feature(circle);
                // Source and vector layer
                vectorSource.addFeature(circleFeature);
              }
              
              map.on('click', function(e){
                var lonlat = ol.proj.transform(e.coordinate, 'EPSG:3857', 'EPSG:4326');
                $('input[name=lon]').val(lonlat[0])
                $('input[name=lat]').val(lonlat[1])
                setCircle()
              })
            </script>
        </div>
        </form>
        <div id="searching_notice" class="hide" role="alert">Searching... <i class="fa fa-spinner fa-pulse"></i></div>
    </div>

    <div id="search_statistics" class="hide"></div>

    <div class="row search-results" id="search_results">
    </div>
{% endblock %}

{% block after_js %}
<script>

    var current_search_id = 0;

    $(function() {
        $("#image_search_submit").on("click", start_search);
        $("#image_search_form").on("submit", start_search);
        /* make sure radius is handled */
        $('input[name=radius]')
            .on('change', setCircle)
            .on("input", function(){
                $(this).attr('data-tooltip', 'Radius: ' + this.value + 'm')
            });
    });

    function check_search_results(searchid) {
        $.getJSON('{{url("search_images_check")}}', {"id": searchid}, function(data) {
            if (data.status) {
                $("#search_results").empty();
                $("#search_statistics").text("Found " + data.results.length + " images from " + data.bots_done + " of " + data.bots_total + " image sources.");
                $("#search_statistics").show();
                for (item in data.results) {
                    item = data.results[item];
                    result = $('<div class="image-search-result"/>');
                    result.append('<a href="'+item.data.result_url+'"><img src="'+item.data.image_url+'"/></a>');
                    result.append('<div class="image-search-caption">'+item.data.caption+'</div>');
                    result.append('<div class="image-search-date">'+item.data.timestamp+'</div>');
                    result.append('<div class="image-search-origin">'+item.provider+'</div>');
                    $("#search_results").append(result);
                }
                if (data.done || data.checkin_after == -1) {
                    $("#searching_notice").hide();
                } else {
                    window.setTimeout(function() { check_search_results(searchid); }, data.checkin_after);
                }
            } else {
                window.setTimeout(function() { check_search_results(searchid); }, 2000);
            }
        });
    };

    function start_search() {
        $("#search_results").empty();
        $("#search_statistics").hide();
        $.getJSON('{{url("search_images_query")}}', $("#image_search_form").serialize(), function(data) {
            if (data.status) {
                $("#searching_notice").show();
                window.setTimeout(function() { check_search_results(data.searchid); }, data.checkin_after);
            }
        });
    }
</script>
{% endblock %}
