{% extends "base.jinja" %}

{% block content %}
    <h1>Image Search</h1>

    <style>
    .search-results {
        text-align: center;
    }

    .image-search-result {
        display:    inline-block;
        width:      250px;
        margin:     6px;
        padding:    3px;
        background: #eee;
        border:     1px solid #ddd;
    }

    .image-search-result img {
        width:      250px;
        max-height: 400px;
    }

    .image-search-caption {

    }
    
    .image-search-date {
        color: #ccc;
        font-variant: small-caps;
        text-align: left;
        float: left;
    }

    .image-search-origin {
        color: #ccc;
        font-variant: small-caps;
        text-align: right;
        float: right;
    }
    </style>
    <link rel="stylesheet" href="http://openlayers.org/en/v3.4.0/css/ol.css" type="text/css">
    <style>
      .map {
        height: 400px;
        width: 100%;
      }
    </style>
    <script src="http://openlayers.org/en/v3.4.0/build/ol.js" type="text/javascript"></script>

    <div class="row well">
        <form method="GET" action="{{url('search_images')}}">
        <div class="span3">
            <input class="input-lg" name="q" value="{{q.decode("utf-8")}}" placeholder="Search"/>

            <table>
                <tr><th>Query:</th><td></td></tr>
                <tr><th>Latitude:</th><td><input name="lat" value="{{lat}}"/></td></tr>
                <tr><th>Longitude:</th><td><input name="lon" value="{{lon}}"/></td></tr>
                <tr><th>Search radius:</th><td><input name="radius" value="{{radius}}"/></td></tr>
                <tr><th>Start:</th><td><input name="startdate" value="{{startdate}}"/></td></tr>
                <tr><th>End:</th><td><input name="enddate" value="{{enddate}}"/></td></tr>
            </table>
            <input class="btn btn-primary pull-right" type="submit" value="Search"/>
        </div>
        <div class="span6 pull-right">
            <div id="map" class="map"></div>
            <script type="text/javascript">
              var map = new ol.Map({
                target: 'map',
                layers: [
                  new ol.layer.Tile({
                    source: new ol.source.MapQuest({layer: 'sat'})
                  })
                ],
                view: new ol.View({
                  center: ol.proj.transform([37.41, 8.82], 'EPSG:4326', 'EPSG:3857'),
                  zoom: 4
                })
              });
            </script>
        </div>
        </form>
    </div>

    <div class="row search-results">
    {% for result in results %}
        <div class="image-search-result">
            <img src="{{result.imageurl}}"/>
            <div class="image-search-caption">{{result.caption}}</div>
            <div class="image-search-date">{{result.timestamp}}</div>
            <div class="image-search-origin">{{result.provider}}</div>
        </div>
    {% else %}
    <div class="alert alert-info" role="alert">No results</div>
    {% endfor %}
    </div>
{% endblock %}