{% extends "search/base.jinja" %}

{% block search_title %}Social Network Search{% endblock %}
{% block search_form %}
    <div class="row well">
        <form name="social-search-form" id="social-search-form">
        <div class="social-search-inputs-container">
            <table>
                <tr><th>Users:</th><td><input class="users_input" name="q"></td></tr>
                <tr><th>Networks:</th><td><select multiple="true" name="providers[]">
                	<option value="Instagram" selected>Instagram</option>
                </select></td></tr>
            </table>
            <input id="social-search-submit" class="btn btn-primary pull-right" type="button" value="Search"/>
        </div>
    	</form>
	</div>

{% endblock %}

{% block after_js %}
<script>
$(function() {
	$(".users_input").select2({
  		tags: true,
  		tokenSeparators: [',', ' '],
  		placeholder: "User name"
	});
	$("#social-search-submit").on("click", id2.startSocialSearch);
	$("#social-search-form").on("submit", id2.startSocialSearch);
});

var id2 = {};

id2.startSocialSearch = function() {
    $("#search_results").empty();
    $("#search_statistics").hide();
    $.getJSON('{{url("search_social_query")}}', $("#social-search-form").serialize(), function(data) {
        if (data.status) {
            $("#searching_notice").show();
            window.setTimeout(function() { id2.checkSearchResults(data.searchid); }, data.checkin_after);
            console.log(data);
        }
    });
};


</script>
{% endblock %}