{% extends "search/base.jinja" %}

{% block search_title %}{% trans %}Document Search{% endtrans %}{% endblock %}

{% block search_form %}
    <form id="search_form" class="search document-search" data-type="document">
        <div class="form-inline material-form md-whiteframe-z1">
            <div class="form-group">
                <input class="span6" type="text" placeholder="{% trans %}Enter your terms...{% endtrans %}"
                    name="q" id="q" {% if form.query.data %}value="{{ form.query.data }}"{% endif %}/>

                <button class="btn btn-large btn-primary" id="search_submit">
                    <i class="fa fa-search"></i> {% trans %}Search{% endtrans %}
                </button>
            </div>
            <div class="search-providers section-container"><span class="before">{% trans %}search repositories{% endtrans %}</span>
                <div>
                    {% for provider in search_providers %}
                        <label class="provider provider-{{ provider }}">
                            <input type="checkbox" checked="checked" name="providers" value="{{ provider }}"/>
                            <span>
                                <span>{{ provider }}</span>
                                <div class="status">
                                    <div class="running" style="display: none;">
                                        <i class="fa fa-spinner fa-spin"></i>
                                    </div>
                                    <div class="count"></div>
                                </div>
                            </span>
                        </label>
                    {% endfor %}
                </div>
            </div>
        </div>
    </form>
    <div class="search-results" id="search_results">
    </div>
{% endblock %}

{% block search_results %}{% endblock %}
