{% extends "base.jinja" %}

{% block content %}
<link rel="stylesheet" href="/static/bower_components/angular-material/angular-material.min.css"/>
<div layout="row" flex ng-view>
</div>

{% endblock %}
