{% extends "admin_base.jinja" %}

{% block admin_content %}
    <div class='page-header'>
        <h1>{% block crud_title %}{% endblock %}</h1>
    </div>
    {% if not rels %}
        <p>
            {% trans object_name=instance.name -%}
                Are you sure you want to delete {{ object_name }}? You will not be able to undo this action.
            {%- endtrans %}
        </p>
        <form method="POST">
            <input type="submit" class="btn btn-primary" value="{% trans %}Yes, I am sure.{% endtrans %}" />
        </form>
    {% else %}
        <p>
            {% trans object_name=instance.name -%}
                {{ object_name }} is attached to the following relationships:
            {%- endtrans %}
        </p>
        {{ macros.render_table(rels, rel_fields, request, _("relationship"), list_empty) }}
    {% endif %}
{% endblock %}
