{% import "macros/macros.jinja" as macros %}

{% macro address_row(rel) %}
{% set right = rel.right.get() %}
{{ _rel_row(rel, right, [right.name, rel.type, rel.start, rel.end])}}
{% endmacro %}

{% macro person_row(rel) %}

{% set right = rel.right.get() %}
{{ _rel_row(rel, right, [right.name, rel.type, rel.start, rel.end])}}
{% endmacro %}


{% macro _rel_row(rel, right, cols) %}
 <tr>

   
   <td>
                            <a href="javascript:void(0)" class="entity-view"
                               data-url="{{ uri_for('entity_view') }}"
                               data-key="{{ right.key.urlsafe() }}">{{ right.name }}
                            </a>

     </td>
   <td>{{ rel.type }}</td>
   <td>{{ rel.start }}</td>
   <td>{{ rel.end }}</td>
 </tr>
 {% endmacro %}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{{ obj.name }}</h3>
</div>
<div class="modal-body">
    <dl>
        {% for verbose_name, value in obj.modal_details %}
            <dt>{{ verbose_name }}</dt>
            <dd>{{ macros.highlight(macros.display_value(value), query) }}</dd>
        {% endfor %}

{% if obj.addresses %}
	    <h3>Addresses</h3>
<table class="table table-striped table-bordered">
  <tr>
   <th>Address</th>
   <th>From</th>
   <th>To</th>
 </tr>
 {% for rel in obj.addresses %}
 {{ person_row(rel) }}
 {% endfor %}
</table>
{% endif %}
{% if obj.people %}
	    <h3>People</h3>
<table class="table table-striped table-bordered">
  <tr>
   <th>Name</th>
   <th>Function</th>
   <th>From</th>
   <th>To</th>
 </tr>
 {% for rel in obj.people %}
 {{ person_row(rel) }}
 {% endfor %}
</table>
{% endif %}

{% if obj.companies %}
	    <h3>Companies</h3>
<table class="table table-striped table-bordered">
  <tr>
   <th>Name</th>
   <th>Function</th>
   <th>From</th>
   <th>To</th>
 </tr>
 {% for rel in obj.companies %}
 {{ person_row(rel) }}
 {% endfor %}
</table>
{% endif %}

{% if False %}
 <h3>Files</h3>

            {{ macros.list_files(obj) }}

{% endif %}

    </dl>
</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">
        {% trans %}Close{% endtrans %}
    </button>
</div>


