{% extends "admin_base.html" %}

{% macro pagination_links(prev_cursor, next_cursor, current_direction, more_results) %}

{% if (next_cursor and next_cursor.urlsafe() != "") or (prev_cursor and prev_cursor.urlsafe() != "") %}
    <div class="pagination pull-right">
        <ul>
        {% if (prev_cursor and prev_cursor.urlsafe() != "") and ((current_direction == "prev" and more_results)
                or current_direction == "next") %}
            <li>
                <a href="{{ request.path }}?curs={{ prev_cursor.urlsafe() }}&dir=prev">Prev</a>
            </li>
        {% else %}
            <li class="disabled"><a href="#">{% trans %}Prev{% endtrans %}</a></li>
        {% endif %}

        {% if (next_cursor and next_cursor.urlsafe() != "") and ((current_direction == "next" and more_results)
                or current_direction == "prev") %}
            <li>
                <a href="{{ request.path }}?{{ request.query_str}}&curs={{ next_cursor.urlsafe() }}&dir=next">Next</a>
            </li>
        {% else %}
            <li class="disabled"><a href="#">{% trans %}Next{% endtrans %}</a></li>
        {% endif %}
        </ul>
    </div>

{% endif %}

{% endmacro %}


{% block admin_content %}
<div class="page-header">
    {% if not hide_add_item %}
        <a href="{# { url('%s_add' % model_name) } #}" class="btn btn-primary pull-right">
            <i class="icon-plus-sign icon-white"></i> {% trans %}Add{% endtrans %}
        </a>
    {% endif %}
    <h1>{% block crud_title %}{% endblock %}</h1>
</div>

{% block crud_table %}

<!-- debug place to print objects -->

{% if model_name != "accountrequest" %}
	{% block filter_form %} {%endblock%}
	{{ macros.render_table(objects, fields, request, model_name, list_empty, "crud-list") }}
{% else %}

  <h3>Information Requester waiting for approval</h3>
    <table class="table table-striped table-bordered crud-list">
      <thead>
        <tr>
          <th>First Name</th> <th>Last Name</th> <th>Mail address</th> <th>Creation date</th>
        </tr>
      </thead>
      <tbody>
          {% for user in objects %}
          {% if user.approved == False and user.class_[1] == "RequesterRequest" %}
          <tr>
            <th><a href="/admin/accountrequest/{{ user.key.urlsafe() }}/edit/">{{user.first_name}}</a></th>
            <th>{{user.last_name}}</th>
            <th>{{user.email}}</th>
            <th>{{ macros.display_datetime(user.date_created) }}</th>
          </tr>
          {% endif %}
          {% endfor %}
      </tbody>
    </table>

  <h3>Volunteer waiting for approval</h3>
    <table class="table table-striped table-bordered crud-list">
      <thead>
        <tr>
          <th>First Name</th> <th>Last Name</th> <th>Mail address</th> <th>Creation date</th>
        </tr>
      </thead>
      <tbody>
          {% for user in objects %}
          {% if user.approved == False and user.class_[1] == "VolunteerRequest" %}
          <tr>
            <th><a href="/admin/accountrequest/{{ user.key.urlsafe() }}/edit/">{{user.first_name}}</a></th>
            <th>{{user.last_name}}</th>
            <th>{{user.email}}</th>
            <th>{{ macros.display_datetime(user.date_created) }}</th>
          </tr>
          {% endif %}
          {% endfor %}
      </tbody>
    </table>

{% endif %}


{{ pagination_links(prev_cursor, next_cursor, current_direction, more_results) }}
{% endblock %}
{% endblock %}
