{% extends "podaci_base.jinja" %}

{% block podaci_content %}
<div class="span3 podaci-details">
    <div class="text-center"><a href="{{url('podaci_files_download', id=file.id)}}" class="btn"><i class="icon-download"></i> Download</a></div>
    <table class="table-vertical">
        {% if file.is_resident %}
        {{file.get_thumbnail_as_img_tag()}}
        {% endif %}
        {% if file.url %}
            <tr><th>URL:</th><td><a href="{{file.url}}">{{file.url|truncate}}</a></td></tr>
        {% else %}
            <tr><th>Filename:</th><td>{{file.filename}}</td></tr>
            <tr><th>Mime type:</th><td>{{file.mimetype}}</td></tr>
            <tr><th>Size:</th><td>{{file.size|filesizeformat}}</td></tr>
        {% endif %}
        <tr><th>Tags:</th><td>
            {% if file.has_write_permission(user) %}<a class="btn btn-small pull-right podaci_edit_tags">Edit tags</a>{% endif %}
            {% for tag in file.tags %}
            <a href="{{url('podaci_tags_details', tag)}}">{{tags[tag].meta.name}}</a>
            {%- if not loop.last %},{% endif %}
            {% else %}
            No tags added.
            {% endfor %}
        </td></tr>
        <tr><th>Users:</th><td>
            {% if file.has_write_permission(user) %}<a class="btn btn-small pull-right podaci_edit_users">Edit users</a>{% endif %}
            {% for user in file.allowed_users %}
            <a href="{{url('profile', users[user].id)}}">{{users[user]}}{% if user in file.allowed_write_users %} <i class="icon-edit"></i>{% endif %}</a>
            {%- if not loop.last %},{% endif %}
            {% else %}
            No users.
            {% endfor %}
        </td></tr>
        <tr><th>Public:</th><td>
            {%- if file.public_read -%}
            {% trans %}Yes{% endtrans %}
            {%- else -%}
            {% trans %}No{% endtrans %}
            {%- endif -%}
        </td></tr>
        <tr><th>Searchable:</th><td>
            {%- if file.is_indexed -%}
            {% trans %}Yes{% endtrans %}
            {%- else -%}
            {% trans %}No{% endtrans %}
            {%- endif -%}
        </td></tr>
        <tr><th>Created:</th><td>{{file.date_added}}</td></tr>
    </table>
</div>

<div class="span9">
    <div class="well">
    {% if file.title %}
        <h3>{{file.title}}</h3>
    {% endif %}
    {{file.description}}
    </div>

    <div class="span4">
        <h3>Notes</h3>
        <div id="file_notes">
            {% for note in notes %}
            {% include("podaci/partials/_note.jinja") %}
            {% endfor %}
        </div>
        <form id="note_add_form"/>
            {% csrf_token %}
            <textarea name="note_text" id="note_text" class="tagged_text span4"></textarea>
            <input type="hidden" name="podaci_file_id" id="podaci_file_id" value="{{file.id}}"/>
            <a id="podaci_note_save" class="btn">Save note</a>
        </form>
    </div>
    <div class="span4" id="extra_metadata">
        <h3>Extra metadata</h3>
        <form id="extra_metadata_form">
            {% csrf_token %}
            <table class="table" id="extra_metadata">
            <thead>
                <tr>
                    <th>Field</th>
                    <th>Value</th>
                </tr>
                <tr>
                    <th><input id="extra_key" name="extra_key" style="width: 100px"/></th>
                    <th><textarea id="extra_value" class="tagged_text" name="extra_value"></textarea></th>
                </tr>
            </thead>
            <tbody>
                {% for k,v in file.meta.extra.iteritems() %}
                <tr>
                    <td>{{k}}</td>
                    <td><textarea name="{{k}}">{{v}}</textarea></td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
            <button id="extra_metadata_save" class="btn">Save metadata</button>
        </form>
    </div>
</div>


{% endblock %}