html {
    height: 100%;
}

body {
    min-height: 100vh;
    background-color: $text-muted;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $font-family-sans-serif;
}

#page {
    min-height: 90vh;
    position: relative;
    background-color: white;
    padding-bottom: 2em;
}

footer {
    padding-top: 1em;
    padding-bottom: 1em;
    color: white;

    a {
        color: white;
        text-decoration: underline;
    }    
}
