
.database-listing-title {
    font-weight: bolder;
    font-size: 1.4em;
    margin-bottom: 0.7em;
}

.database-listing-summary {
    @extend .text-muted;
    font-size: 1.2em;
    margin-bottom: 2em;
}

.databases-index {
    .tab-content {
        padding-top: 1em;
    }
}

.database-facet {
    // font-weight: bold;
    margin-bottom: 1em;
}

.database-item {
    min-height: 2.2em;

    .badge {
        background-color: white;
        color: $text-muted;
        // float: right;
    }
}

.database-detail {
    margin-bottom: 2.5rem;
    // border-left: 10px solid $brand-primary;
    // padding-left: 1rem;

    h4.database-title {
        margin-bottom: 0.2rem;
        margin-top: 0;
        font-weight: bold;
        line-height: 1.4em;
    }

    .database-criteria {
        color: $text-muted;
    }

    .database-notes {
        margin-bottom: 0.5rem;
        line-height: 1.4em;
    }
}
