.home {
    h1, h2, h3, h4 {
        // font-weight: bold;
        i.fa {
            color: $brand-primary;
        }
    }

    .section {
        padding-top: 2em;
        padding-bottom: 3em;

        p {
            font-size: 1.1em;
            line-height: 1.5em;
        }
    }

    .jumbotron {
        margin-top: -30px;
        min-height: 40vh;
        text-align: center;
        background-image: url(/static/images/splash_dark.png);

        h1 {
            margin-top: 1em;
            color: white;
            font-weight: 600;
            font-family: $font-family-sans-serif;
        }

        p {
            color: white;
            font-weight: bold;
            margin-top: 1em;
        }
    }

    .services {
        @extend .section;

        h3 {
            margin-bottom: 1em;
        }

        a {
            font-weight: bold;
            text-decoration: underline;
        }

        p {
            display: block;
            min-height: 3.5em;
        }
    }

    .team {
        @extend .section;
        background-color: $brand-primary;
        color: white;

        h3, h4 {
            font-weight: bold;
        }

        h4 {
            text-align: center;
        }

        img {
            width: 100%;
            border-radius: 50%;
            margin-top: 1em;
            margin-bottom: 1em;
        }
    }

    .databases {
        @extend .section;
        background-color: $brand-secondary;
        color: white;
        margin-bottom: -2em;

        h3 {
            font-weight: bold;
        }

        p {
            margin-bottom: 2em;
        }

        /// colored edition
        a {
            color: white;
            text-decoration: underline;
        }

        .badge {
            background-color: $brand-secondary;
        }

        .nav-tabs li a {
            text-decoration: none;

            &:hover {
                background-color: $brand-secondary;
                color: white;
            }
        }

        .nav-tabs li.active a {
            background-color: $brand-secondary;
            color: white;
            font-weight: bold;
        }
    }

    .credits {
        @extend .section;

        h3 {
            font-weight: bold;
        }

        .logos {
            text-align: center;
            padding-top: 2em;
            padding-bottom: 2em;
        }

        a.logo {
            &:hover {
                text-decoration: none;
            }

            img {
                max-height: 50px;
                // max-width: 30%;
                padding-left: 5%;
                padding-right: 5%;
                border-left: 1px solid $text-muted;
            }
        }

        a.logo.first {
            img {
                padding-left: 0;
                border-left: none;
            }
        }
    }
}
