$occrp-red: #982022 !default;

$page-bg: white;
$text-muted: #999;
$default-radius: 3px;
$brand-primary: $occrp-red;

// Style tiles, Fonts
$font-family-sans-serif: 'Open Sans', sans-serif !default;
$font-family-serif: 'Georgia', serif !default;
$input-border-focus: $brand-primary;


@import "../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

@import "mixins";
@import "base";
@import "nav";
@import "tables";

