<div layout="column">
  <section layout="row" flex="">
    <md-sidenav class="md-sidenav-left md-whiteframe-z1" md-component-id="left"
      md-is-locked-open="$mdMedia('gt-md')">
      <md-toolbar class="md-theme-indigo">
        <div class="md-toolbar-tools">
          <h3>Collections</h3>
          <span flex></span>
          <md-button>
            <i class="fa fa-plus"></i> New
          </md-button>
        </div>
      </md-toolbar>
      <md-content>
        <md-list>
          <md-list-item ng-repeat="coll in collections.results">
            <a href="">{{coll.name}}</a>
          </md-list-item>
        </md-list>
      </md-content>
    </md-sidenav>

    <md-content flex="">
      <div layout="column" layout-padding="">
        <div layout="row">
          <md-input-container class="md-default-theme" style="width:80%">
            <label for="query">Search for files</label>
            <input flex class="md-input" id="query" ng-model="query">
          </md-input-container>
          <md-button flex>
            Select
          </md-button>
          <md-button flex>
            <i class="fa fa-cloud-upload"></i>
            Upload
          </md-button>
        </div>
        <md-list>
          <md-list-item ng-repeat="file in files.results">
            <img ng-src="{{file.thumbnail}}" alt="{{file.filename}}" width="64px" height="64px">
            <h4>{{file.title || file.filename}}</h4> ({{file.size | filesize}})
          </md-list-item>
        </md-list>
      </div>
      <!-- div flex=""></div -->
    </md-content>
  </section>
</div>
