{% extends "layout/default.jinja" %}
{% import "components/db.jinja" as dbmacros with context %}

{% block title %}Databases in {{country_name}}{% endblock %}
{% block header_icon %}globe{% endblock %}

{% block inner_content %}
  <div class="col-md-6">
    <h3 class="database-listing-title">
        <i class="fa fa-fw fa-database"></i>
        External databases
    </h3>
    <p class="database-listing-summary">
        What are the best public information sources in {{country_name}}?
    </p>
    {% for db in databases | sort(attribute='db_type_name') %}
      {{ dbmacros.render(db, db.db_type_name) }}
    {% endfor %} 
  </div>
  <div class="col-md-6">
    {% if collections.total > 0 %}
        <h3 class="database-listing-title">
            <i class="fa fa-fw fa-search"></i>
            ID Search
        </h3>
        <p class="database-listing-summary">
            Search data and documents that we've liberated and archived.    
        </p>
        {% for collection in collections.results %}
            <div class="database-detail">
                <h4 class="database-title">
                  {{ categories[collection.category] }}:
                
                  <a href="{{ALEPH_URL}}/collections/{{ collection.id }}" target="_blank">
                    {{ collection.label }}
                  </a>
                </h4>
                {% if collection.summary %}
                  <p class="database-notes">
                    {{ collection.summary }}
                  </p>
                {% endif %}
                <div class="database-criteria">
                  <!-- span class="label label-primary">{{ categories[collection.category] }}</span -->
                  {% if collection.doc_count %}
                    <i class="fa fa-fw fa-file-o"></i>
                    {{collection.doc_count | intcomma}} {% trans %}Documents{% endtrans %}
                  {% endif %}
                  {% if collection.entity_count %}
                    <i class="fa fa-fw fa-group"></i>
                    {{collection.entity_count | intcomma}} {% trans %}Persons and companies{% endtrans %}
                  {% endif %}
                </div>
              </div>
        {% endfor %}
    {% endif %}
    {% include "includes/db_request.jinja" %}
  </div>
{% endblock %}
