{% extends "layout/default.jinja" %}
{% block title %}{% trans %}Catalogue of Research Databases{% endtrans %}{% endblock %}
{% block header_icon %}database{% endblock %}
{% block content_class %}id-databases{% endblock %}

{% block content %}
  <div class="container-fluid databases-index">
    <div class="row">
      <div class="col-md-9">
        <h2>
          {{ self.title() }}
        </h2>
        <p class="text-muted">
          Below is a collection of the most useful public data sources for investigative reporting compiled by OCCRP's   researchers.
        </p>
      </div>
      <div class="col-md-3">
        {% include "includes/db_request.jinja" %}
      </div>
    </div>
    {% include "includes/db_index.jinja" with context %}
  </div>

{% endblock %}
