<h3 class="primary-highlight">{% trans %}Activity{% endtrans %}</h3>
{% if ticket_updates %}
<div class="row-fluid discussion">
    <div class="span12">
    {% for tu in ticket_updates %}
        {% if tu.comment %}
            <div class="request-update">
                <i class="icon-caret-right primary-highlight"></i>
                <h5>
                <strong>
                {% if tu.update_type == "update" %}
                    <i class="icon-pencil"></i>
                {% elif tu.update_type == "close" %}
                    <i class="icon-ok"></i>
                {% elif tu.update_type == "cancel" %}
                    <i class="icon-minus-sign"></i>
                {% elif tu.update_type == "reopen" %}
                    <i class="icon-unlock"></i>
                {% elif tu.update_type == "open" %}
                    <i class="icon-asterisk"></i>
                {% elif tu.update_type == "flag" %}
                    <i class="icon-flag"></i>
                {% elif tu.update_type == "charge" %}
                    <i class="icon-ticket"></i>
                {% elif tu.update_type == "join" %}
                    <i class="icon-user"></i>
                {% elif tu.update_type == "leave" %}
                    <i class="icon-remove"></i>
                {% endif %}
                {{ tu.author.display_name }}
                </strong>

                <div class="pull-right soft">
                    <span class="update-{{ tu.update_type }}">{{ tu.update_type_display() }}</span>
                    on {{ macros.display_datetime(tu.created) }}
                </div>


                </h5>
                <p>{{ tu.comment if tu.comment else "" }}</p>
                {% if tu.extra_relation -%}
                    <p>{{ tu.extra_relation.to_ticket_update(tu) }}</p>
                {%- endif %}
                {% if tu.update_type == 'update' %}
                    {% if user.is_superuser or user.is_staff %}
                        <div class="pull-right soft">
                            <a data-action="{{ url('ticket_update_remove', pk=tu.id) }}" data-csrf="{{ csrf_token }}" class="anchor_form" href="#">{% trans %}delete comment{% endtrans %}</a>
                        </div>
                        <div class="clearfix"></div>
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
    </div>
</div>
{% else %}
<p class="discussion">{% trans %}No updates yet.{% endtrans %}</p>
{% endif %}