{% if ticket.is_open() and user.has_perm('ticket.change_ticket', ticket) %}
  <h4>{% trans %}Leave a Comment{% endtrans %}</h4>
  <div class="row-fluid">
    <form class="comment-form" method="POST" action="" enctype="multipart/form-data">
      {{ csrf_input }}
      {{ticket_update_form.as_p()}}
      <div class="row-fluid">
        <div class="span9">
          <button class="btn btn-primary pull-right" type="submit">{% trans %}Comment{% endtrans %}</button>
        </div>
      </div>
    </form>
  </div>
{% endif %}
