
<div class="attached-files">
    <h3 class="primary-highlight">
         <div class="btn-group pull-right" role="group" aria-label="...">
           {% include "podaci/partials/_podaci_tag_view_type_selection.jinja" %}
           <div class="btn-group">
                <button id="podaci_select_menu" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Select <span class="caret"></span></button>
                {% include "podaci/partials/_podaci_selection_tools.jinja" %}
            </div>
            <div class="btn-group">
                <button id="podaci_selection_menu" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">No files <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li><a class="ticket_remove_files" data-key="{{ticket.id}}">{% trans %}Remove from ticket{% endtrans %}</a></li>
                    {% include "podaci/partials/_podaci_selection_actions.jinja" %}
                </ul>
            </div>
        </div>
        {% trans %}Attached Files{% endtrans %}
    </h3>
    {% include "podaci/partials/_podaci_file_list.jinja" %}


    {% include "podaci/partials/_podaci_edit_tags.jinja" %}
    {% include "podaci/partials/_podaci_file_details.jinja" %}
</div>


<input type="hidden" id="podaci-ticket-id" value="{{ticket.id}}">
{% include "podaci/partials/_podaci_add_modal.jinja" %}
