{% extends "base.jinja" %}

{% block body_class %}splash has-full-page-header{% endblock %}

{% block before_content %}
    <link rel="stylesheet" href="{{ static('css/podaci.css') }}"/>
    <div class="page-header full-page-header">
        <h2>
            <div class="primary-highlight">{% trans -%}About Investigative Dashboard{%- endtrans %}</div>
        </h2>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <h2>{% trans %}Purpose{% endtrans %}</h2>
        <p>{% trans %}Investigative Dashboard (ID) is intended to help investigative journalists to do their work in a fast and effective way. It combines a number of software tools, including search engines, databases, a research support system and a file manager, to try to shorten the lead time from story inception to publication.{% endtrans %}</p>

        <h2 style="margin-top: 0.9em;">{% trans %}Investigative Dashboard Development{% endtrans %}</h2>
        <p>{% trans %}ID is developed by the Organized Crime and Corruption Reporting Project. It is designed to meet the needs of OCCRP reporters, but open for public use.{% endtrans %}</p>
        <p><a href="{{url('about_us')}}">{% trans %}Read more...{% endtrans %}</a></p>

        </p>

        <h2 style="margin-top: 0.9em;">{% trans %}About OCCRP{% endtrans %}</h2>
        <p>
        {% trans %}The Organized Crime and Corruption Reporting Project (OCCRP) is a not-for-profit, joint program of a number of regional non-profit investigative centers and for profit independent media stretching from Eastern Europe to Central Asia.{% endtrans %}</p>
        <p>
        {% trans %}Our goal is to help the people of the region better understand how organized crime and corruption affect their lives. OCCRP seeks to provide in-depth investigative stories as well as the latest news pertaining to organized crime and corruption activities in the region. In addition to the stories, OCCRP is building an online resource center of documents related to organized crime including court records, laws, reports, studies, company records and other public documents that will be an invaluable resource center for journalists and the public alike.{% endtrans %}
        </p>
        <p><a href="https://www.occrp.org/en/about-us">{% trans %}Read more...{% endtrans %}</a></p>

    </div>
{% endblock %}
