{% extends "base.jinja" %}

{% block body_class %}splash has-full-page-header{% endblock %}

{% block before_content %}
    <link rel="stylesheet" href="{{ static('css/podaci.css') }}"/>
    <div class="page-header full-page-header">
        <h2>
            <div class="primary-highlight">{% trans -%}OCCRP and ID development{%- endtrans %}</div>
        </h2>
    </div>
{% endblock %}

{% block content %}
    <div class="span12">
        <div>
            <p>{% trans %}Investigative Dashboard (ID) has been developed by the Organized Crime and Corruption Reporting Project (OCCRP), the world’s leading cross border investigative reporting organization. OCCRP designed Investigative Dashboard as a transnational collaborative effort to help journalists and civil society researchers expose organized crime and corruption around the world. It hosts three core tools: a crowd-sourced database of information and documents on persons of interest and their business connections, a worldwide list of online databases and business registries, and a research desk where journalists can go for help in sourcing hard to find information.{% endtrans %}</p>

            <p>{% trans %}With help from dozens of reporters and civic hackers, ID researchers have created the crowd-sourced database where connections of people and business can be mapped internationally. Through collecting public records worldwide in numerous languages and by scraping the business registries and official gazettes of countries such as Panama, British Virgin Islands, and Luxembourg among others we have made data searchable and hence truly transparent and useful. These resources are offered to the public as a searchable self-serve repository of data and documents.{% endtrans %}</p>

            <p>{% trans %}The Investigative Dashboard also links to more than 400 online databases in 120 jurisdictions where you can search for information on persons and businesses of interest.{% endtrans %}</p>

            <p>{% trans %}Above and beyond the databases available on the Dashboard, the research desk provides access to a global network of expert researchers. Journalists and researchers working on organized crime and corruption topics who seek information and documents beyond their own borders and resources are invited to request the expertise of a network of information professionals. These professionals can access external databases and official filings for evidence of corporate ownership and property holdings that cross borders. For some journalists, these services are provided pro bono.{% endtrans %}</p>

            <p>{% trans %}Journalists have used the Investigative Dashboard to work on stories that have won more than a dozen international awards, led to indictments, arrests and seizures, forced the resignation of heads of state, and exposed the activities of organized crime.{% endtrans %}</p>

            <h3>{% trans %}Staff{% endtrans %}</h3>
            <ul class="advisory_committee">
                <li>Miranda Patrucić, {% trans %}Lead Researcher{% endtrans %}</li>
                <li>Lejla Čamdzić, {% trans %}Researcher{% endtrans %}</li>
                <li>Smári McCarthy, {% trans %}Chief Technologist{% endtrans %}</li>
                <li>Michał Wozńiak, {% trans %}Developer{% endtrans %}</li>
                <li>Friedrich Lindenburg, {% trans %}Developer{% endtrans %}</li>
                <li>James Robb, {% trans %}Developer{% endtrans %}</li>
	    </ul>

            <h3>{% trans %}Supporters{% endtrans %}</h3>
            <p>{% trans %}The Investigative Dashboard has been developed in collaboration with <a href="http://www.google.com/ideas/">Google Ideas</a>. Core support for the project is generously provided by the Open Society Foundations with additional assistance from USAID.{% endtrans %}</p>

            <h3>{% trans %}Partners{% endtrans %}</h3>
            <p>{% trans %}The Research Desk is managed by OCCRP in co-operation with four partner Centers - African Network of Centers for Investigative Reporting (ANCIR), the Arab Reporters for Investigative Journalism (ARIJ), the International Center for Journalists, and Connectas in the Americas.{% endtrans %}</p>

            <h3>{% trans %}ID History{% endtrans %}</h3>
            <p>{% trans %}The Investigative Dashboard was developed by Paul Cristian Radu (OCCRP) and Justin Arenstein (ANCIR) while they both were in residence at Stanford University as Knight Fellows. The John S. Knight Fellowships for Professional Journalists made the dashboard possible by providing access to the know-how of fellow journalists and of experts at Stanford University and in Silicon Valley.{% endtrans %}</p>

            <h3>{% trans %}Advisory Committee{% endtrans %}</h3>

            <ul class="advisory_committee">
                <li>
                    Kitty Bennett, {% trans %}News Researcher<br/>
                    The New York Times{% endtrans %}
                </li>
                <li>
                    Helena Bengssten, {% trans %}Database Editor<br/>
                    Sveriges (Swedish) Television {% endtrans %}
                </li>
                <li>Lynn M. Dombek, {% trans %}Research Director<br/>
                    The Associated Press {% endtrans %}
                </li>
                <li>
                    Jaimi Dowdell, {% trans %}Training Director<br/>
                    Investigative Reporters and Editors (IRE){% endtrans %}
                </li>
                <li>
                    Barbara Gray, {% trans %}Distinguished Lecturer and Interim Chief Librarian<br/>
                    CUNY Graduate School of Journalism {% endtrans %}
                </li>
                <li>
                    Marsha Iverson, {% trans %}Communications Strategist<br/>
                    King Country Library System, Seattle Washington {% endtrans %}
                </li>
                <li>
                    Nancy Kranich, {% trans %}Lecturer in Library and Information Science<br/>
                    Rutgers School of Communication and Information {% endtrans %}
                </li>
                <li>
                    Charles Lewis,{%trans %} Professor and Executive Editor<br/>
                    Investigative Reporting Workshop, The American University School of Communication<br/>
                    Founder, The Center for Public Integrity (CPI) {%endtrans %}
                </li>
                <li>
                    Jim Oberman, {% trans %}Assistant News Editor, Research & Data<br/>
                    The Wall Street Journal{% endtrans %}
                </li>
                <li>
                    Nora Paul, {% trans %}Director<br/>
                    SJMC Minnesota Journalism Center, University of Minnesota {%endtrans %}
                </li>
                <li>
                    Gary Price,{% trans %} Librarian, Writer, Editor, Compiler<br/>
                    LJ's INFODocket {% endtrans %}
                </li>
                <li>
                    Lucy Shakelford, {% trans %}Director of Research<br/>
                    The Washington Post {% endtrans %}
                </li>
                <li>
                    Margot Williams, {% trans %}Database Correspondent,<br/>
                    Research Editor, The International Consortium of
                    Investigative Journalists {% endtrans %}
                </li>
            </ul>

            <h3>{% trans %}Acknowledgements{% endtrans %}</h3>

            <p>{% trans %}The Investigative Dashboard is a collaborative project and valuable information was added by many investigative journalists around the world. Individual members of the Global Investigative Journalism Network in particular contributed much of the information, explaining how to access company records in their home countries.
	    {% endtrans %}</p>

            <p>{% trans %}Valuable information was added by many investigative journalists around the world.{% endtrans %}</p>
        </div>
    </div>
{% endblock %}
