{% extends "base.jinja" %}

{% block content %}
    <div class="span3">
        <div class="well sidebar-nav admin-nav md-whiteframe-z1">
            <ul class="nav nav-list">
                <li class="nav-header">{% trans %}Manage{% endtrans %}</li>
		{% if user.is_superuser or user.is_staff %}
        		<li class="{% if 'externaldb_list' in ROUTE_NAME %}active{% endif %}">
                    <a href="{{ url('externaldb_list') }}"><i class="icon-list-alt"></i> {% trans %}External Databases{% endtrans %}</a>
                </li>
                <li class="{% if 'admin_scrapers_request' in ROUTE_NAME %}active{% endif %}">
                    <a href="{{ url('admin_scrapers_request') }}"><i class="icon-list-alt"></i> {% trans %}Scraper requests{% endtrans %}</a>
                </li>
                <li class="{% if 'admin_budgets' in ROUTE_NAME %}active{% endif %}">
                    <a href="{{ url('admin_budgets') }}"><i class="icon-money"></i> {% trans %}Budgets{% endtrans %}</a>
                </li>
		{% endif %}

		{% if user.is_superuser %}
                <li class="{% if 'admin_storage' in ROUTE_NAME %}active{% endif %}">
                    <a href="{{ url('admin_storage') }}"><i class="icon-folder-open"></i> {% trans %}Storage and databases{% endtrans %}</a>
                </li>
                <li class="{% if 'accountrequest' in ROUTE_NAME %}active{% endif %}">
                    <a href="{{ url('request_access_list') }}"><i class="icon-key"></i> {% trans %}Account Requests{% endtrans %}</a>
                </li>
                <li class="{% if 'userprofile' in ROUTE_NAME %}active{% endif %}">
                    <a href="{{ url('userprofile_list') }}"><i class="icon-user"></i> {% trans %}User Profiles{% endtrans %}</a>
                </li>
                <li class="{% if 'statistics' in ROUTE_NAME %}active{% endif %}">
                    <a href="{{ url('statistics') }}"><i class="icon-signal"></i> {% trans %}Statistics{% endtrans %}</a>
                </li>

		{% endif %}
            </ul>
        </div>
    </div>

    <div class="span9">
        {% block admin_content %}{% endblock %}
    </div>
{% endblock %}
