{% extends "base.jinja" %}

{% block content %}
    <div class="span3">
        <div class="well sidebar-nav admin-nav md-whiteframe-z1">
            <ul class="nav nav-list">
                <li class="nav-header">{% trans %}Manage{% endtrans %}</li>
		{% if user.is_superuser or user.is_staff %}
        		<li class="{% if 'admin_budgets' in ROUTE_NAME %}active{% endif %}">
                    <a href="{{ url('admin_budgets') }}"><i class="fa fa-money"></i> {% trans %}Budgets{% endtrans %}</a>
                </li>
		{% endif %}

		{% if user.is_superuser %}
                <li class="{% if 'userprofile' in ROUTE_NAME %}active{% endif %}">
                    <a href="{{ url('userprofile_list') }}"><i class="fa fa-user"></i> {% trans %}User Profiles{% endtrans %}</a>
                </li>
                <li class="{% if 'statistics' in ROUTE_NAME %}active{% endif %}">
                    <a href="{{ url('statistics') }}"><i class="fa fa-signal"></i> {% trans %}Statistics{% endtrans %}</a>
                </li>

		{% endif %}
            </ul>
        </div>
    </div>

    <div class="span9">
        {% block admin_content %}{% endblock %}
    </div>
{% endblock %}
