{% import "macros/forms.jinja" as form_macros with context %}
{% import "macros/macros.jinja" as macros %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% trans %}Investigative Dashboard{% endtrans %}</title>

    <link rel="stylesheet" href="{{ static("bower_components/bootstrap/css/bootstrap.min.css") }}">
    <link rel="stylesheet" href="{{ static("bower_components/metisMenu/dist/metisMenu.min.css") }}">
    <link rel="stylesheet" href="{{ static("css/sb-admin-2.css") }}">

    <link rel="stylesheet" href="{{ static("css/main2.css") }}"/>
    <link rel="stylesheet" href="{{ static("bower_components/font-awesome/css/font-awesome.min.css") }}"/>
    <link rel="stylesheet" href="{{ static("bower_components/jquery-mentions-input/jquery.mentionsInput.css") }}" type="text/css">
    <link rel="stylesheet" href="{{ static('css/search.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ static('css/ol.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ static('css/tooltips.css') }}" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">{% trans %}Investigative Dashboard{% endtrans %}</a>
            </div>

            <ul class="nav navbar-top-links">
                <li class="{% if url('search') in request.path %}active{% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search fa-fw"></i> {% trans %}Search{% endtrans %} <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li><a href="{{ url('search')}}"><i class="fa fa-database fa-fw"></i> {% trans %}Document search{% endtrans %}</a></li>
                        <li><a href="{{ url('search_images')}}"><i class="fa fa-image fa-fw"></i> {% trans %}Media search{% endtrans %}</a></li>
                        <li><a href="{{ url('search_social')}}"><i class="fa fa-group fa-fw"></i> {% trans %}Social search{% endtrans %}</a></li>
                    </ul>
                </li>
                <li class="{% if url('externaldb_list') in request.path %}active{% endif %}">
                    <a href="{{ url('externaldb_list') }}"><i class="fa fa-table fa-fw"></i> {% trans %}External Databases{% endtrans %}</a>
                </li>
                {% if user.is_authenticated() %}
                <li class="{% if url('ticket_list') in request.path %}active{% endif %}">
                    <a href="{{ url('ticket_list') }}"><i class="fa fa-comments fa-fw"></i> {% trans %}Expert Help{% endtrans %}</a>
                </li>
                {% if user.is_staff or user.is_superuser %}
                <li class="{% if url('podaci_info_home') in request.path %}active{% endif %}">
                    <a href="{{ url('podaci_info_home') }}"><i class="fa fa-file fa-fw"></i> {% trans %}Documents{% endtrans %}</a>
                    </li>
                {% endif %}
                {% endif %}

                {% if user.is_authenticated() %}
                <li class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-user fa-fw"></i> {{ user.email }}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li  class="{% if url('profile') in request.path %}active{% endif %}">
                            <a href="{{ url('profile') }}"><i class="fa fa-user fa-fw"></i> {% trans %}Profile{% endtrans %}</a>
                        </li>
                        {% if not (user.is_admin or user.is_staff or user.is_volunteer or user.is_user) %}
                        <li><a href="{{ url('request_account_home') }}"><i class="fa fa-certificate fa-fw"></i> {% trans %}Request Permissions{% endtrans %}</a></li>
                        {% endif %}
                        {% if user.is_staff or user.is_superuser %}
                        <li class="{% if url('admin_panel') in request.path %}active{% endif %}">
                            <a href="{{ url('admin_panel') }}"><i class="fa fa-cog fa-fw"></i> {% trans %}Admin{% endtrans %}</a>
                        </li>
                        {% endif %}
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="{{ url('logout') }}"><i class="fa fa-sign-out fa-fw"></i> {% trans %}Sign out{% endtrans %}</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="pull-right"><a href="{{ url('login') }}"><i class="fa fa-sign-in fa-fw"></i> {% trans %}Sign In{% endtrans %}</a></li>
                {% endif %}

                {% block language_chooser %}
                <li class="dropdown pull-right">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                        <i class="fa fa-language fa-fw"></i>
                        {% if selected_locale %}{{ selected_locale.display_name|capitalize }}{% endif %}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        {% for locale in LANGUAGES %}
                        <li{% if (user.is_authenticated() and user.locale == locale.0) or request.session.locale == locale.0 %} class="active"{% endif %}>
                            <a href="{{url('account_set_language', locale.0)}}">
                                {{ locale.1 }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endblock %}
            </ul>

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        {% block sidenav %}{% endblock %}
                    </ul>
                </div>
            </div>
        </nav>

        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% block js %}
    <script type="text/javascript" src="{{ url('django.views.i18n.javascript_catalog') }}"></script>
    <script type="text/javascript" src="{{ static("js/i18n.js") }}"></script>
    <script type="text/javascript" src="{{ static("bower_components/jquery/jquery.min.js") }}"></script>
    <script type="text/javascript" src="{{ static("bower_components/underscore/underscore-min.js") }}"></script>
    <script type="text/javascript" src="{{ static("bower_components/bootstrap/js/bootstrap.js") }}"></script>
    <script type="text/javascript" src="{{ static("bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js") }}"></script>
    <script src="{{ static("bower_components/metisMenu/dist/metisMenu.min.js") }}"></script>
    <script src="{{ static("js/sb-admin-2.js") }}"></script>
    <script type="text/javascript" src="{{ static("bower_components/select2/select2.min.js") }}"></script>
    <script type="text/javascript" src="{{ static("bower_components/moment/min/moment.min.js") }}"></script>
    {% if LANGUAGE_LC != "en" %}
        <script type="text/javascript" src="{{ static("bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker." + LANGUAGE_LC + ".js") }}"></script>
        <script type="text/javascript" src="{{ static("bower_components/select2/select2_locale_" + LANGUAGE_LC + ".js") }}"></script>
        <script type="text/javascript" src="{{ static("bower_components/moment/min/lang/" + LANGUAGE_LC + ".js") }}"></script>
    {% else %}
        <script type="text/javascript" src="{{ static("bower_components/moment/min/lang/en-gb.js") }}"></script>
    {% endif %}
    <script type="text/javascript" src="{{ static("bower_components/spin.js/spin.js") }}"></script>
    <script type="text/javascript" src="{{ static("bower_components/spin.js/jquery.spin.js") }}"></script>
    <script type="text/javascript" src="{{ static("bower_components/jquery.scrollTo/jquery.scrollTo.min.js") }}"></script>
    <script type="text/javascript" src="{{ static("bower_components/jquery-mentions-input/lib/jquery.elastic.js") }}"></script>
    <script type="text/javascript" src="{{ static("bower_components/jquery-mentions-input/jquery.mentionsInput.js") }}"></script>
    <script type="text/javascript" src="{{ static("bower_components/jquery.equalheights/jquery.equalheights.min.js") }}"></script>
    <script type="text/javascript" src="{{ static("js/bootstrap-fileupload.js") }}"></script>
    <script type="text/javascript">
        $('[data-toggle=tooltip]').tooltip();
        $.fn.datepicker.defaults = $.extend({}, $.fn.datepicker.defaults, {language: "{{ LANGUAGE_LC }}", format: "yyyy-mm-dd" });
        moment.lang("{{ LANGUAGE_LC }}");
        _.templateSettings = {
            interpolate: /\{\{(.+?)\}\}/g
        };
    </script>
    <script type="text/javascript" src="{{ static("js/widgets.js") }}"></script>
    <script type="text/javascript" src="{{ static("js/select2-field.js") }}"></script>
    <script type="text/javascript" src="{{ static("js/relationship-type-field.js") }}"></script>
    <script type="text/javascript" src="{{ static("js/list-files.js") }}"></script>
    <script type="text/javascript" src="{{ static("js/slugify.js") }}"></script>
    <script type="text/javascript" src="{{ static("js/fragment-forms.js") }}"></script>
    <script type="text/javascript" src="{{ static("js/validation-forms.js") }}"></script>
    <script type="text/javascript" src="{{ static("js/datetime.js") }}"></script>
    <script type="text/javascript" src="{{ static("js/external-dbs.js") }}"></script>
    <script type="text/javascript" src="{{ static("js/init.js") }}"></script>
    <script type="text/javascript" src="{{ static("js/ol.js") }}"></script>
    <script type="text/javascript" src="{{ static("js/id2/search.js") }}"></script>
    <script type="text/javascript" src="{{ static("js/form-tools.js") }}"></script>
{% endblock %}

{% block after_js %}
{% endblock %}

</body>

</html>
