{% import "macros/forms.jinja" as form_macros with context %}
{% import "macros/macros.jinja" as macros %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html ng-app="ID2" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html ng-app="ID2" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html ng-app="ID2" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html ng-app="ID2" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <title>{% trans %}Investigative Dashboard{% endtrans %}</title>
  <meta name="description" content=""/>
  <meta name="viewport" content="width=device-width"/>
  <meta name="id_version" content="{{ ID_VERSION }}"/>

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"
        rel="stylesheet" type="text/css">
  <link type="text/css" href="{{ static("bower_components/ol3-unofficial/ol.css") }}" rel="stylesheet">
  <link type="text/css" href="{{ static("bower_components/bootstrap-sortable/Contents/bootstrap-sortable.css")}}" rel="stylesheet"/>
  <link type="text/css" href="{{ static("bower_components/roboto-fontface/css/roboto-fontface.css") }}" rel="stylesheet">
  <link type="text/css" href="{{ static("bower_components/select2/dist/css/select2.css") }}" rel="stylesheet">
  <link type="text/css" href="{{ static("css/die/bootstrap-2.3.2.css") }}" rel="stylesheet">
  <link type="text/css" href="{{ static("css/die/bootstrap-responsive.css") }}" rel="stylesheet">
  <link type="text/css" href="{{ static("css/die/bootstrap-classes.css") }}" rel="stylesheet">
  <link type="text/css" href="{{ static("css/die/bootstrap-datepicker.css") }}" rel="stylesheet">
  <link type="text/css" href="{{ static("css/main.css") }}" rel="stylesheet">
  <link type="text/css" href="{{ static("css/search.css") }}" rel="stylesheet">
  <link type="text/css" href="{{ static("css/tooltips.css") }}" rel="stylesheet">
  <link type="text/css" href="{{ static("css/notifications.css") }}" rel="stylesheet">
  <link rel="shortcut icon" href="{{ static("favicon.ico") }}">
</head>

<body class="{% block body_class %}{% endblock %}">
<div id="wrap">
<div id="header">
  <div class="navbar navbar-static-top">
    <div class="navbar-inner">
      <div class="container">
        <div class="navbar-header nav">
          <a href="/"><img style="max-height:40px; padding-top:7px; padding-right: 20px; padding-left: 10px;" src="/static/img/id-logo-2-dark.png"/></a>

          <button type="button" class="pull-right btn btn-navbar navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main" aria-expanded="false">
            <i class="fa fa-bars"></i>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-main">
          {% if request.path != '/' or (user and user.is_authenticated()) %}
          <ul class="nav navbar-nav">
            <li>
              {% if user.is_authenticated() %}
                <a href="https://data.occrp.org/api/1/sessions/login">
                  <i class="fa fa-search"></i> {% trans %}Search{% endtrans %}
                </a>
              {% else %}
                <a href="https://data.occrp.org">
                  <i class="fa fa-search"></i> {% trans %}Search{% endtrans %}
                </a>
              {% endif %}
            </li>
            <li class="{% if url('databases:index') in request.path %}active{% endif %}">
              <a href="{{ url('databases:index') }}">
                <i class="fa fa-database"></i> {% trans %}External Databases{% endtrans %}
              </a>
            </li>
            {% if user.is_authenticated() %}
              <li class="{% if url('tickets_home') in request.path %}active{% endif %}">
                <a href="{{ url('tickets_home') }}">
                  <i class="fa fa-comments-o"></i>
                  {% trans %}My Requests{% endtrans %}
                </a>
              </li>
            {% else %}
              <li>
                <a href="{{ url('login') }}?next={{ url('tickets_home') }}">
                  <i class="fa fa-comments-o"></i>
                  {% trans %}My Requests{% endtrans %}</a>
              </li>
            {% endif %}
          </ul>
          <ul class="nav navbar-nav pull-right">

          {% if (user and user.is_authenticated()) %}
            {% include "partials/_notifications.jinja" %}

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user"></i> {{ user.display_name }}
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li>
                  <a href="{{ url('profile') }}"><i class="fa fa-user"></i> {% trans %}Profile{% endtrans %}</a>
                </li>
                {% if user.is_staff or user.is_superuser %}
                  <li>
                    <a href="{{ url('admin:index') }}">
                      <i class="fa fa-gears"></i>
                      {% trans %}Admin{% endtrans %}
                    </a>
                  </li>
                {% endif %}
                {% if user.is_superuser %}
                  <li class="{% if url('statistics') in request.path %}active{% endif %}">
                    <a href="{{ url('statistics') }}">
                      <i class="fa fa-signal"></i>
                      {% trans %}Statistics{% endtrans %}
                    </a>
                  </li>
                {% endif %}
                <li><a tabindex="-1" href="{{ url('logout') }}"><i class="fa fa-sign-out"></i> {% trans %}Sign out{% endtrans %}</a></li>
              </ul>
            </li>
          {% else %}
            <li><a href="{{ url('login') }}"><i class="fa fa-sign-in"></i> {% trans %}Sign In{% endtrans %}</a></li>
          {% endif %}
          {% block language_chooser %}
            <li class="dropdown">
              <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                <i class="fa fa-language"></i>
                {% if selected_locale %}{{ selected_locale.display_name|capitalize }}{% endif %}
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                {% for locale in LANGUAGES %}
                <li{% if (user.is_authenticated() and user.locale == locale.0) or request.session.locale == locale.0 %} class="active"{% endif %}>
                  <a href="{{url('account_set_language', locale.0)}}?go=/">
                    {{ locale.1 }}
                  </a>
                </li>
                {% endfor %}
              </ul>
            </li>
          {% endblock %}
          </ul>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div id="content">
  <div class="before-content">
    <div id="alerts" class="container">
      {% for message in get_messages(request) %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
          {{ message }}
        </li>
      {% endfor %}
    </div>
    {% block before_content %}{% endblock %}
  </div>

  <div id="main" class="container">
    <div class="row">{% block content %}{% endblock %}</div>
  </div>
</div>

<div id="footer">
  <div class="container">
    <a href="{{ url('home') }}"><img src="{{ static("img/id-footer-logo.png") }}" /></a>
    <a id="occrp-logo" class="hidden-phone" href="http://www.occrp.org"><img src="{{ static("img/occrp-logo.png") }}" /></a>
    <a id="ancir-logo" class="hidden-phone" href="http://investigativecenters.org/"><img src="{{ static("img/ancir-logo.png") }}" style="height:65px" /></a>
    <a id="arij-logo" class="hidden-phone" href="http://arij.net/en"> <img src="{{ static("img/arij-logo.png") }}" style="height:65px" /></a>
    <small class="pull-right">ID v{{ ID_VERSION }}. {% trans %}&copy; 2015 - OCCRP.{% endtrans %} <a href="{{ url('about_us') }}">{% trans %}About this site{% endtrans %}</a></small>
  </div>
</div>
</div>

{% block js %}
  <script type="text/javascript" src="{{ static("js/i18n.js") }}"></script>
  <script type="text/javascript" src="{{ static("bower_components/jquery/dist/jquery.min.js") }}"></script>
  <script type="text/javascript" src="{{ static("bower_components/underscore/underscore-min.js") }}"></script>
  <script type="text/javascript" src="{{ static("bower_components/bootstrap/js/modal.js") }}"></script>
  <script type="text/javascript" src="{{ static("bower_components/bootstrap/js/tooltip.js") }}"></script>
  <script type="text/javascript" src="{{ static("bower_components/bootstrap/js/dropdown.js") }}"></script>
  <script type="text/javascript" src="{{ static("bower_components/bootstrap/js/collapse.js") }}"></script>
  <script type="text/javascript" src="{{ static("bower_components/bootstrap/js/alert.js") }}"></script>
  <script type="text/javascript" src="{{ static("bower_components/bootstrap/js/tab.js") }}"></script>
  <script type="text/javascript" src="{{ static("bower_components/bootstrap/js/button.js") }}"></script>
  <script type="text/javascript" src="{{ static("bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js") }}"></script>
  <script type="text/javascript" src="{{ static("bower_components/bootstrap-sortable/Scripts/bootstrap-sortable.js") }}"></script>
  <script type="text/javascript" src="{{ static("bower_components/select2/dist/js/select2.min.js") }}"></script>
  <script type="text/javascript" src="{{ static("bower_components/moment/min/moment-with-locales.min.js") }}"></script>
  <script type="text/javascript" src="{{ static("bower_components/spin.js/spin.js") }}"></script>
  <script type="text/javascript" src="{{ static("bower_components/spin.js/jquery.spin.js") }}"></script>
  <script type="text/javascript" src="{{ static("bower_components/jquery.scrollTo/jquery.scrollTo.min.js") }}"></script>
  <script type="text/javascript" src="{{ static("bower_components/jquery.equalheights/jquery.equalheights.min.js") }}"></script>
  <script type="text/javascript" src="{{ static("js/bootstrap-fileupload.js") }}"></script>

  {% if LANGUAGE_LC != "en" %}
    <script type="text/javascript" src="{{ static("bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker." + LANGUAGE_LC + ".js") }}"></script>
    <script type="text/javascript" src="{{ static("bower_components/select2/select2_locale_" + LANGUAGE_LC + ".js") }}"></script>
  {% endif %}
  <script type="text/javascript">
    $('[data-toggle=tooltip]').tooltip();
    $.fn.datepicker.defaults = $.extend({}, $.fn.datepicker.defaults, {language: "{{ LANGUAGE_LC }}", format: "yyyy-mm-dd" });
    moment.locale("{{ LANGUAGE_LC }}");
    _.templateSettings = {
      interpolate: /\{\{(.+?)\}\}/g
    };

    current_user_id = {{ user.id or 'null' }};
  </script>

  <script type="text/javascript" src="{{ static("js/widgets.js") }}"></script>
  <script type="text/javascript" src="{{ static("js/select2-field.js") }}"></script>
  <script type="text/javascript" src="{{ static("js/list-files.js") }}"></script>
  <script type="text/javascript" src="{{ static("js/request-form.js") }}"></script>
  <script type="text/javascript" src="{{ static("js/fragment-forms.js") }}"></script>
  <script type="text/javascript" src="{{ static("js/validation-forms.js") }}"></script>
  <script type="text/javascript" src="{{ static("js/datetime.js") }}"></script>
  <script type="text/javascript" src="{{ static("js/init.js") }}"></script>
  <script type="text/javascript" src="{{ static("js/id2/id2.js")}}"></script>
  <script type="text/javascript" src="{{ static("js/form-tools.js") }}"></script>
{% endblock %}

{% block after_js %}
{% endblock %}
</body>
</html>
