{% import "macros/forms.jinja" as form_macros with context %}
{% import "macros/macros.jinja" as macros %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html ng-app="ID2" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html ng-app="ID2" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html ng-app="ID2" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html ng-app="ID2" class="no-js"> <!--<![endif]-->
<head>
    <title>{% trans %}Investigative Dashboard{% endtrans %}</title>
    <meta name="id_version" content="{{id_version()}}"/>

    {% stylesheet 'main' %}
</head>

<body>
<div id="wrap">
<div id="header">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 hide-sm hide-md><a href="/"><img src="{{static('img/id-logo-2.png')}}"/></a></h2>
            <h2 hide-gt-md><a href="/"><img src="{{static('img/id-logo-2-sm.png')}}"/></a> <md-button aria-label="Menu" md-click="$mdSidenav('left').toggle()"><md-icon md-font-icon="fa fa-bars"></md-icon></md-button></h2>
            <div flex>
            </div>
            <div>
                {% if user.is_user %}
                <md-menu md-position-mode="target-right target">

                    <md-button aria-label="Profile" ng-click="$mdOpenMenu()"><i class="fa fa-user"></i> {{user.email}}</md-button>
                    <md-menu-content width="4">
                        <md-menu-item><md-button ng-href="{{url('profile')}}"><md-icon md-font-icon="fa fa-user"></md-icon> {% trans %}Profile{% endtrans %}</md-button></md-menu-item>
                        {% if not (user.is_admin or user.is_staff or user.is_volunteer or user.is_user) %}
                        <md-menu-item><md-button ng-href="{{url('request_access_create')}}"><md-icon md-font-icon="fa fa-asterisk"></md-icon> {% trans %}Request Permissions{% endtrans %}</md-button></md-menu-item>
                        {% endif %}
                        {% if user.is_staff or user.is_superuser %}
                        <md-menu-item><md-button ng-href="{{url('admin_panel')}}"><md-icon md-font-icon="fa fa-gears"></md-icon> {% trans %}Administration{% endtrans %}</md-button></md-menu-item>
                        {% endif %}
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item><md-button ng-href="{{url('logout')}}"><md-icon md-font-icon="fa fa-sign-out"></md-icon> {% trans %}Sign out{% endtrans %}</md-button></md-menu-item>
                    </md-menu-content>
                </md-menu>
                {% else %}
                <md-button aria-label="{% trans %}Sign in{% endtrans %}" ng-href="{{url('login')}}">{% trans %}Sign in{% endtrans %}</md-button>
                {% endif %}

                <md-menu>
                    <md-button aria-label="{% trans %}Language{% endtrans %}" ng-click="$mdOpenMenu()"><i class="icon-globe"></i></md-button>
                    <md-menu-content>
                    {% for locale in LANGUAGES %}
                        <md-menu-item><md-button{% if (user.is_authenticated() and user.locale == locale.0) or request.session.locale == locale.0 %} ng-class="active"{% endif %} ng-href="{{url('account_set_language', locale.0)}}">{{ locale.1 }}</md-button></md-menu-item>
                    {% endfor %}
                    </md-menu-content>
                </md-menu>
            </div>
        </div>
    </md-toolbar>
</div>

<section layout="row" flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
        <md-list>
            <a href="{{url('search')}}"><md-list-item class="md-2-line" aria-label="Search">
                <md-icon md-font-icon="fa fa-search"></md-icon>
                <div class="md-list-item-text"><h3>{% trans %}Search{% endtrans %}</h3></div>
            </md-list-item></a>
            <a href="{{url('externaldb_list')}}"><md-list-item class="md-2-line" aria-label="External Databases">
                <md-icon md-font-icon="fa fa-list-alt"></md-icon>
                <div class="md-list-item-text"><h3>{% trans %}External Databases{% endtrans %}</h3></div>
            </md-list-item></a>
            <a href="{{url('ticket_list')}}"><md-list-item class="md-2-line" aria-label="Expert Help">
                <md-icon md-font-icon="fa fa-comments-o"></md-icon>
                <div class="md-list-item-text"><h3>Expert Help</h3></div>
            </md-list-item></a>
            <a href="{{url('podaci_info_home')}}"><md-list-item class="md-2-line" aria-label="Files">
                <md-icon md-font-icon="fa fa-file"></md-icon>
                <div class="md-list-item-text"><h3>Files</h3></div>
            </md-list-item></a>
            <a href="{{url('projects')}}"><md-list-item class="md-2-line" aria-label="Projects">
                <md-icon md-font-icon="fa fa-folder"></md-icon>
                <div class="md-list-item-text"><h3>Projects</h3></div>
            </md-list-item></a>

        </md-list>
    </md-sidenav>

    <md-content flex layout-padding>
        <div layout="column" layout-fill layout-align="top center">
            {% block content %}{% endblock %}
        </div>
    </md-content>
</section>
<div id="footer">
    <div class="container">
        <a href="{{ url('home') }}"><img src="{{ static("img/id-footer-logo.png") }}" /></a>
        <a id="occrp-logo" class="hidden-phone" href="http://www.occrp.org"><img src="{{ static("img/occrp-logo.png") }}" /></a>
      <a id="ancir-logo" class="hidden-phone" href="http://investigativecenters.org/"><img src="{{ static("img/ancir-logo.png") }}" style="height:65px" /></a>
      <a id="arij-logo" class="hidden-phone" href="http://arij.net/en"> <img src="{{ static("img/arij-logo.png") }}" style="height:65px" /></a>
        <small class="pull-right">{% trans %}&copy; 2015 - OCCRP.{% endtrans %} <a href="{{ url('about_us') }}">{% trans %}About this site{% endtrans %}</a></small>
    </div>
</div>


{% block js %}
    <script type="text/javascript" src="{{ url('django.views.i18n.javascript_catalog') }}"></script>
    <script type="text/javascript" src="{{ static("js/i18n.js") }}"></script>
    <script type="text/javascript" src="{{ static("bower_components/jquery/dist/jquery.min.js") }}"></script>
    <script type="text/javascript" src="{{ static("bower_components/bootstrap/js/bootstrap-tooltip.js") }}"></script>
    <script type="text/javascript" src="{{ static("bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js") }}"></script>
    <script type="text/javascript" src="{{ static("bower_components/select2/select2.min.js") }}"></script>
    <script type="text/javascript" src="{{ static("bower_components/moment/min/moment.min.js") }}"></script>
    {% if LANGUAGE_LC != "en" %}
        <script type="text/javascript" src="{{ static("bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker." + LANGUAGE_LC + ".js") }}"></script>
        <script type="text/javascript" src="{{ static("bower_components/select2/select2_locale_" + LANGUAGE_LC + ".js") }}"></script>
        <script type="text/javascript" src="{{ static("bower_components/moment/min/lang/" + LANGUAGE_LC + ".js") }}"></script>
    {% else %}
        <script type="text/javascript" src="{{ static("bower_components/moment/min/lang/en-gb.js") }}"></script>
    {% endif %}
    <script type="text/javascript" src="{{ static("bower_components/spin.js/spin.js") }}"></script>
    <script type="text/javascript" src="{{ static("bower_components/spin.js/jquery.spin.js") }}"></script>
    <script type="text/javascript" src="{{ static("bower_components/jquery.scrollTo/jquery.scrollTo.min.js") }}"></script>
    <script type="text/javascript" src="{{ static("bower_components/jquery.equalheights/jquery.equalheights.min.js") }}"></script>
    <script type="text/javascript" src="{{ static("js/bootstrap-fileupload.js") }}"></script>
    <script type="text/javascript">
        $('[data-toggle=tooltip]').tooltip();
        $.fn.datepicker.defaults = $.extend({}, $.fn.datepicker.defaults, {language: "{{ LANGUAGE_LC }}", format: "yyyy-mm-dd" });
        moment.lang("{{ LANGUAGE_LC }}");
        _.templateSettings = {
            interpolate: /\{\{(.+?)\}\}/g
        };
    </script>

    <script type="text/javascript" src="{{ static("bower_components/angular/angular.min.js")}}"></script>
    <script type="text/javascript" src="{{ static("bower_components/angular-route/angular-route.min.js")}}"></script>
    <script type="text/javascript" src="{{ static("bower_components/angular-animate/angular-animate.min.js")}}"></script>
    <script type="text/javascript" src="{{ static("bower_components/angular-aria/angular-aria.min.js")}}"></script>
    <script type="text/javascript" src="{{ static("bower_components/angular-material/angular-material.min.js")}}"></script>

    <script type="text/javascript" src="{{ static("js/widgets.js") }}"></script>
    <script type="text/javascript" src="{{ static("js/select2-field.js") }}"></script>
    <script type="text/javascript" src="{{ static("js/relationship-type-field.js") }}"></script>
    <script type="text/javascript" src="{{ static("js/list-files.js") }}"></script>
    <script type="text/javascript" src="{{ static("js/slugify.js") }}"></script>
    <script type="text/javascript" src="{{ static("js/fragment-forms.js") }}"></script>
    <script type="text/javascript" src="{{ static("js/validation-forms.js") }}"></script>
    <script type="text/javascript" src="{{ static("js/datetime.js") }}"></script>
    <script type="text/javascript" src="{{ static("js/external-dbs.js") }}"></script>
    <script type="text/javascript" src="{{ static("js/init.js") }}"></script>
    <script type="text/javascript" src="{{ static("js/ol.js") }}"></script>
    <script type="text/javascript" src="{{ static("js/id2/search.js") }}"></script>
    <script type="text/javascript" src="{{ static("js/form-tools.js") }}"></script>

    <script type="text/javascript" src="{{ static("js/id2/id2.js")}}"></script>
    <script type="text/javascript" src="{{ static("js/id2/id2.projects.js")}}"></script>
    <script type="text/javascript" src="{{ static("js/id2/id2.projects.list.js")}}"></script>
    <script type="text/javascript" src="{{ static("js/id2/id2.projects.view.js")}}"></script>
    <script type="text/javascript" src="{{ static("js/id2/id2.stories.view.js")}}"></script>
{% endblock %}

{% block after_js %}
{% endblock %}
</body>
</html>
