{% extends 'base.jinja' %}

{% block content %}
    <div class="span12">
        <div class='page-header'><h1>{% block page_header %}{% endblock %}</h1></div>
        <p>{% block error_content %}{% endblock %}</p>
    </div>
{% endblock %}
{% block js %}{% endblock %}
{% block language_chooser %}{% endblock %}
