{% extends "base.jinja" %}

{% block content %}
<div class="span12">
    <div class="page-header">
        <h1>{% trans %}External Databases{% endtrans %}</h1>
    </div>

    <div class="well higher center">
    <form action="{{ url('externaldb_list') }}" method="GET" class="ext-db-filter">
        <ul class="form-horizontal">
            {{ filter_form.as_ul() }}
            <li><button type="submit">{% trans %}Filter{% endtrans %}</button></li>
        </ul>
    </form>
    </div>

    <div class="database-items">
    {% for db in object_list %}
    <div class="database-item">
        <div class="database-metadata">
            <a href="?country={{db.country}}"><strong>{{countries.get(db.country, '')}}</strong></a>
            {% if db.country != 'GLOBAL' and db.db_type %} · {% endif %}
            <a href="?db_type={{db.db_type}}">{{database_types.get(db.db_type, '')}}</a>

            ·
            {% if db.paid %}
                <i class="fa fa-dollar text-success" data-toggle='tooltip' title='{{ _("Paid Database") }}'></i>
            {% endif %}
            {% if db.registration_required %}
                <i class="fa fa-edit text-success" data-toggle='tooltip' title='{{ _("Registration Required") }}'></i>
            {% endif %}
            {% if db.government_db %}
                <i class="fa fa-building text-success" data-toggle='tooltip' title='{{ _("Government Database") }}'></i>
            {% endif %}
        </div>
        <h4 class="db-title">
            <a href="{{ db.url }}" target="_blank">{{ db.agency }}</a>
        </h4>
        <p class="database-notes">{{db.notes}}</p>
    </div>
    {% else %}
    <div class="alert alert-block alert-info">
        {% trans %}No external databases found.{% endtrans %}
    </div>
    {% endfor %}
    </div>

    <p style="margin-top:2em;">
        {% with curcnt=object_list.count() %}{% trans %}Viewing {{curcnt}}/{{count}} databases in {{jurisdictions}} jurisdictions.{% endtrans %}{%endwith%}
        {% trans %}Didn't find what you were looking for?{% endtrans %}
        <a href="{{ url('ticket_submit') }}">
            {% trans %}Request manual help from our researchers.{% endtrans %}
        </a>
    </p>

</div>
{% endblock %}
