<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% trans %}Investigative Dashboard{% endtrans %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ static_url }}css/main.css">
</head>

<body class="popup">
    <div class="alert alert-success">
        {% trans %}Google Drive successfully authorized. Please close this dialog and attach your files again.{% endtrans %}
    </div>
</body>
