{% extends "base.jinja" %}

{% block body_class %}splash has-full-page-header{% endblock %}

{% block before_content %}
    <link rel="stylesheet" href="{{ static('css/podaci.css') }}"/>
    <div class="page-header full-page-header">
        <h2>
            <div class="primary-highlight">{% trans -%}Investigative Dashboard{%- endtrans %}</div>
            <div>{% trans -%}Research. Understand. Expose.{%- endtrans %}</div>
            <div style="margin-top: 1em;">
                <a href="{{url('about_id')}}" class="btn btn-large">{% trans %}Learn more{% endtrans %}</a>
                {% if user and not user.is_authenticated() %}
                <a href="{{url('login')}}" class="btn btn-large">{% trans %}Sign in{% endtrans %}</a>
                <a href="{{url('registration_register')}}" class="btn btn-large">{% trans %}Register{% endtrans %}</a>
                {% endif %}
            </div>
        </h2>
    </div>
{% endblock %}

{% block content %}
    {% if EMERGENCY %}
	<div class="alert alert-danger">{{EMERGENCY}}</div>
    {% endif %}

<div class="row">
    <div style="margin-left: auto; margin-right: auto; text-align: center;">
        <div class="splash-item">
            <p class="desc">{% trans %}Search in documents and databases.{% endtrans %}</p>
            <div class="button-holder">
                {% if user.is_authenticated() %}
                    <a href="https://data.occrp.org/api/1/sessions/login" class="btn btn-large btn-primary">
                {% else %}
                    <a href="https://data.occrp.org" class="btn btn-large btn-primary">
                {% endif %}
                    <i class="fa fa-search"></i> {% trans %}Start Searching{% endtrans %}
                </a>
            </div>
        </div>

        <div class="splash-item">
            <p class="desc">{% trans %}Ask our researchers to help you find information.{% endtrans %}</p>
            <div class="button-holder">
                {% if user.is_authenticated() %}
                    <a href="{{ url('tickets_home') }}" class="btn btn-large btn-primary">
                        <i class="fa fa-ticket"></i>
                        {% trans %}My Requests{% endtrans %}
                    </a>
                {% else %}
                    <a href="{{ url('login') }}?next={{ url('ticket_submit') }}" class="btn btn-large btn-primary">
                        <i class="fa fa-ticket"></i>
                        {% trans %}Ask an Expert{% endtrans %}
                    </a>
                {% endif %}

            </div>
        </div>

        <div class="splash-item">
            <p class="desc">{% trans %}View recommended global databases.{% endtrans %}</p>
            <div class="button-holder">
                <a href="{{ url('databases:index') }}" class="btn btn-large btn-primary">
                    <i class="fa fa-database"></i> {% trans %}Visit Databases{% endtrans %}
                </a>
            </div>
        </div>

        <div class="splash-item">
            <p class="desc">{% trans %}Map out relationships, get the big picture.{% endtrans %}</p>
            <div class="button-holder">
                <a href="https://vis.occrp.org" class="btn btn-large btn-primary">
                    <i class="fa fa-bank"></i> {% trans %}Use Vis{% endtrans %}
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
