{% extends "base.jinja" %}
{% block body_class %}splash has-full-page-header{% endblock %}
{% block before_content %}
    <div class="page-header full-page-header"><h2 class="primary-highlight">{% trans %}Request permissions{% endtrans %}</h2>
        {% block error_content %}{% endblock %}
    </div>
{% endblock %}

{% block content %}
    {% include "partials/_request_access.jinja" %}
{% endblock %}
