{% extends "admin_base.jinja" %}

{% block admin_content %}

{% block crud_table %}

  {% for reqtype in ["request", "volunteer"] %}
    <h3>{{reqtype|capitalize}} waiting for approval</h3>
    <table class="table table-striped table-bordered crud-list">
      <thead>
        <tr>
          <th>{% trans %}First Name{% endtrans %}</th>
          <th>{% trans %}Last Name{% endtrans %}</th>
          <th>{% trans %}Mail address{% endtrans %}</th>
          <th>{% trans %}Creation date{% endtrans %}</th>
          <th>{% trans %}Approve{% endtrans %}</th>
        </tr>
      </thead>
      <tbody>
      {% for user in object_list.filter(request_type=reqtype) %}
        <tr>
          <th>{{user.user.first_name}}</th>
          <th>{{user.user.last_name}}</th>
          <th><a href="{{ url("profile", user.user.id ) }}">{{user.user.email}}</a></th>
          <th>{{ macros.display_datetime(user.date_created) }}</th>
          <th>
            <a class="btn btn-small" href="{{url('request_access_list')}}?approve_req={{user.id}}">{% trans %}Approve{% endtrans %}</a>
            <a class="btn btn-small" href="{{url('request_access_list')}}?deny_req={{user.id}}">{% trans %}Deny{% endtrans %}</a>
          </th>
        </tr>
      {% else %}
        <tr><td colspan="5">{% trans %}No requests{% endtrans %}</td></tr>
      {% endfor %}
      </tbody>
    </table>
  {% endfor %}

{% endblock %}
{% endblock %}
