{% extends "admin_base.jinja" %}

{% block admin_content %}


<div class="input-group pull-right">
    <form action="{{url('userprofile_list')}}">
        <input type="text" name="filter_terms" value="{{filter_terms}}" class="form-control" placeholder="{% trans %}Filter users...{% endtrans %}">
        <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>

<h1>{% trans %}User Profiles{% endtrans %}</h1>


{% if object_list %}
{% include("partials/_paginator.jinja") %}

<table class="table table-striped table-bordered tablesorter-default {{ extra_class }}">
    <thead>
        <tr>
            {% for field in ("E-mail", "Full name", "Status") %}
            <th>{{field}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for obj in object_list %}
        <tr>
            <td><a href="{{ url('profile', pk=obj.id) }}">{{obj.email}}</a></td>
            <td>{{obj.first_name}} {{obj.last_name}}</td>
            <td>
                {% if obj.is_superuser %}Administrator {% endif %}
                {% if obj.is_staff %}Staffer {% endif %}
                {% if obj.is_volunteer %}Volunteer {% endif %}
                {% if obj.is_user %}Requester {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include("partials/_paginator.jinja") %}
{% else %}
    <div class="alert alert-block alert-warning">
        {% trans %}No users were found matching your search criteria.{% endtrans %}
    </div>
{% endif %}

{% endblock %}
