{% extends "manage_base.jinja" %}

{% block admin_content %}


<div class="input-group pull-right">
    <form action="{{url('userprofile_list')}}">
        <input type="text" name="filter_terms" value="{{filter_terms}}" class="form-control" placeholder="{% trans %}Filter users...{% endtrans %}">
        <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>

<h1>{% trans %}User Profiles{% endtrans %}</h1>


{% if object_list %}
{% include("partials/_paginator.jinja") %}

<table class="table table-striped table-bordered tablesorter-default {{ extra_class }}">
    <thead>
        <tr>
            <th>E-Mail</th>
            <th>Name</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for obj in object_list %}
        <tr>
            <td><a href="{{ url('profile', pk=obj.id) }}">{{obj.email}}</a></td>
            <td>{{obj.display_name}}</td>
            <td>
                {% if obj.is_superuser %}{% trans %}Administrator {% endtrans %}{% endif %}
                {% if obj.is_staff %}{% trans %}Staffer {% endtrans %}{% endif %}
                {% if obj.is_active %}{% trans %}Requester {% endtrans %}{% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include("partials/_paginator.jinja") %}
{% else %}
    <div class="alert alert-block alert-warning">
        {% trans %}No users were found matching your search criteria.{% endtrans %}
    </div>
{% endif %}

{% endblock %}
