{% extends "crud/list_base.jinja" %}
{% block crud_title %}{% trans %}User Profiles{% endtrans %}{% endblock %}

{% block filter_form %}
<div class="page-header">
        </div>
{% endblock %}

{% block crud_table %}

{% if object_list %}
{% include("partials/_paginator.jinja") %}

<table class="table table-striped table-bordered tablesorter-default {{ extra_class }}">
  <thead>
  <tr>
    {% for field in ("Username", "E-mail", "Full name", "Status") %}
    <th>{{field}}</th>
    {% endfor %}
  </tr>
  </thead>
  <tbody>
  {% for obj in object_list %}
    <tr>
      <td>
        <a href="{{ url('profile', pk=obj.profile.id) }}">
          {{obj.username}}
        </a>
      </td>
      <td>
        {{obj.email}}
      </td>
      <td>
        {{obj.profile.first_name}} {{obj.profile.lastname}}
      </td>
      <td>
        {% if obj.profile.is_superuser %}Administrator {% endif %}
        {% if obj.profile.is_staff %}Staffer {% endif %}
        {% if obj.profile.is_volunteer %}Volunteer {% endif %}
        {% if obj.profile.is_user %}Registered {% endif %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% include("partials/_paginator.jinja") %}
{% else %}
  <div class="alert alert-block alert-warning">
      {{ no_entries }}
  </div>
{% endif %}



{% endblock %}




{% block bollocks %}

{% for gr in user_groups %}

<h4>{{gr['subheading']}}</h4>

{% set objects, no_entries, extra_class, link_action = (gr['objects'], "No entries found.", "", "view") %} <!-- for compatibility with macros.render_table --> 
  
    {% if object_list %}
        <table class="table table-striped table-bordered table-sorted tablesorter-default {{ extra_class }}">
            <thead>
                <tr>
                    {% for field in fields %}
                        <th>{{ objects[0].__class__[field]._verbose_name
        or default_column_headers.get(field, '')}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for obj in object_list %}
                   {% if obj.profile.is_approved %}
                    <tr>
                        <td>
                            <a href="{{ uri_for('%s_%s' % (model_name, link_action), obj_id=obj.key.urlsafe()) }}">
                                {{ macros.display_field(obj, fields[0]) }}
                            </a>
      </td>
          {% for field in fields[1:] %}
                            <td>
                                {{ macros.display_field(obj, field) }}
                            </td>
                        {% endfor %}
                    </tr>

      {% endif %}
                {% endfor %}
            </tbody>
        </table>
  <div id="pager" class="pager">
        <form>
                <img src="/static/img/tablesorter/first.png" class="first"/>
                <img src="/static/img/tablesorter/prev.png" class="prev"/>
                <input type="text" class="pagedisplay"/>
                <img src="/static/img/tablesorter/next.png" class="next"/>
                <img src="/static/img/tablesorter/last.png" class="last"/>
                <select class="pagesize">
                        <option selected="selected"  value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option  value="40">40</option>
                </select>
        </form>
</div>

        {% else %}
        <div class="alert alert-block alert-warning">
            {{ no_entries }}
        </div>
    {% endif %}
  
{% endfor %}
  
{% endblock %}


{% block after_js_r %}
<link rel="stylesheet" href="/static/css/tablesorter/theme.blue.css"/>
<link rel="stylesheet" href="/static/css/tablesorter/theme.default.css"/>
<script src="/static/js/tablesorter/jquery.tablesorter.min.js"></script>
<script src="/static/js/tablesorter/jquery.tablesorter.widgets.min.js"></script>
<script src="/static/js/tablesorter/jquery.tablesorter.pager.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $('.table-sorted').tablesorter({
    theme: 'default',
    widthFixed: true,
    widgets: ["zebra", "filter"],
          widgetOptions: {
     filter_childRows : false,
           filter_columnFilters : true,
           filter_cssFilter : '',
           filter_filteredRow   : 'filtered',
           filter_formatter : null,
           filter_functions : null,
           filter_hideFilters : false,
           filter_ignoreCase : true,
           filter_liveSearch : true,
           filter_reset : 'button.reset',
           filter_saveFilters : true,
           filter_searchDelay : 300,
           filter_serversideFiltering: false,
           filter_startsWith : false,
           filter_useParsedData : false,
     filter_functions: {
       0: true,
       1: true,
       2: true,
       3: true,
       4: true,
       5: true,
       6: true,
     },
    },
  }).tablesorterPager({container: $("#pager")});
  });
</script>
{% endblock %}