{% extends "tickets/request_base.jinja" %}

{% block inner_content %}
<h1>{% trans %}Tickets per country{% endtrans %}</h1>

<p>{% trans %}Tickets requesting company data from specific countries. Does not include company tickets requesting data from no country in particular, or non-company tickets.{% endtrans %}</p>

<table class="table table-border table-striped sortable">
    <thead>
        <tr>
            <th>{% trans %}Country{% endtrans %}</th>
            <th>{% trans %}Tickets{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
{% for country in countries %}
    <tr>
        <td><a href="/ticket/country/{{country.country}}">{{countrynames[country.country]}}</a></td>
        <td>{{country.cnt_total}}</td>
    </tr>
{% endfor %}
    </tbody>
</table>

{% endblock %}
