{% extends "base.html" %}

{% block content %}
    <div class="page-header">
        <h1>{% trans %}Manage Information Request{% endtrans %}</h1>
    </div>


    <form method="POST" class="form-horizontal" enctype="multipart/form-data" 
        data-validation-url="{{ person_ownership_form.Meta.ajax_validation_url }}">
        {% if person_ownership_form.Meta and person_ownership_form.Meta.ajax_validation_url and person_ownership_form.instance.key %}
            <input type="hidden" name="validation_key" value="{{ person_ownership_form.instance.key.urlsafe() }}"/>
        {% endif %}


        {{ form_macros.render_form_fragment(ticket_type_form) }}
        <div id="person_ownership_form" class="ticket-form" style="display: none;">
            {{ form_macros.render_form_fragment(person_ownership_form) }}
        </div>
        <div id="company_ownership_form" class="ticket-form" style="display: none;">
            {{ form_macros.render_form_fragment(company_ownership_form) }}
        </div>
        <div id="other_form" class="ticket-form" style="display: none;">
            {{ form_macros.render_form_fragment(other_form) }}
        </div>
        <div class="request-submit" style="display: none;">
            {{ form_macros.render_submit(_("Submit"), class="btn-primary") }}
        </div>
    </form>
{% endblock %}

{% block after_js %}
    <script type="text/javascript" src="{{ static_url }}js/request-form.js"></script>
{% endblock %}
