{% extends "tickets/request_base.jinja" %}

{% block inner_content %}
    <div class="page-header">
        <h1>{% block ticket_title %}{% endblock %}</h1>
    </div>

    {% call macros.help_box() %}
        {% block ticket_description %}{% endblock %}
    {% endcall %}

    {% if tickets %}
    {{ render_ticket_table(tickets) }}
        {% if next_cursor.urlsafe() != "" or prev_cursor.urlsafe() != "" %}
            <div class="pagination pull-right">
                <ul>
                {% if prev_cursor.urlsafe() != "" and ((current_direction == "prev" and more_results)
                        or current_direction == "next") %}
                    <li>
                        <a href="{{ request.path }}?curs={{ prev_cursor.urlsafe() }}&dir=prev">{% trans %}Prev{% endtrans %}</a>
                    </li>
                {% else %}
                    <li class="disabled"><a href="#">{% trans %}Prev{% endtrans %}</a></li>
                {% endif %}

                {% if next_cursor.urlsafe() != "" and ((current_direction == "next" and more_results)
                        or current_direction == "prev") %}
                    <li>
                        <a href="{{ request.path }}?curs={{ next_cursor.urlsafe() }}&dir=next">{% trans %}Next{% endtrans %}</a>
                    </li>
                {% else %}
                    <li class="disabled"><a href="#">{% trans %}Next{% endtrans %}</a></li>
                {% endif %}
                </ul>
            </div>
        
        {% endif %}


    {% else %}
        <div class="alert alert-block alert-warning">
            {% trans %}No tickets found.{% endtrans %}
        </div>
    {% endif %}
{% endblock %}


