{% extends "base.jinja" %}

{% import "macros/modals.jinja" as modal_macros %}

{% block body_class %}request has-full-page-header{% endblock %}

{% block before_content %}
<link rel="stylesheet" href="{{ static('css/podaci.css') }}"/>

<div class="page-header full-page-header">
<div class="container">
<div class="row">
    <div class="span5">
        <div class="summary">
            <div class="icon pull-left">
                <i class="fa fa-folder-open-o primary-highlight"></i>
            </div>
            <div class="text">
                <h3>
                    {{ ticket.summary }}
                </h3>
                <h5 class="yell">
                    <span class="soft">{% trans %}Created on {% endtrans %}</span>
                    {{ macros.display_datetime(ticket.created) }}
                </h5>
            </div>
        </div>
    </div>

    <div class="span7">
        <div class="header-buttons pull-right">
            <div class="status-container">
                 <h5 class="yell soft">{% trans %}Status{% endtrans %}</h5>
                 <h5 class="yell"><i class="fa fa-circle"></i> {{ ticket.status }}</h5>
            </div>
            {% if ticket.is_open() %}

            <div class="btn-group">
                <a href="#DirectUploadForm" role="button" class="btn podaci_upload" data-toggle="modal" data-key="{{ ticket.id }}">
                    <i class="fa fa-file-o"></i> {% trans %}Attach Files{% endtrans %}
                </a>
            </div>

            {% if user.is_volunteer or user.is_staff %}
                {% if user not in ticket.actors() %}
                    <form action="{{ url('ticket_join', pk=ticket.id) }}" method="POST" class="inline-form">
                        {% csrf_token %}
                        <button type="submit" class="btn">
                            <i class="fa fa-eye-open"></i>
                            {% trans %}Join{% endtrans %}
                        </button>
                    </form>
                {% else %}
                    <form action="{{ url('ticket_leave', pk=ticket.id) }}" method="POST" class="inline-form">
                        {% csrf_token %}
                        <button type="submit" class="btn">
                            <i class='fa fa-eye-open'></i>
                            {% trans %}Leave{% endtrans %}
                        </button>
                    </form>
                {% endif %}
            {% endif %}

            <div class="btn-group">
                <a href="#ReqCloseForm" class="btn" data-toggle='modal' role='button'>
                    <i class="fa fa-ok"></i> {% trans %}Close Request{% endtrans %}
                </a>
                <button class="btn dropdown-toggle" data-toggle='dropdown'><span class="caret"></span></button>
                <ul class="dropdown-menu">
                    {% if user.is_superuser or not user.is_staff or ticket.requester == user %}
                    <li>
                        <a href="{{ url(ticket.ticket_type ~ '_ticket_edit', pk=ticket.id) }}" role="button">
                            <i class="fa fa-pencil"></i> {% trans %}Edit Request{% endtrans %}
                        </a>
                    </li>
                    <li>
                        <a href="#ReqCancelForm" data-toggle="modal" role="button">
                            <i class="fa fa-minus"></i> {% trans %}Cancel Request{% endtrans %}
                        </a>
                    </li>
                    {% endif %}
                    {% if user.is_superuser or user.is_staff %}
                    <li>
                        <a href="#ChargeForm" data-toggle='modal' role='button'>
                            <i class="fa fa-money"></i> {% trans %}Add Charge{% endtrans %}
                        </a>
                    </li>
                    {% if user.is_superuser %}
                    <li>
                        <a href="#MarkPaidForm" data-toggle='modal' role='button'>
                            <i class="fa fa-check"></i> {% trans %}Mark Bill Paid{% endtrans %}
                        </a>
                    </li>
                    <li>
                        <a href="#AdminSettingsModal" role='button'
                           data-modal-url="{{ url('ticket_admin_settings', pk=ticket.id, redirect='ticket_details') }}">
                            <i class="fa fa-cog"></i> {% trans %}Request Settings{% endtrans %}
                        </a>
                    </li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>
            {% else %}
                {% if not user.is_volunteer %}
                    <div class="btn-group">
                        <a href="#ReqReopenForm" class="btn btn-warning" data-toggle='modal' role='button'>
                            <i class="fa fa-unlock"></i> {% trans %}Re-Open{% endtrans %}
                        </a>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>  <!-- class="span7" -->
</div> <!-- class="row" -->
</div> <!-- class="container" -->
{% endblock %}

{% block content %}
<div class="span12">
    {% if ticket_detail_view is defined %}
        <div id="alerts" class="container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-detail alert-block alert-{{ message.tags }}">
                        <a class="close" data-dismiss="alert">×</a>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}
</div>
<div class="span12">
<div class="row-fluid">
    <div class="span3">
        {% if ticket.deadline or ticket.location %}
            <div class="important-info-wrapper">
                {% if ticket.deadline %}
                    <div class="important-info clearfix">
                        <i class="fa fa-calendar primary-highlight pull-left"></i>
                        <div class="pull-left">
                            <h5 class="yell soft">{% trans %}Deadline{% endtrans %}</h5>
                            <h4>{{ macros.display_datetime(ticket.deadline) }}</h4>
                        </div>
                    </div>
                {% endif %}
                {% if ticket.location %}
                    <div class="important-info last clearfix">
                        <i class="icon-map-marker secondary-highlight pull-left"></i>
                        <div>
                            <h5 class="yell soft">{% trans %}Location{% endtrans %}</h5>
                            <h4>{{ ticket.location }}</h4>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endif %}
        <h4>{% trans %}Request Information{% endtrans %}</h4>
        <dl>
            <dt class="yell soft">{% trans %}Requester{% endtrans %}</dt>
            <dd>
                {% if ticket.requester and (user.is_staff or user.is_superuser) %}
	      <a href="{{ url('profile', pk=ticket.requester.id)}}">
              {{ ticket.requester.display_name if ticket.requester else _("No Requester") }} </a>
	      {% else %}
	      {{ ticket.requester.display_name if ticket.requester else _("No Requester") }}
              {% endif %}
	    </dd>

            <dt class="yell soft">{% trans %}Staff Responders{% endtrans %}</dt>
            <dd>
            {% if ticket.responders.count() > 0 %}
                {% for responder in ticket.responders.all() %}
                    <a href="{{ url('profile', pk=responder.id)}}">{{ responder.display_name }}</a><br />
                {% endfor %}
            {% else %}
                {{ _("No Responders") }}
            {% endif %}
            </dd>

            {% if ticket.volunteers.count() > 0 %}
            <dt class="yell soft">{% trans %}Volunteer Responders{% endtrans %}</dt>
            <dd>
                {% for volunteer in ticket.volunteers.all() %}
                    {{ volunteer.display_name }} <br />
                {% endfor %}
            </dd>
            {% endif %}

            <dt class="yell soft">{% trans %}Request Type{% endtrans %}</dt>
            <dd>{{ ticket.ticket_type_display() }}</dd>

            {% if ticket.status_updated %}
                <dt class="yell soft">{% trans %}Status Updated{% endtrans %}</dt>
                <dd>{{ macros.display_datetime(ticket.status_updated) }}</dd>
            {% endif %}

            <dt class="yell soft">{% trans %}Findings Public{% endtrans %}</dt>
            <dd>{{ _("Yes") if ticket.findings_public else _("No") }}</dd>

            <dt class="yell soft">{% trans %}Sensitive{% endtrans %}</dt>
            <dd>{{ _("Yes") if ticket.sensitive else _("No") }}</dd>
        </dl>

        <h4>{% trans %}Billing Information{% endtrans %}</h4>
        <dl>
            <dt class="yell soft">{% trans %}Billing Information{% endtrans %}</dt>
            {% if ticket.requester_type %}
                <dd>{{ ticket.requester_type_display() }}</dd>
            {% endif %}
            <dd>{{ _('For-profit') if ticket.is_for_profit else _('Non-profit') }}</dd>

            <dt id="charge-list" class="yell soft">{% trans %}Charges{% endtrans %}</dt>
            {% if charges %}
                <dd class='request-charges'>
                    <table>
                    {% for charge in charges %}
                        <tr class="{% if charge.reconciled %}reconciled{% endif %}">
                            <td class='money'>${{ "%0.2f"|format(charge.cost) }}</td>
                            <td class='item muted'>
                                <a href="#ChargeModifyModal"
                                   data-modal-url="{{ url("request_charge_modify", pk=charge.id) }}">
                                    {{ charge.item }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </table>
                </dd>
                <dd>{{ _("Outstanding Amount:") }} ${{ "%0.2f"|format(charges_outstanding) }} </dd>
            {% else %}
                <dd>{% trans %}None{% endtrans %}</dd>
            {% endif %}
        </dl>
    </div>

    <div class="span9 request-details">
        {% include "tickets/partials/_ticketdetails.jinja" %}
        {% include "tickets/partials/_filelist.jinja" %}
        {% include "tickets/partials/_activity.jinja" %}
        {% include "tickets/partials/_comment.jinja" %}
    </div>
</div>
</div>
{% endblock %}

{% block js %}
    {{ super() }}
    <script type="text/javascript" src="{{ static('js/entity-view.js') }}"></script>
    <script type="text/javascript" src="{{ static('js/id2/podaci.js') }}"></script>
{% endblock %}

{% block after_js %}
    {{ super() }}
    <div class="modal hide" id="entity-viewer"></div>
    {% include "podaci/partials/_podaci_upload_model.jinja" %}

    {{ modal_macros.render_modal(open_form, url('ticket_open', pk=ticket.id), "ReqReopenForm", _("Re-Open Request"), _("Submit"), "", csrf_token) }}

    {{ modal_macros.render_modal(close_form, url('ticket_close', pk=ticket.id), "ReqCloseForm", _("Close Request"), _("Submit"), "", csrf_token) }}

    {{ modal_macros.render_modal(cancel_form, url('ticket_cancel', pk=ticket.id), "ReqCancelForm", _("Cancel Request"), _("Submit"), "", csrf_token) }}

    {{ modal_macros.render_modal(mark_paid_form, url('request_mark_paid', pk=ticket.id), "MarkPaidForm", _("Mark Paid"), _("Save"), "", csrf_token) }}

    {{ modal_macros.render_modal(charge_form, url('request_charge_add', pk=ticket.id), "ChargeForm", _("Add Charge"), _("Add"), "", csrf_token) }}

    {{ modal_macros.render_dynamic_modal('SharingModal', _('Share Attached Files'), _('Save')) }}

    {{ modal_macros.render_dynamic_modal('AdminSettingsModal', _('Request Settings'), _('Save')) }}

    {{ modal_macros.render_dynamic_modal('ChargeModifyModal', _('Modify Charge'), _('Save'), True) }}
{% endblock %}
