{% extends "base.jinja" %}
{% import "macros/modals.jinja" as modal_macros %}
{% import "macros/macros.jinja" as macros %}

{% block content %}
    <div class="span3">
        <div class="well sidebar-nav">
            {% if filter_terms is defined %}
            <form id="filter_form">
                <input name="filter" value="{{filter_terms}}" placeholder="Filter" id="filter_tickets" type="search"/>
            </form>
            {% endif %}
            <ul class="nav nav-list">

                <li class="nav-header">{% trans %}My Requests{% endtrans %}</li>

                <li class="{% if 'ticket_list' in ROUTE_NAME %}active{% endif %}">
                    <a href="{{ url('ticket_list') }}"><i class="icon-folder-open-alt"></i> {% trans %}Open{% endtrans %}
                    {% if ticket_figures is defined %}
                        ({{ ticket_figures.my_open }})
                    {% endif %}
                    </a>
                </li>

                <li class="{% if 'ticket_closed_list' in ROUTE_NAME %}active{% endif %}">
                    <a href="{{ url('ticket_closed_list') }}"><i class="icon-folder-close-alt"></i> {% trans %}Closed{% endtrans %}
                    {% if ticket_figures is defined %}
                        ({{ ticket_figures.my_closed }})
                    {% endif %}
                    </a>
                </li>

                {% if user.is_staff or user.is_volunteer or user.is_superuser %}
                    <li class="nav-header">{% trans %}My Assignments{% endtrans %}</li>

                    <li class="{% if 'ticket_assigned_list' in ROUTE_NAME %}active{% endif %}">
                        <a href="{{ url('ticket_assigned_list') }}"><i class="icon-folder-open-alt"></i> {% trans %}Open{% endtrans %}
                        {% if ticket_figures is defined %}
                            ({{ ticket_figures.my_assigned }})
                        {% endif %}
                        </a>
                    </li>

                    <li class="{% if 'ticket_assigned_closed_list' in ROUTE_NAME %}active{% endif %}">
                        <a href="{{ url('ticket_assigned_closed_list') }}"><i class="icon-folder-close-alt"></i> {% trans %}Closed{% endtrans %}
                        {% if ticket_figures is defined %}
                            ({{ ticket_figures.my_assigned_closed }})
                        {% endif %}
                        </a>
                    </li>

                    <li class="nav-header">{% trans %}Public Requests{% endtrans %}</li>

                    <li class="{% if 'ticket_public_list' in ROUTE_NAME %}active{% endif %}">
                        <a href="{{ url('ticket_public_list') }}"><i class="icon-folder-open-alt"></i> {% trans %}Open{% endtrans %}
                        {% if ticket_figures is defined %}
                            ({{ ticket_figures.public }})
                        {% endif %}
                        </a>
                    </li>

                    <li class="{% if 'ticket_public_closed_list' in ROUTE_NAME %}active{% endif %}">
                        <a href="{{ url('ticket_public_closed_list') }}"><i class="icon-folder-close-alt"></i> {% trans %}Closed{% endtrans %}
                        {% if ticket_figures is defined %}
                            ({{ ticket_figures.public_closed }})
                        {% endif %}
                        </a>
                    </li>
                {% endif %}

                {% if user.is_superuser %}
                    <li class="nav-header">{% trans %}Manage{% endtrans %}</li>

                    <li class="{% if 'ticket_unassigned_list' in ROUTE_NAME %}active{% endif %}">
                        <a href="{{ url('ticket_unassigned_list') }}"><i class="icon-circle-blank"></i> {% trans %}Unassigned Tickets{% endtrans %}
                        {% if ticket_figures is defined %}
                            ({{ ticket_figures.unassigned }})
                        {% endif %}
                        </a>
                    </li>

                    <li class="{% if 'ticket_deadline_list' in ROUTE_NAME %}active{% endif %}">
                        <a href="{{ url('ticket_deadline_list') }}"><i class="icon-calendar"></i> {% trans %}Upcoming Deadlines{% endtrans %}
                        {% if ticket_figures is defined %}
                            ({{ ticket_figures.upcoming_deadline }})
                        {% endif %}
                        </a>
                    </li>

                    <li class="{% if 'ticket_all_open_list' in ROUTE_NAME %}active{% endif %}">
                        <a href="{{ url('ticket_all_open_list') }}"><i class="icon-folder-open-alt"></i> {% trans %}All Open Requests{% endtrans %}
                        {% if ticket_figures is defined %}
                            ({{ ticket_figures.all_open }})
                        {% endif %}
                        </a>
                    </li>

                    <li class="{% if 'ticket_all_closed_list' in ROUTE_NAME %}active{% endif %}">
                        <a href="{{ url('ticket_all_closed_list') }}"><i class="icon-folder-close-alt"></i> {% trans %}All Closed Requests{% endtrans %}
                        {% if ticket_figures is defined %}
                            ({{ ticket_figures.all_closed }})
                        {% endif %}
                        </a>
                    </li>

                    <li class="nav-header">{% trans %}Workload{% endtrans %}</li>

                    <li class="{% if 'ticket_researcher_workload' in ROUTE_NAME %}active{% endif %}">
                        <a href="{{ url('ticket_researcher_workload') }}"><i class="fa fa-bar-chart"></i> {% trans %}Researcher Workload{% endtrans %}
                        </a>
                    </li>

                    <li class="{% if 'ticket_resolution_time' in ROUTE_NAME %}active{% endif %}">
                        <a href="{{ url('ticket_resolution_time') }}"><i class="fa fa-bar-chart"></i> {% trans %}Resolution Time{% endtrans %}
                        </a>
                    </li>

                    <li class="nav-header">{% trans %}Billing{% endtrans %}</li>

                    <li class="{% if 'ticket_fees_users' in ROUTE_NAME %}active{% endif %}">
                        <a href="{{ url('ticket_fees_users') }}"><i class="icon-user"></i> {% trans %}User Fees{% endtrans %}</a>
                    </li>
                    <li class="{% if 'ticket_fees_networks' in ROUTE_NAME %}active{% endif %}">
                        <a href="{{ url('ticket_fees_networks') }}"><i class="icon-group"></i> {% trans %}Network Fees{% endtrans %}</a>
                    </li>
                    <li class="{% if 'ticket_fees_budgets' in ROUTE_NAME %}active{% endif %}">
                        <a href="{{ url('ticket_fees_budgets') }}"><i class="icon-money"></i> {% trans %}Budget Fees{% endtrans %}</a>
                    </li>

                    <li class="{% if 'ticket_admin_outstanding_charges' in ROUTE_NAME %}active{% endif %}">
                        <a href="{{ url('ticket_admin_outstanding_charges') }}"><i class="icon-ticket"></i> {% trans %}Outstanding Charges{% endtrans %}</a>
                    </li>
                {% endif %}
           </ul>
        </div>
    </div>

    <div class="span9">
        {% block inner_content %}{% endblock %}
    </div>
{% endblock %}


{% block after_js %}
    {{ super() }}
    <script src="{{ static("js/id2/tickets.js") }}"></script>
    <div class="modal hide" id="entity-viewer"></div>
    {{ modal_macros.render_dynamic_modal('AdminSettingsModal', _('Request Settings'), _('Save')) }}
{% endblock %}
