{% extends "base.html" %}
{% import "macros/modals.html" as modal_macros %}
{% macro render_ticket_table(tickets) %}
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>{% trans %}Summary{% endtrans %}</th>
                    <th>{% trans %}Type{% endtrans %}</th>
                    <th>{% trans %}Status{% endtrans %}</th>
                    <th>{% trans %}Deadline{% endtrans %}</th>
                    <th>{% trans %}Actions{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in tickets %}
                    <tr>
                        <td>
                            <a href="{{ url('request_details', ticket_id=ticket.key.id()) }}">
                                {{ ticket.summary }}
                            </a>
                        </td>
                        <td>{{ ticket.ticket_type_display() }}</td>
                        <td>
			  {% if ticket.status == 'new' %}

			  {% trans %} Unassigned {% endtrans %}

			  {% elif ticket.status == 'in-progress' %}

			  {% if ticket.responders_len > 0 %}
			        Assigned to
	      <a href="/admin/userprofile/{{ ticket.responders[0].get().key.urlsafe()}}/view">
			  {{ticket.responders[0].get().display_name}}</a>
                            {% else %}
                                {% trans %}No Responder{% endtrans %}
                            {% endif %}

			  {% elif ticket.status == 'closed' %}
			    {% trans %}Completed {% endtrans %}
			  {% elif ticket.status == 'cancelled' %}
			    {% trans %}Cancelled {% endtrans %}			  
			  {% endif %}


                        </td>
                        <td>{{ macros.display_datetime(ticket.deadline) }}</td>
                        <td>
                            <a class='btn btn-mini' href="{{ url('ticket_edit', ticket_id=ticket.key.id()) }}?next={{ request.path_qs }}">
                                <i class="icon-pencil"></i>
                            </a>
                        <a href="#AdminSettingsModal" class='btn btn-mini'
                           data-modal-url="{{ url('ticket_admin_settings', ticket_id=ticket.key.id()) }}">
                            <i class="icon-cog"></i>
                        </a>

                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
{% endmacro %}

{% block content %}
    <div class="span3">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <li class="nav-header">{% trans %}Requests{% endtrans %}</li>
                <li class='{% if 'request_list' in ROUTE_NAME %}active{% endif %}'>
                    <a href="{{ url('request_list') }}"><i class="icon-folder-open-alt"></i> {% trans %}My Requests{% endtrans %}</a>
                </li>
		{% if user.profile.is_staff or user.profile.is_volunteer or user.profile.is_admin %}
                <li class='{% if 'public_list' in ROUTE_NAME %}active{% endif %}'>
                    <a href="{{ url('public_list') }}"><i class="icon-dropbox"></i> {% trans %}Public Requests{% endtrans %}</a>
                </li>
		{% endif %}
                {% if user.profile.is_staff or user.profile.is_volunteer %}
                <li class='{% if 'response_list' in ROUTE_NAME %}active{% endif %}'>
                    <a href="{{ url('response_list') }}"><i class="icon-inbox"></i> {% trans %}Assigned Requests{% endtrans %}</a>
                </li>
                {% endif %}
                {% if user.profile.is_admin %}
                    <li class="nav-header">{% trans %}Manage{% endtrans %}</li>
                    <li class='{% if 'ticket_admin_unassigned' in ROUTE_NAME %}active{% endif %}'>
                        <a href="{{ url('ticket_admin_unassigned') }}"><i class="icon-circle-blank"></i> {% trans %}Unassigned Tickets{% endtrans %}</a>
                    </li>
                    <li class='{% if 'ticket_admin_deadline' in ROUTE_NAME %}active{% endif %}'>
                        <a href="{{ url('ticket_admin_deadline') }}"><i class="icon-calendar"></i> {% trans %}Upcoming Deadlines{% endtrans %}</a>
                    </li>
                    <li class='{% if 'ticket_admin_flagged' in ROUTE_NAME %}active{% endif %}'>
                        <a href="{{ url('ticket_admin_flagged') }}"><i class="icon-flag"></i> {% trans %}Flagged Tickets{% endtrans %}</a>
                    </li>
                    <li class='{% if 'ticket_admin_history' in ROUTE_NAME %}active{% endif %}'>
                        <a href="{{ url('ticket_admin_history') }}"><i class="icon-bookmark-empty"></i> {% trans %}Closed Tickets{% endtrans %}</a>
                    </li>
                    <li class="nav-header">{% trans %}Billing{% endtrans %}</li>
                    <li class='{% if 'ticket_admin_customer_charges' in ROUTE_NAME %}active{% endif %}'>
                        <a href="{{ url('ticket_admin_customer_charges') }}"><i class="icon-user"></i> {% trans %}Customer Report{% endtrans %}</a>
                    </li>
                    <li class='{% if 'ticket_admin_outstanding_charges' in ROUTE_NAME %}active{% endif %}'>
                        <a href="{{ url('ticket_admin_outstanding_charges') }}"><i class="icon-ticket"></i> {% trans %}Outstanding Charges{% endtrans %}</a>
                    </li>
                {% endif %}
           </ul>
        </div>
    </div>

    <div class="span9">
        {% block inner_content %}{% endblock %}
    </div>
{% endblock %}


{% block after_js %}
    {{ super() }}
    <div class="modal hide" id="entity-viewer"></div>
    {{ modal_macros.render_dynamic_modal('AdminSettingsModal', _('Request Settings'), _('Save')) }}
{% endblock %}
