{% extends "tickets/request_base.jinja" %}

{% import "macros/modals.jinja" as modal_macros %}
{% import "macros/macros.jinja" as macros %}

{% block inner_content %}
    {% block pre_title %}{% endblock %}

    <div class="page-header">
        <h1>{% block ticket_title %}{% endblock %}</h1>
    </div>

    {% call macros.help_box() %}
        {% block ticket_description %}{% endblock %}
    {% endcall %}

    {% if charges %}
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>{% trans %}Requester{% endtrans %}</th>
                    <th>{% trans %}Item{% endtrans %}</th>
                    <th>{% trans %}Cost{% endtrans %}</th>
                    <th>{% trans %}Cost (original currency){% endtrans %}</th>
                    <th>{% trans %}Reconciled{% endtrans %}</th>
                    <th>{% trans %}Created{% endtrans %}</th>
                    <th>{% trans %}Actions{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
                {% for charge in charges %}
                    <tr>
                        <td>
                            <a href="{{url('profile', charge.ticket.requester.id)}}">{{charge.ticket.requester}}</a>
                            </a>
                        </td>
                        <td>
                            <a href="{{url('ticket_details', charge.ticket.id)}}#charge-list">
                                {% if charge.ticket.flagged %}
                                    <i class="icon-warning-sign"></i>
                                {% elif charge.ticket.status in ["new", "in-progress"] %}
                                    <i class="icon-folder-open"></i>
                                {% elif charge.ticket.status in ["cancelled", "closed"] %}
                                    <i class="icon-folder-close"></i>
                                {% endif %}
                            {{ charge.item }}</a>
                        </td>
                        <td>${{ "%0.2f"|format(charge.cost) }}</td>
                        <td>{{ "%0.2f"|format(charge.cost_original_currency) }} {{ charge.original_currency }}</td>
                        <td>
                            {{ macros.display_datetime(charge.reconciled_date) }}
                            {% if charge.paid_status -%}
                                ( {{ charge.get_display_value('paid_status') }} )
                            {%- endif %}
                        </td>
                        <td>{{ macros.display_datetime(charge.created ) }}</td>
                        <td>
                            <a href="#ChargeModifyModal"
                                   data-modal-url="{{ url("request_charge_modify", pk=charge.id) }}">
                                modify
                            </a>
                        </td>                       
                    </tr>
                {% endfor %}

            </tbody>
        </table>
        {% if paginator_object.paginator %}
            {% if paginator_object.paginator.num_pages > 1 %}
                {{ macros.render_pagination_links(paginator_object.page_objects) }}
            {% endif %}
        {% endif %}


    {% else %}
        <div class="alert alert-block alert-warning">
            {% trans %}No charges found.{% endtrans %}
        </div>
    {% endif %}
{% endblock %}

{% block after_js %}
    {{ super() }}
    {{ modal_macros.render_dynamic_modal('ChargeModifyModal', _('Modify Charge'), _('Save'), True) }}
{% endblock %}
