{% extends "tickets/request_base.jinja" %}



{% block inner_content %}
    <div class="page-header">
        <a href="{{ url('ticket_submit') }}" class="btn btn-primary pull-right">
            <i class="icon-plus-sign icon-white"></i> {% trans %}New Request{% endtrans %}
        </a>
        <h1>{% trans %}{{ page_name }}{% endtrans %}</h1>
    </div>

    {% if tickets %}
        <h4>{% trans %}{{ ticket_list_name }}{% endtrans %}</h4>
    {{ macros.render_ticket_table(tickets, ROUTE_NAME, paginator_object) }}

    <div class="pull-right">
        <a class="btn btn-small" href="?format=csv"><i class="fa fa-file-excel-o"></i> {% trans %}Download as CSV{% endtrans %}</a>
        <a class="btn btn-small" href="?format=json"><i class="fa fa-file-o"></i> {% trans %}Download as JSON{% endtrans %}</a>
    </div>

    {% else %}
        <div class="alert alert-block alert-warning">
            {% trans %}No open requests found.{% endtrans %}
        </div>
    {% endif %}
{% endblock %}
