{% extends "tickets/request_base.jinja" %}

{% block inner_content %}

<h2>Ticket Report</h2>

<form id="filter_form" method="GET">
    {{ csrf_input }}
    <div class="controls md-whiteframe-z1 material-form" style="text-align:center;">
        <div class="input-append">
            <input type="text" name="start_date" value="{{start_date}}" id="start_date" class="datepicker" style="width: 7em" placeholder="{%trans%}Start date{%endtrans%}"/>
            <span class="add-on"><i class="fa fa-calendar"></i></span>
        </div>
        <div class="input-append">
            <input type="text" name="end_date" value="{{end_date}}" id="end_date" class="datepicker" style="width: 7em" placeholder="{%trans%}End date{%endtrans%}"/>
            <span class="add-on"><i class="fa fa-calendar"></i></span>
        </div>
        <div class="input-append">
            <button type="submit" class="btn">{%trans%}Filter{%endtrans%}</button>
        </div>
    </div>
</form>

<table class="table table-striped table-border">
    <tr>
        <th>{% trans %}Request date{% endtrans %}</th>
        <th>{% trans %}Person Requesting Info{% endtrans %}</th>
        <th>{% trans %}Country{% endtrans %}</th>
        <th>{% trans %}Organization{% endtrans %}</th>
        <th>{% trans %}Network{% endtrans %}</th>
        <th>{% trans %}Request Title{% endtrans %}</th>
    </tr>
    {% for ticket in tickets %}
    <tr>
        <td style="white-space:nowrap;">{{ticket.created|date('Y-m-d')}}</td>
        <td><a href="{{url('profile', ticket.requester.id)}}">{{ticket.requester}}</a></td>
        <td>{{ticket.requester.country}}</td>
        <td>{{ticket.requester.organization}}</td>
        <td>{{ticket.requester.network}}</td>
        <td><a href="{{url('ticket_details', ticket.id)}}">{{ticket.summary}}</a></td>
    </tr>
    {% endfor %}
</table>

<div class="pull-right">
    <a class="btn btn-small" href="?format=csv"><i class="fa fa-file-excel-o"></i> {% trans %}Download as CSV{% endtrans %}</a>
    <a class="btn btn-small" href="?format=json"><i class="fa fa-file-o"></i> {% trans %}Download as JSON{% endtrans %}</a>
</div>

{% endblock %}
