{% extends "tickets/request_base.jinja" %}

{% block inner_content %}

<h2>{% trans %}Researcher Workload{% endtrans %}</h2>

<table class="table table-striped">
<thead>
    <tr>
        <th>{% trans %}Type{% endtrans %}</th>
        <th>{% trans %}Researcher{% endtrans %}</th>
        <th>{% trans %}Open Tickets{% endtrans %}</th>
        <th>{% trans %}Closed Tickets{% endtrans %}</th>
        <th>{% trans %}Total Tickets{% endtrans %}</th>
        <th>{% trans %}Average Resolution Time (all time){% endtrans %}</th>
        <th>{% trans %}Average Resolution Time (last 30 tickets){% endtrans %}</th>
    </tr>
</thead>
<tbody>
{% for researcher in researchers %}
    <tr>
        <td>
            {% if researcher.is_volunteer %}<abbr title="Volunteer">V</abbr>{% endif %}
            {% if researcher.is_staff %}<abbr title="Staff member">S</abbr>{% endif %}
            {% if researcher.is_superuser %}<abbr title="Administrator">A</abbr>{% endif %}
        </td>
        <td><a href="{{url("profile", researcher.id)}}">{{researcher}}</a></td>
        <td>{{researcher.tickets_assigned_open()}}</td>
        <td>{{researcher.tickets_assigned_closed()}}</td>
        <td>{{researcher.tickets_assigned_total()}}</td>
        <td>{{researcher.tickets_average_resolution_time()}}</td>
        <td>{{researcher.tickets_average_resolution_time_last_30()}}</td>
    </tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
