{% extends "tickets/request_base.jinja" %}

{% block inner_content %}

<h2>{% trans %}Fees charged to budgets{% endtrans %}</h2>

<table class="table">
<thead>
    <tr><th>{% trans %}Budget{% endtrans %}</th><th>{% trans %}Total costs{% endtrans %}</th><th>{% trans %}Details{% endtrans %}</th></tr>
</thead>
<tbody>
{% for budget in budgets %}
    <tr><td>{{budget}}</td><td>{{budget.get_payment_total()}}</td><td>{% trans %}Details{% endtrans %}</td></tr>
{% endfor %}
</tbody>
</table>

<div class="pull-right">
    <a class="btn btn-small" href="?format=csv"><i class="fa fa-file-excel-o"></i> {% trans %}Download as CSV{% endtrans %}</a>
    <a class="btn btn-small" href="?format=json"><i class="fa fa-file-o"></i> {% trans %}Download as JSON{% endtrans %}</a>
</div>

{% endblock %}
