{% extends "tickets/request_base.jinja" %}

{% block inner_content %}

<h2>Fees charged to budgets</h2>

<table class="table">
<thead>
    <tr><th>Budget</th><th>Total costs</th><th>Details</th></tr>
</thead>
<tbody>
{% for budget in budgets %}
    <tr><td>{{budget}}</td><td>{{budget.get_payment_total()}}</td><td>Details</td></tr>
{% endfor %}
</tbody>
</table>

<div class="pull-right">
    <a class="btn btn-small" href="?format=csv"><i class="fa fa-file-excel-o"></i> {% trans %}Download as CSV{% endtrans %}</a>
    <a class="btn btn-small" href="?format=json"><i class="fa fa-file-o"></i> {% trans %}Download as JSON{% endtrans %}</a>
</div>

{% endblock %}
