{% extends "manage_base.jinja" %}

{% block admin_content %}
<div class='page-header'>
    <h1>{% block crud_title %}Budgets{% endblock %}</h1>
</div>

<div class="row">
	<div class="span4 well">
		<p>{% trans %}Here you can define budgets that OCCRP has to work with.{% endtrans %}</p>
	</div>
	<div class="span4">
		<form action="{{ url('manage_budgets') }}" method="POST">
		{% csrf_token %}
		<table>
		{{form.as_table()}}
		</table>
		<input type="submit" class="btn btn-primary" value="Add"/>
	</div>
</form>

</div>

<h2>{% trans %}All budgets{% endtrans %}</h2>
<table class="table table-border">
<thead>
	<tr>
		<th>{{ _("Name") }}</th>
		<th>{{ _("Description") }}</th>
	</tr>
</thead>
<tbody>
	{% for i in object_list %}
	<tr>
		<td>{{i.name}}</td>
		<td>{{i.description}}</td>
	</tr>
	{% else %}
	<tr>
		<td colspan="3"><div style="margin: 3em; text-align: center;">{{ _("No budgets defined") }}</div></td>
	{% endfor %}
</tbody>
</table>

    
{% endblock %}
