{% extends "manage_base.jinja" %}
{% block admin_content %}

<h2>{% trans %}Administration stream{% endtrans %}</h2>
<div class="stream">
  {% for notification in stream %}
    <div class="notification">
      <i class="fa fa-{{notification.get_icon()}}"></i>
      {{notification.text}}
    </div>
  {% else %}
    <div class="alert alert-notice">
      {% trans %}No notifications worthy of your attention, administrator.{% endtrans %}
    </div>
  {% endfor %}
</div>

{% endblock %}
