{% extends "manage_base.jinja" %}

{% block admin_content %}
    <div class='page-header'>
        <h1>{% block crud_title %}{% trans %}Statistics{% endtrans %}{% endblock %}</h1>
       	<p>{% trans %}Investigative Dashboard version {{version}}.{% endtrans %}</p>

    </div>
<div>
<h2>Basic Statistics</h2>
<ul class="statistics_boards">
  <li>
    {% trans %}{{tickets_opened}} research requests ({{tickets_people}} about people, {{tickets_company}} about companies, {{tickets_other}} about other topics){% endtrans %}
  </li>
  <li>
    {% trans %}{{tickets_closed}} research requests completed, {{tickets_in_progress}} still in progress{% endtrans %}
  </li>
  <li>
    {% trans %}{{accounts}} accounts ({{accounts_staff}} staff, {{accounts_admin}} admin){% endtrans %}
  </li>
</ul>
</div>

<div>
	<h2>{% trans %}Networks{% endtrans %}</h2>
	<table class="table table-border">
	<thead>
		<tr>
			<th>{% trans %}Name{% endtrans %}</th>
			<th>{% trans %}Members{% endtrans %}</th>
			<th>{% trans %}Total costs incurred{% endtrans %}</th>
		</tr>
	</thead>
	<tbody>
		{% for network in networks %}
		<tr>
			<td>{{network.short_name}}</td>
			<td>{{network.members.count()}}</td>
			<td>{{network.get_payment_total()}} USD</td>
		</tr>
		{% endfor %}
		<tr>
			<td>{% trans %}Unaffiliated{% endtrans %}</td>
			<td>{{unaffiliated_users_count}}</td>
			<td>{{unaffiliated_costs_total}} USD</td>
		</tr>
	</tbody>
	</table>
</div>

{% endblock %}
