{% import "macros/macros.jinja" as macros %}

<html>
<head></head>
<body>
<table align="center" border="0" cellpadding="0" cellspacing="0" style="width:100%;background-color:#f0f0f0">
    <tbody><tr valign="top">
        <td style="padding:16px!important">
            <table align="center" border="0" cellpadding="0" cellspacing="0" style="width:100%;background-color:#ffffff;border:1px solid #bbbbbb">
                <tbody><tr valign="top">
                    <td bgcolor="#3a4953" style="background-color: #3a4953;color:#f0f0f0;font-family:Tahoma, sans-serif;font-size:12px;line-height:1;padding: 6px;font-size: 19px;text-shadow: 0 1px 0 #880a05;">
                        {% trans %}Investigative Dashboard{% endtrans %}
                    </td>
                </tr><tr valign="top">
                    <td style="padding:32px 32px 0 32px">
                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="width:100%">
                            <tbody><tr valign="top">
                                <td style="color:#505050;font-family:Tahoma, sans-serif;padding:0">
                                    {% block title %}{% endblock %}
                                </td>
                            </tr></tbody>
                        </table>
                    </td>
                </tr>
                <tr valign="top">
                    <td style="padding:0 32px 32px 32px">
                        {% block body %}{% endblock %}
                    </td>
                </tr>

            </tbody></table>
        </td>
    </tr>
    <tr valign="top">
        <td style="color:#505050;font-family:Tahoma, sans-serif;font-size:10px;line-height:14px;padding:0 16px 16px 16px;text-align:center">
            {% trans %}This message is automatically generated by {% endtrans %}<span class="il">{% trans %}OCCRP Investigative Dashboard{% endtrans %}</span>.<br>
            {% trans %}If you think it was sent incorrectly, please contact an {% endtrans %}<span class="il">{% trans %}Investigative Dashboard{% endtrans %}</span> {% trans %}administrator{% endtrans %}<br>
            {% trans %}For more information on {% endtrans %}<span class="il">{% trans %}Investigative Dashboard{% endtrans %}</span>, 
            {% trans %}visit{% endtrans %}: <a href="{{ uri_for('home', _full=True) }}" target="_blank">{{ uri_for('home', _full=True) }}</a>. You can also email <a href="mailto:research@occrp.org">research@occrp.org</a>.
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
