{% extends "layout/default.jinja" %}
{% block title %}{% trans -%}Dig for the facts{%- endtrans %}{% endblock %}
{% block content_class %}home{% endblock %}

{% block content %}
  <div class="jumbotron">
    <div class="container">
      <h1>Dig for the facts</h1>
      <p>We help journalists anywhere to trace people,<br> companies and assets across the globe.</p>
    </div>
  </div>
  <div class="container services">

    {% if EMERGENCY %}
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-danger">
            {{EMERGENCY}}
          </div>
        </div>
      </div>
    {% endif %}

    <div class="row">
      <div class="col-md-4 col-sm-6">
        <h3>
          <i class="fa fa-fw fa-comments-o"></i>
          Ask our researchers
        </h3>
        <p>
          Journalists can rely on the assistance of the
          research team to take their stories cross-border.
        </p>
        <p>
          <a href="{{ url('tickets_home') }}/new">Send a research request</a>
        </p>
      </div>
      <div class="col-md-4 col-sm-6">
        <h3>
          <i class="fa fa-fw fa-search"></i>
          Search for leads
        </h3>
        <p>
          Search millions of documents and datasets, from public sources,
          leaks and investigations.
        </p>
        <p>
          {% if user.is_authenticated() %}
            <a href="{{ALEPH_URL}}/api/1/sessions/login">
          {% else %}
            <a href="{{ALEPH_URL}}">
          {% endif %}
            Search our document archive</a>
        </p>
      </div>
      <div class="col-md-4 col-sm-6">
        <h3>
          <i class="fa fa-fw fa-map-o"></i>
          Map your investigation
        </h3>
        <p>
          Create visual investigative scenarios that map the
          people and companies in your story.
        </p>
        <p>
          <a href="https://vis.occrp.org">Visualise networks</a>
        </p>
      </div>
      <div class="col-md-4 col-sm-6">
        <h3>
          <i class="fa fa-fw fa-cloud-upload"></i>
          Search your stuff
        </h3>
        <p>
          Upload documents, make them searchable, and find mentions
          of persons and companies.
        </p>
        <p>
          {% if user.is_authenticated() %}
            <a href="{{ALEPH_URL}}/api/1/sessions/login?next=/collections">
          {% else %}
            <a href="{{ALEPH_URL}}/collections">
          {% endif %}
            Upload and search documents</a>
        </p>
      </div>
      <div class="col-md-4 col-sm-6">
        <h3>
          <i class="fa fa-fw fa-database"></i>
          Find online sources
        </h3>
        <p>
          Browse our global index of public registries for companies,
          land registries and courts.
        </p>
        <p>
          <a href="{{ url('databases:index') }}">Find public databases</a>
        </p>
      </div>
      <div class="col-md-4 col-sm-6">
        <h3>
          <i class="fa fa-fw fa-question-circle"></i>
          Learn more about ID
        </h3>
        <p>
          Make your documents searchable, find entities in them,
          and plot the findings as a network diagram.
        </p>
        <p>
          <a href="/about/id2/">About Investigative Dashboard</a>
        </p>
      </div>
    </div>
  </div>

  <div class="team">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3>Your researchers</h3>
          <p>
            Our research team has worked on dozens of award-winning investigations in different
            regions. Their support is free for reporters from anywhere in the world.
          </p>
        </div>
        <div class="col-md-3 col-sm-6">
          <img src="{{ static('images/staff/lejlac.png') }}">
          <h4>
            Lejla Čamdžić
          </h4>
          <p>
            Tracks people, companies and assets in offshore jurisdictions and identifies
            resources to help journalists in their research.
          </p>
        </div>
        <div class="col-md-3 col-sm-6">
          <img src="{{ static('images/staff/lejlas.png') }}">
          <h4>
            Lejla Sarčević
          </h4>
          <p>
            Hunts down tangible assets and their owners such as property, cars, yachts
            and factories. Focus on public records in the United States.
          </p>
        </div>
        <div class="col-md-3 col-sm-6">
          <img src="{{ static('images/staff/olesya.png') }}">
          <h4>
            Olesya Shmagun
          </h4>
          <p>
            Tracks companies, people and assets in the Russian Federation, and identifies
            relevant databases in the country.
          </p>
        </div>
        <div class="col-md-3 col-sm-6">
          <img src="{{ static('images/staff/dragana.png') }}">
          <h4>
            Dragana Peco
          </h4>
          <p>
            Tracks hidden assets and business interests across the Balkan countries and
            in broader Eastern Europe.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="credits">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3>Who is behind this?</h3>
          <p>
            The Investigative Dashboard is operated by the <a href="https://occrp.org">Organised
            Crime and Corruption Reporting Project</a>, a not-for-profit network of
            award-winning investigative reporting teams. ID is supported by international
            partner networks and our donors.
          </p>
        </div>
        <div class="col-md-12 logos">
          <a href="https://occrp.org" class="logo first">
            <img src="{{ static('images/logos/occrp.png' )}}">
          </a>
          <a href="http://en.arij.net/" class="logo">
            <img src="{{ static('images/logos/arij.png' )}}">
          </a>
          <a href="https://investigativecenters.org/" class="logo">
            <img src="{{ static('images/logos/ancir.png' )}}">
          </a>
        </div>
        <div class="col-md-12 logos">
          <a href="https://jigsaw.google.com/" class="logo first">
            <img src="{{ static('images/logos/jigsaw_mpb.png' )}}">
          </a>
          <a href="https://www.opensocietyfoundations.org/" class="logo">
            <img src="{{ static('images/logos/osf.png' )}}">
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="databases databases-index">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3>Catalogue of research databases</h3>
          <p>
            Below is a collection of the most useful public data sources for investigative
            reporting compiled by OCCRP's researchers.
          </p>
          {% include "includes/db_index.jinja" with context %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}
