{% extends "layout/spa.jinja" %}

/* Add extra assets into HTML head */
{% block head_extra %}
  <link rel="stylesheet" href="/static/frontend/dist/assets/vendor.css?{{current_ts}}">
  <link rel="stylesheet" href="/static/css/spa-id.css?{{current_ts}}">
  <link rel="stylesheet" href="/static/frontend/dist/assets/id.css?{{current_ts}}">
{% endblock %}

/* Set page title */
{% block title %}
  {% trans -%}Dig for the facts{%- endtrans %}
{% endblock %}

/* Load the Ember.js application */
{% block content %}
  <div id="ember-app"></div>

  <script src="/static/frontend/dist/assets/vendor.js?{{current_ts}}"></script>
  <script src="/static/frontend/dist/assets/id.js?{{current_ts}}"></script>
{% endblock %}
