{% extends "layout/spa.jinja" %}

/* Add extra assets into HTML head */
{% block head_extra %}
  <link rel="stylesheet" href="/static/frontend/dist/assets/vendor.css?{{current_ts}}">
  <link rel="stylesheet" href="/static/css/spa-id.css?{{current_ts}}">
  <link rel="stylesheet" href="/static/frontend/dist/assets/id.css?{{current_ts}}">

  <script>

    var ajax = new XMLHttpRequest();
    ajax.open('GET', '/static/frontend/dist/assets/symbols.svg', true);
    ajax.send();
    ajax.onload = function(e) {
      if (this.status === 404) {
        return;
      }
      var div = document.createElement('div');
      div.innerHTML = ajax.responseText;
      document.body.insertBefore(div, document.body.childNodes[0]);
    };
  </script>
{% endblock %}

/* Set page title */
{% block title %}
  {% trans -%}Dig for the facts{%- endtrans %}
{% endblock %}

/* Load the Ember.js application */
{% block content %}
  <div id="ember-app"></div>

  <script src="/static/frontend/dist/assets/vendor.js?{{current_ts}}"></script>
  <script src="/static/frontend/dist/assets/id.js?{{current_ts}}"></script>
{% endblock %}
