name: ID

on: [push, pull_request]

jobs:
  ci:
    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@master

    - name: Builds the Docker image
      run: docker-compose run api sh -c 'python manage.py migrate --configuration=Production'

    - name: Runs code QA and tests
      run: docker-compose run api sh -c 'pip install -q --no-cache-dir -r requirements-testing.txt && flake8 && python manage.py test'
